<!-- Top Header-Profile -->

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb">
                        <img src="{{ url+ 'get-portada-user/' + user.portada }}" *ngIf="user.portada">
                        <img src="assets/img/top-header1.jpg" *ngIf="!user.portada" alt="nature">
                    </div>
                    <div class="profile-section">
                        <div class="row">
                            <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="{{'perfil/' + user._id}}" class="active" class="correctWeight">Mis publicaciones</a>
                                    </li>
                                    <li>
                                        <a href="{{'perfil/' + user._id}}" class="correctWeight">Perfil</a>
                                    </li>
                                    <li>
                                        <a href="06-ProfilePage.html " class="correctWeight">Amigos</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="{{'fotos/' + user._id}}" class="correctWeight">Fotos</a>
                                    </li>
                                    <li>
                                        <a href="{{'videos/' + user._id}}" class="correctWeight">Videos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="top-header-author profile">
                        <a href="{{'perfil/' + user._id}}" class="author-thumb">
                            <img src="{{ url+ 'get-image-user/' + user.image }}" *ngIf="user.image">
                            <img src="assets/user.png" *ngIf="!user.image">
                        </a>
                        <div class="author-content">
                            <a href="{{'perfil/' + user._id}}" class="h4 author-name">{{user.name}} {{user.surname}}</a>
                            <div class="country">{{user.ciudad}} - {{user.localidad}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... end Top Header-Profile -->

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block responsive-flex">
                <div class="ui-block-title">
                    <div class="h2 title">Galeria de Fotos de {{user.name}}</div>
                    <a class="more"><svg class="olymp-three-dots-icon">
                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <!-- Tab panes -->
            <div class="tab-content">

                    <div class="photo-album-wrapper">

                        <div *ngFor="let publication of publications" class="photo-item col-4-width">
                            <div
                                *ngIf="publication.file != 'null' && (publication.file.includes('jpg') || publication.file.includes('png') || publication.file.includes('jpeg') || publication.file.includes('gif'))">

                                <img src="{{ url  + 'get-image-pub/' + publication.file}}" alt="photo">
                                <div class="overlay overlay-dark"></div>
                                <a class="more"><svg class="olymp-three-dots-icon">
                                        <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
                                        </use>
                                    </svg></a>
                                <a href="#" class="post-add-icon inline-items">
                                    <svg class="olymp-heart-icon">
                                        <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
                                    </svg>
                                    <span>{{publication.likes}}</span>
                                </a>
                                <a class="  full-block"></a>
                                <div class="content">
                                    <a href="#" class="h6 title"> {{publication.text}} </a>
                                    <time class="published" datetime="2017-03-24T18:18">{{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</time>
                                </div>
                            </div>

                            <a class="btn btn-control btn-more"><svg class="olymp-three-dots-icon">
                                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                </svg></a>
                        </div>
                    </div>

                
            </div>

        </div>
    </div>
</div>

