<!-- <div class="container-fluid form">
    <div class="row" *ngIf="CurrentState=='Wait'">
        <div class="col-md-12  close-form">
            <h2> Please Wait...</h2>
        </div>
    </div>
    <div class="row"
        *ngIf="CurrentState=='NotVerified'">
        <div class="col-md-12">
            <h2> Invalid URL.</h2>
        </div>
    </div>
    <div class="row" *ngIf="CurrentState=='Verified'">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Set New Password</h5>
                    <div>
                        <div id="errorMsg" *ngIf="errorMessage">
                            <span>{{errorMessage}}</span>
                        </div>
                        <div id="successMsg" *ngIf="successMessage">
                            <span>{{successMessage}}</span>
                        </div>
                        <form action="" [formGroup]="ResponseResetForm" (ngSubmit)="ResetPassword(ResponseResetForm)">
                            <div class="form-group">
                                <input _ngcontent-c0="" class="form-control form-control-lg" placeholder="Password"
                                    type="password" id="password" formControlName="newPassword" />
                                <span *ngIf="!ResponseResetForm.get('newPassword').valid && !IsResetFormValid"
                                    class="help-block">Password is required with atleast 4 characters.</span>
                            </div>
                            <div class="form-group">
                                <input _ngcontent-c0="" class="form-control form-control-lg"
                                    placeholder="Confirm Password" type="password" id="cpassword"
                                    formControlName="confirmPassword" />
                                <span *ngIf="!ResponseResetForm.get('confirmPassword').valid && !IsResetFormValid"
                                    class="help-block">. </span>
                                <span
                                    *ngIf="ResponseResetForm.get('confirmPassword').valid && (ResponseResetForm.get('confirmPassword').value != ResponseResetForm.get('newPassword').value) && !IsResetFormValid"
                                    class="help-block">Confirm Password does not match with password.</span>
                            </div>
                            <div class="form-group">
                                <div>

                                    <button type="submit" class="  btn btn-primary">Update
                                        Password</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>-->

<body class="landing-page">
    <!-- Preloader -->


    <!-- ... end Preloader -->
    <div class="content-bg-wrap"></div>


    <!-- Header Standard Landing  -->

    <div class="header--standard header--standard-landing" id="header--standard">
        <div class="container">
            <div class="header--standard-wrap">

                <a href="#" class="logo">
                    <div class="img-wrap">
                        <img src="assets/img/logo_BO_social.png" alt="BO-Social Logo">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid form">
        <div class="row" *ngIf="CurrentState=='Wait'">
            <div class="col-md-12  close-form">
                <h2> Por favor espera
                    ...</h2>
            </div>
        </div>
        <div class="row" *ngIf="CurrentState=='NotVerified'">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto p-3" id="invalidC">
                <h2 class="mt-5 mb-3"> URL invalida.
                    <br>
                    O el token ya expiro.
                </h2>
                <div class="form-group text-center">
                    <div id="irInicioRes">
                        <a href="/login" class="btn btn-primary mt-4">Ir al inicio
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="CurrentState=='Verified'">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5 p-3">
                    <div class="card-body">
                        <h5 class="card-title text-center">Establecer nueva contraseña</h5>
                        <div class="mt-4">
                            <div id="errorMsg" *ngIf="errorMessage">
                                <span>{{errorMessage}}</span>
                            </div>
                            <div id="successMsg" *ngIf="successMessage">
                                <span>{{successMessage}}</span>
                            </div>
                            <form action="" [formGroup]="ResponseResetForm"
                                (ngSubmit)="ResetPassword(ResponseResetForm)">
                                <div class="form-group">
                                    <input _ngcontent-c0="" class="form-control" placeholder="Contraseña"
                                        type="password" id="password" formControlName="newPassword" style="padding: .65rem 1rem;" />
                                    <span *ngIf="!ResponseResetForm.get('newPassword').valid && !IsResetFormValid"
                                        class="help-block">
                                        Se requiere una contraseña con al menos 6 caracteres.</span>
                                </div>
                                <div class="form-group">
                                    <input _ngcontent-c0="" class="form-control"
                                        placeholder="Confirmar contraseña" type="password" id="cpassword"
                                        formControlName="confirmPassword" style="padding: .65rem 1rem;"/>
                                    <span *ngIf="!ResponseResetForm.get('confirmPassword').valid && !IsResetFormValid"
                                        class="help-block">. </span>
                                    <span
                                        *ngIf="ResponseResetForm.get('confirmPassword').valid && (ResponseResetForm.get('confirmPassword').value != ResponseResetForm.get('newPassword').value) && !IsResetFormValid"
                                        class="help-block">
                                        Confirmar contraseña no coincide con la contraseña.</span>
                                </div>
                                <div class="form-group text-center">
                                    <div>

                                        <button type="submit" class="btn btn-primary mt-4">Actualizar contraseña
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footerLogin">
        <div class="row">
            <div class="col"><a href="#" class="forgot" data-toggle="modal" data-target="#terminos-condiciones">Terminos
                    & Condiciones</a></div>
            <div class="col"><a href="#">Quiénes somos </a></div>
            <div class="col"><a href="#">Politica de privacidad</a></div>
            <div class="col"><a href="#">Contáctenos</a></div>
            <div class="col">Español</div>
            <div class="col">© 2020 Bo-Social</div>
        </div>

    </footer>
    <!-- Window-popup Términos y condiciones-->

    <div class="modal fade" id="terminos-condiciones" tabindex="-1" role="dialog" aria-labelledby="terminos-condiciones"
        aria-hidden="true">
        <div class="modal-dialog window-popup terminos-condiciones-popup" role="document">
            <div class="modal-content" style="height: 385px !important;">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <img class="olymp-close-icon closePopup" src="assets/svg-icons/iconBO/close_popUp.svg">
                </a>

                <div class="modal-header resPassword">
                    <h6 class="title" style="color:#000; font-size:1.2rem;border-bottom:0px; margin-bottom:0px;">
                        Términos y condiciones</h6>
                </div>

                <div class="modal-body">
                    <p>
                        En cumplimiento a lo estipulado en la Ley 1581 de 2012 reglamentada por el Decreto 1377 de
                        2013 “por la cual se dictan disposiciones generales para la protección de datos personales”,
                        mediante el registro de sus datos personales en el presente formulario usted autoriza a
                        BO-SOCIAL, para la recolección, almacenamiento y uso de los mismos con la finalidad de
                        adelantar el trámite de inscripción virtual, así como para transferir dichos datos o
                        información parcial o total a sus comercios y empresas aliadas, informar sobre
                        actualizaciones de los productos de nuestros proveedores, para formalizar la relación de
                        consumo de los productos y/o servicios ofrecidos y para solicitarle que evalúe la calidad de
                        nuestros servicios. Para mayor información consulte nuestra Política de Tratamiento de Datos
                        Personales, ingresando a www.BO-SOCIAL.com”
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <!--... end Window-popup terminos y condiciones-->

</body>