<div class="container mt-5">
    <div class="row">
        <div class="col col-lg-1 col-sm-1 col-1"></div>
        <div class="col col-lg-10 col-sm-12 col-10 contabilidadUno">
            <div class="money mb-4">
                <p class="text-center mb-0">Disponible</p>
                <p class="text-center">
                    <span><a href="#" data-toggle="modal" data-target="#popUpAgregar"><img
                                src="assets/svg-icons/iconBO/moreGreen.svg" alt="Icono más" width="20"
                                height="auto"></a></span>
                    <span>$1´343.900</span>
                    <span><a href="#"><img src="assets/svg-icons/iconBO/menosRed.svg" alt="Icono menos" width="20"
                                height="auto"></a></span>

                </p>
            </div>
        </div>
        <div class="col col-lg-1 col-sm-1 col-1"></div>

    </div>

    <div class="row">
        <div class="col col-lg-1 col-sm-1 col-1"></div>
        <div class="col col-lg-10 col-sm-12 col-10 contabilidad">

            <div class="ui-block responsive-flex">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Contratista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Prestador de servicio</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <br>
                        <div id="headerContratista">
                            <div class="row">
                                <div class="col col-lg-3 col-sm-3 col-3">
                                    <a href="#" class="btnAdd forgot" data-toggle="modal"
                                        data-target="#popUpAgregarContratista"> + Agregar </a>
                                </div>
                                <div class="col col-lg-4 col-sm-4 col-4">
                                    <form class="searchT">
                                        <label>Buscar:</label>

                                    </form>
                                </div>
                                <div class="col col-lg-5 col-sm-5 col-5">
                                    <ul class="exportTable">
                                        <li id="export-json"><a href="javascript:void(0)">JSON</a></li>
                                        <li id="export-xml"><a href="javascript:void(0)">XML</a></li>
                                        <li id="export-csv"><a href="javascript:void(0)">CSV</a></li>
                                        <li id="export-txt"><a href="javascript:void(0)">TXT</a></li>
                                        <li id="export-sql"><a href="javascript:void(0)">SQL</a></li>
                                        <li id="export-excel"><a href="javascript:void(0)">EXCEL</a></li>
                                        <li id="export-pdf"><a href="javascript:void(0)">PDF</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <table id="table" data-toggle="table" data-toolbar="#toolbar"
                            class="table-responsive table table-hover" data-search="true">
                            <thead>
                                <tr>
                                    <th data-field="name" data-filter-control="input" data-sortable="true">Nombre del
                                        contratista</th>
                                    <th data-field="note" data-sortable="true">Tipo servicio</th>
                                    <th data-field="note" data-sortable="true">Descripción</th>
                                    <th data-field="date" data-sortable="true">Fecha</th>
                                    <th data-field="price" data-sortable="true">Costo sevicio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let provider of providers">
                                    <td>{{provider.userContratante.name}} {{provider.userContratante.surname}}</td>
                                    <td>{{provider.userContratante.tipo_servicio}}</td>
                                    <td>{{provider.title}}</td>
                                    <td>{{provider.date}}</td>
                                    <td>${{provider.cost}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <!--Total-->
                        <div class="serviceTotal mt-4 mb-2">
                            <div class="row">
                                <div class="col col-lg-6 col-sm-6 col-6">
                                    <a href="#" class="btnAdd forgot" data-toggle="modal"
                                        data-target="#popUpAgregarContratista"> </a>
                                </div>
                                <div class="col col-lg-5 col-sm-5 col-5 text-right">
                                    <p class="total"></p>
                                </div>
                                <div class="col col-lg-1 col-sm-1 col-1"></div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <br>
                        <div id="headerContratista">
                            <div class="row">
                                <div class="col col-lg-3 col-sm-3 col-3">
                                    <a href="#" class="btnAdd forgot" data-toggle="modal"
                                        data-target="#popUpAgregarContratista"> + Agregar </a>
                                </div>
                                <div class="col col-lg-4 col-sm-4 col-4">
                                    <form class="searchT">
                                        <label>Buscar:</label>

                                    </form>
                                </div>
                                <div class="col col-lg-5 col-sm-5 col-5">
                                    <ul class="exportTable">
                                        <li id="export-json1"><a href="javascript:void(0)">JSON</a></li>
                                        <li id="export-xml1"><a href="javascript:void(0)">XML</a></li>
                                        <li id="export-csv1"><a href="javascript:void(0)">CSV</a></li>
                                        <li id="export-txt1"><a href="javascript:void(0)">TXT</a></li>
                                        <li id="export-sql1"><a href="javascript:void(0)">SQL</a></li>
                                        <li id="export-excel1"><a href="javascript:void(0)">EXCEL</a></li>
                                        <li id="export-pdf1"><a href="javascript:void(0)">PDF</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <table id="table2" data-toggle="table" data-toolbar="#toolbar"
                            class="table-responsive table table-hover" data-search="true">
                            <thead>
                                <tr>
                                    <th data-field="name" data-filter-control="input" data-sortable="true">Nombre del
                                        contratista</th>
                                    <th data-field="note" data-sortable="true">Tipo servicio</th>
                                    <th data-field="note" data-sortable="true">Descripción</th>
                                    <th data-field="date" data-sortable="true">Fecha</th>
                                    <th data-field="price" data-sortable="true">Costo sevicio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let contractor of contractors">
                                    <td>{{contractor.userContratista.name}} {{contractor.userContratista.surname}}</td>
                                    <td>{{contractor.userContratista.tipo_servicio}}</td>
                                    <td>{{contractor.title}}</td>
                                    <td>{{contractor.date}}</td>
                                    <td>${{contractor.cost}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <!--Total-->
                        <div class="serviceTotal mt-4 mb-2">
                            <div class="row">
                                <div class="col col-lg-6 col-sm-6 col-6">
                                    <a href="#" class="btnAdd forgot" data-toggle="modal"
                                        data-target="#popUpAgregarContratista"> </a>
                                </div>
                                <div class="col col-lg-5 col-sm-5 col-5 text-right">
                                    <p class="total"></p>
                                </div>
                                <div class="col col-lg-1 col-sm-1 col-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Graphic-->
            <div class="ui-block responsive-flex">
                <div class="ui-block-title">
                    <div class="h4 title">Tendencia del saldo</div>

                    <a href="#" class="more"><svg class="olymp-three-dots-icon">
                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                        </svg></a>
                </div>

                <div class="ui-block-content">
                    <div class="chart-js chart-js-line-chart">
                        <canvas #barCanvas></canvas>
                    </div>
                </div>
            </div>

            <!--Graphic-->
            <div class="ui-block responsive-flex">
                <div class="ui-block-title">
                    <div class="h4 title">Tendencia del saldo</div>

                    <a href="#" class="more"><svg class="olymp-three-dots-icon">
                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                        </svg></a>
                </div>

                <div class="ui-block-content">
                    <div class="chart-js chart-js-line-chart">
                        <canvas #doughnutCanvas></canvas>
                    </div>
                </div>
            </div>

            <!--Graphic-->
            <div class="ui-block responsive-flex">
                <div class="ui-block-title">
                    <div class="h4 title">Tendencia del saldo</div>

                    <a href="#" class="more"><svg class="olymp-three-dots-icon">
                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                        </svg></a>
                </div>

                <div class="ui-block-content">
                    <div class="chart-js chart-js-line-chart">
                        <canvas #lineCanvas></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-1 col-sm-1 col-1"></div>
    </div>


</div>