
<!-- <div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Registro Completado correctamente, <a [routerLink]="['/login']">Identificate aqui</a>
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        El Registro no ha podido completarse, quizas tu email o nickname ya este en uso, intentalo de nuevo
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label for="">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control inputRegister" required />
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio!!
            </span>
        </p>

        <p>
            <label for="">Apellidos</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control inputRegister" required />
            <span *ngIf="!surname.valid && surname.touched">
                los apellidos son obligatorios!!
            </span>
        </p>

        <p>
            <label for="">Apodo</label>
            <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control inputRegister" required />
            <span *ngIf="!nick.valid && nick.touched">
                El apodo es obligatorio!!
            </span>
        </p>

        <p>
            <label for="">Correo electronico</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control inputRegister" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
            <span *ngIf="!email.valid && email.touched">
                El correo no es valido!!
            </span>
        </p>

        <p>
            <label for="">Contraseña</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control inputRegister" required />
            <span *ngIf="!password.valid && password.touched">
                La Contraseña es obligatoria!!
            </span>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid">
    </form>
</div> -->

<div class="alert alert-success" *ngIf="status == 'success'">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Registro Completado correctamente, ya puedes iniciar sesión!
</div>

<div class="alert alert-danger" *ngIf="status == 'error'">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    El Registro no ha podido completarse, quizás tu email o nickname ya este en uso, inténtalo de nuevo
</div>

<div class="registration-login-form">
    <div class="title h2 center">Registro</div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="content">
        <div class="row">
            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <input placeholder="Nombre" type="text" name="name" #name="ngModel" [(ngModel)]="user.name"
                        class="form-control inputRegister " required />
                    <span *ngIf="!name.valid && name.touched">
                        El nombre es obligatorio!!
                    </span>
                </div>
            </div>
            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <input placeholder="Apellido" type="text" name="surname" #surname="ngModel"
                        [(ngModel)]="user.surname" class="form-control inputRegister" required />
                    <span *ngIf="!surname.valid && surname.touched">
                        los apellidos son obligatorios!!
                    </span>
                </div>
            </div>
            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <input placeholder="Correo electrónico" type="email" name="email" #email="ngModel"
                        [(ngModel)]="user.email" class="form-control inputRegister"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                    <span *ngIf="!email.valid && email.touched">
                        El correo no es valido!!
                    </span>
                </div>
            </div>
            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <input placeholder="Celular" type="number" name="telefono" #telefono="ngModel"
                        [(ngModel)]="user.telefono" class="form-control inputRegister" required />
                    <span *ngIf="!email.valid && email.touched">
                        El Celular es obligatorio!!
                    </span>
                </div>
            </div>
            <div class="Ocultar">
                <div class="row">
                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <select name="t_identificacion" #t_identificacion="ngModel"
                                [(ngModel)]="user.t_identificacion" class="browser-default custom-select">
                                <option value="" disabled selected hidden>Tipo de identificación</option>
                                <option value="Cédula de Ciudadanía">Cédula de Ciudadanía</option>
                                <option value="Cédula de Extranjería">Cédula de Extranjería</option>
                                <option value="CN Certificado de Nacido Vivo">CN Certificado de Nacido Vivo</option>
                                <option value="Pasaporte">Pasaporte</option>
                                <option value="PE Permiso Especial de Permanencia">PE Permiso Especial de Permanencia
                                </option>
                            </select>
                            <span *ngIf="!t_identificacion.valid && t_identificacion.touched">
                                Seleccione el Tipo de Identificación!!
                            </span>
                        </div>
                    </div>
                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <input name="n_identificacion" #n_identificacion="ngModel"
                                [(ngModel)]="user.n_identificacion" class="form-control inputRegister"
                                placeholder="Número de identificación" type="number">
                        </div>
                    </div>
                    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <input name="nick" #nick="ngModel" [(ngModel)]="user.nick"
                                class="form-control inputRegister" placeholder="Nombre comercial" type="text">
                        </div>
                    </div>
                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <input id="filterSelect" placeholder="Filtro servicios" type="text" class="form-control inputRegister"/>
                        </div>
                    </div>
                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                        <select id="selectFilter" name="tipo_servicio" #tipo_servicio="ngModel" [(ngModel)]="user.tipo_servicio"
                            class="browser-default custom-select">
                            <option value="" disabled selected hidden>Servicio a prestar</option>
                            <option value="Aseo">Aseo</option>
                            <option value="Mecanica">Mecanica</option>
                            <option value="Desarrollo Backend">Desarrollo Backend</option>
                            <option value="Desarrollo Frontend">Desarrollo Frontend</option>
                            <option value="Carpinteria">Carpinteria</option>
                            <option value="Albañil">Albañil</option>
                        </select>
                    </div>
                </div>
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <input name="servicios" #servicios="ngModel" [(ngModel)]="user.servicios"
                            class="form-control inputRegister" placeholder="Descripcion del Servicio" type="text">
                    </div>
                </div>
                <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <select name="ciudad" id="ciudad" #ciudad="ngModel" [(ngModel)]="user.ciudad"
                            class="browser-default custom-select country">
                        </select>
                    </div>
                </div>
                <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <select name="localidad" id="localidad" #localidad="ngModel" [(ngModel)]="user.localidad"
                            class="browser-default custom-select">
                        </select>
                    </div>
                </div>
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <input name="web" #web="ngModel" [(ngModel)]="user.web" class="form-control inputRegister"
                            placeholder="Sitio web" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <input placeholder="Contraseña" type="password" name="password" #password="ngModel"
                    [(ngModel)]="user.password" class="form-control inputRegister" required />
                <span *ngIf="!password.valid && password.touched">
                    La Contraseña es obligatoria!!
                </span>
            </div>
        </div>
        <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <input class="form-control inputRegister" placeholder="Confrimar Contraseña" type="password">
            </div>
        </div>
        <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Soy empresa o deseo ser
                        prestador de servicios</label>
                </div>
            </div>
        </div>

        <div class="row text-right">
            <div class="col col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12"></div>

            <div class="col col-12 col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
                <div class="remember">
                    <div class="checkbox">
                        <label>
                            <input name="optionsCheckboxes" type="checkbox">
                             <a href="#" class="forgot" data-toggle="modal"
                                        data-target="#terminos-condiciones">Acepto términos y condiciones</a>
                             
                        </label>
                    </div>
                </div>

                <input type="submit" value="{{title}}" class="btn btn-purple btn-lg full-width"
                    [disabled]="!registerForm.form.valid">
            </div>
        </div>
</div>
</form>
<div class="row" id="footerForm">
    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
        <div class="center">
            <hr align="left" noshade="noshade" size="2" /><span style="padding: 0px 1em; ">o
                regístrese usando</span>
            <hr align="right" noshade="noshade" size="2" />
        </div>
    </div>
    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 center">
        <div class="form-group">
            <a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left">
                <i class="fab fa-facebook-f" aria-hidden="true"> </i> &nbsp; &nbsp;Registro con
                Facebook
            </a>
        </div>
    </div>

    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 center">
        <div class="form-group">
            <a href="#" class="btn btn-lg bg-gmail full-width btn-icon-left">
                <i class="fab fa-google" aria-hidden="true"> </i> &nbsp; &nbsp;Registro con Google
            </a>

        </div>
    </div>
</div>

<!-- Window-popup Términos y condiciones-->

<div class="modal fade" id="terminos-condiciones" tabindex="-1" role="dialog" aria-labelledby="terminos-condiciones"
aria-hidden="true">
<div class="modal-dialog window-popup terminos-condiciones-popup" role="document">
    <div class="modal-content" style="height: 385px !important;">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <img class="olymp-close-icon closePopup" src="assets/svg-icons/iconBO/close_popUp.svg">
        </a>

        <div class="modal-header resPassword">
            <h6 class="title" style="color:#000; font-size:1.2rem;border-bottom:0px; margin-bottom:0px;">Términos y condiciones</h6>
        </div>

        <div class="modal-body">
            <p>
                En cumplimiento a lo estipulado en la Ley 1581 de 2012 reglamentada por el Decreto 1377 de 2013 “por la cual se dictan  disposiciones generales para la protección de datos personales”, mediante el registro de sus datos personales en el presente formulario usted autoriza a BO-SOCIAL, para la recolección, almacenamiento y uso de los mismos con la finalidad de adelantar el trámite de inscripción virtual, así como para transferir dichos datos o información parcial o total a sus comercios y empresas aliadas, informar sobre actualizaciones de los productos de nuestros proveedores, para formalizar la relación de consumo de los productos y/o servicios ofrecidos y para solicitarle que evalúe la calidad de nuestros servicios. Para mayor información consulte nuestra Política de Tratamiento de Datos Personales, ingresando a www.BO-SOCIAL.com”
            </p>
            <br/>
        </div>
    </div>
</div>
</div>
<!--... end Window-popup terminos y condiciones-->

</div>