<!DOCTYPE html>
<html lang="en">
<head>

	<title>Post Versions</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
	<script src="js/libs/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">



</head>
<body class="page-has-left-panels page-has-right-panels">

{{> preloaders/preloader-main }}

{{> headers-navigations/left-panel }}

{{> headers-navigations/left-panel-responsive }}

{{> headers-navigations/right-panel }}

{{> headers-navigations/right-panel-responsive }}

{{> headers-navigations/header-BP page-title="post versions" }}

{{> headers-navigations/header-BP-responsive }}

<div class="header-spacer"></div>


<div class="container">
	<div class="row">

		<!-- Main Content Post Versions -->

		<div class="col col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">

				{{> posts/posts1-BP}}

				{{> comments/comment-list3}}

				<a href="#" class="more-comments">Ver más comentarios <span>+</span></a>

				{{> forms/comment-form}}

			</div>

			<div class="ui-block">

				{{> posts/posts10-BP}}

				{{> comments/comment-list2}}

				{{> forms/comment-form}}

			</div>

			<div class="ui-block">

				{{> posts/posts11-BP}}

			</div>

			<div class="ui-block">

				{{> posts/posts12-BP}}

			</div>

			<div class="ui-block">

				{{> posts/posts13-BP}}

			</div>
		</div>

		<!-- ... end Main Content Post Versions -->


		<!-- Main Content Post Versions -->

		<div class="col col-xl-6 col-lg-12 col-md- col-sm-12 col-12">
			<div class="ui-block">
				{{> posts/posts1-BP}}

				{{> comments/comment-list-style2}}

				<a href="#" class="more-comments">Ver más comentarios <span>+</span></a>

				{{> forms/comment-form}}
			</div>

			<div class="ui-block">

				{{> posts/posts14-BP}}

			</div>

			<div class="ui-block">

				{{> posts/posts2-BP}}

			</div>

			<div class="ui-block">

				{{> posts/posts15-BP}}

			</div>

			<div class="ui-block">

				{{> posts/posts16-BP}}

			</div>

			<div class="ui-block">
				{{> posts/posts4-BP}}
			</div>
		</div>

		<!-- ... end Main Content Post Versions -->

	</div>
</div>



{{> windows-popup/blog-post-popup}}

{{> windows-popup/update-header-photo}}

{{> windows-popup/choose-from-my-photo}}

{{> back-to-top}}

{{> windows-popup/window-chat-responsive}}

<!-- JS Scripts -->
<script src="js/jQuery/jquery-3.4.1.js"></script>
<script src="js/libs/jquery.appear.js"></script>
<script src="js/libs/jquery.mousewheel.js"></script>
<script src="js/libs/perfect-scrollbar.js"></script>
<script src="js/libs/jquery.matchHeight.js"></script>
<script src="js/libs/svgxuse.js"></script>
<script src="js/libs/imagesloaded.pkgd.js"></script>
<script src="js/libs/Headroom.js"></script>
<script src="js/libs/velocity.js"></script>
<script src="js/libs/ScrollMagic.js"></script>
<script src="js/libs/jquery.waypoints.js"></script>
<script src="js/libs/jquery.countTo.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/material.min.js"></script>
<script src="js/libs/bootstrap-select.js"></script>
<script src="js/libs/smooth-scroll.js"></script>
<script src="js/libs/selectize.js"></script>
<script src="js/libs/swiper.jquery.js"></script>
<script src="js/libs/moment.js"></script>
<script src="js/libs/daterangepicker.js"></script>
<script src="js/libs/fullcalendar.js"></script>
<script src="js/libs/isotope.pkgd.js"></script>
<script src="js/libs/ajax-pagination.js"></script>
<script src="js/libs/Chart.js"></script>
<script src="js/libs/chartjs-plugin-deferred.js"></script>
<script src="js/libs/circle-progress.js"></script>
<script src="js/libs/loader.js"></script>
<script src="js/libs/run-chart.js"></script>
<script src="js/libs/jquery.magnific-popup.js"></script>
<script src="js/libs/jquery.gifplayer.js"></script>
<script src="js/libs/mediaelement-and-player.js"></script>
<script src="js/libs/mediaelement-playlist-plugin.min.js"></script>
<script src="js/libs/ion.rangeSlider.js"></script>
<script src="js/libs/leaflet.js"></script>
<script src="js/libs/MarkerClusterGroup.js"></script>

<script src="js/main.js"></script>
<script src="js/libs-init/libs-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>