<!DOCTYPE html>
<html lang="en">
<head>

	<title>Company Page - About Us</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">

	<!-- Main Font -->
	<script src="js/libs/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

</head>
<body class="body-bg-white">

{{> preloaders/preloader-main }}

{{> stunning-headers/stunning-header-about
	stunning-title = 'About Us'
}}


<section class="pt120">
	<div class="container">
		<div class="row mb60">
			<div class="col col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-12">
				<div class="crumina-module crumina-heading align-center">
					<div class="heading-sup-title">SOCIAL NETWORK</div>
					<h2 class="heading-title">Why Choose Olympus?</h2>
					<p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
				</div>
			</div>
		</div>

		<div class="info-box-wrap">
			<div class="row">
				<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

					{{> crumina-info-boxes/crumina-info-box1}}

				</div>
				<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

					{{> crumina-info-boxes/crumina-info-box2}}

				</div>
				<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

					{{> crumina-info-boxes/crumina-info-box3}}

				</div>
				<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

					{{> crumina-info-boxes/crumina-info-box4}}

				</div>
				<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

					{{> crumina-info-boxes/crumina-info-box5}}

				</div>
				<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

					{{> crumina-info-boxes/crumina-info-box6}}

				</div>
			</div>
		</div>

	</div>
</section>

<section class="medium-padding180 counters">
	<div class="container">
		<div class="row">

			{{> crumina-counters/crumina-counter-item1}}

			{{> crumina-counters/crumina-counter-item2}}

			{{> crumina-counters/crumina-counter-item3}}

			{{> crumina-counters/crumina-counter-item4}}

		</div>
	</div>
</section>


<section class="medium-padding180 body-bg-white">
	<div class="container">
		<div class="row">
			<div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 m-auto">
				<div class="crumina-module crumina-heading">
					<div class="heading-sup-title">THE OLYMPIANS</div>
					<h2 class="heading-title">Learn a little more about <span class="c-primary">Olympus</span> and how we started</h2>
					<p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
			</div>

			<div class="col col-xl-6 col-lg-6 ml-auto col-md-12 col-sm-12 col-12 align-right">
				<img src="img/screen.png" alt="screen" class="negative-margin-right150">
			</div>
		</div>

	</div>
</section>

<section class="medium-padding120">
	<div class="container">
		<div class="row mb60">
			<div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 m-auto">
				<div class="crumina-module crumina-heading align-center">
					<div class="heading-sup-title">THE OLYMPIANS</div>
					<h2 class="heading-title">Meet our Team</h2>
					<p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore
					</p>
				</div>
			</div>
		</div>

		<div class="row teammembers-wrap">
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				{{> crumina-teammembers/crumina-teammember-item1}}

			</div>
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				{{> crumina-teammembers/crumina-teammember-item2}}

			</div>
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				{{> crumina-teammembers/crumina-teammember-item3}}

			</div>
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				{{> crumina-teammembers/crumina-teammember-item4}}

			</div>
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				{{> crumina-teammembers/crumina-teammember-item5}}

			</div>
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				{{> crumina-teammembers/crumina-teammember-item6}}

			</div>
		</div>

	</div>
</section>


{{> block-action/block-action}}

{{> windows-popup/restore-password}}

{{> animation-sections/call-to-action-animation}}

{{> windows-popup/registration-login-form-popup}}

{{> footers/footer-full-width}}

{{> windows-popup/window-chat-responsive}}

{{> back-to-top}}


<!-- JS Scripts -->
<script src="js/jQuery/jquery-3.4.1.js"></script>
<script src="js/libs/jquery.appear.js"></script>
<script src="js/libs/jquery.mousewheel.js"></script>
<script src="js/libs/perfect-scrollbar.js"></script>
<script src="js/libs/jquery.matchHeight.js"></script>
<script src="js/libs/svgxuse.js"></script>
<script src="js/libs/imagesloaded.pkgd.js"></script>
<script src="js/libs/Headroom.js"></script>
<script src="js/libs/velocity.js"></script>
<script src="js/libs/ScrollMagic.js"></script>
<script src="js/libs/jquery.waypoints.js"></script>
<script src="js/libs/jquery.countTo.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/material.min.js"></script>
<script src="js/libs/bootstrap-select.js"></script>
<script src="js/libs/smooth-scroll.js"></script>
<script src="js/libs/selectize.js"></script>
<script src="js/libs/swiper.jquery.js"></script>
<script src="js/libs/moment.js"></script>
<script src="js/libs/daterangepicker.js"></script>
<script src="js/libs/fullcalendar.js"></script>
<script src="js/libs/isotope.pkgd.js"></script>
<script src="js/libs/ajax-pagination.js"></script>
<script src="js/libs/Chart.js"></script>
<script src="js/libs/chartjs-plugin-deferred.js"></script>
<script src="js/libs/circle-progress.js"></script>
<script src="js/libs/loader.js"></script>
<script src="js/libs/run-chart.js"></script>
<script src="js/libs/jquery.magnific-popup.js"></script>
<script src="js/libs/jquery.gifplayer.js"></script>
<script src="js/libs/mediaelement-and-player.js"></script>
<script src="js/libs/mediaelement-playlist-plugin.min.js"></script>
<script src="js/libs/ion.rangeSlider.js"></script>
<script src="js/libs/leaflet.js"></script>
<script src="js/libs/MarkerClusterGroup.js"></script>

<script src="js/main.js"></script>
<script src="js/libs-init/libs-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>