<!DOCTYPE html>
<html lang="en">
<head>

	<title>Profile Page</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
	<script src="js/libs/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">

</head>
<body class="mobile-app page-has-left-panels page-has-right-panels">

{{> preloaders/preloader-main }}

{{> headers-navigations/profile-settings-responsive }}

{{> headers-navigations/left-panel-responsive }}

{{> headers-navigations/right-panel-responsive }}

{{> headers-navigations/header-BP-responsive-app }}

<div class="header-spacer header-spacer-small"></div>

{{> headers-navigations/mobile-app-tabs }}

{{> headers-navigations/mobile-tab-content }}

<div class="ui-block">
	<div class="top-header">
		<div class="top-header-thumb">
			<img src="img/top-header1.jpg" alt="nature">
		</div>
		<div class="profile-section">
			<div class="top-header-author">
				<a href="#" class="author-thumb">
					<img src="img/author-main1.jpg" alt="author">
				</a>
				<div class="author-content">
					<a href="#" class="h4 author-name">James Spiegel</a>
					<div class="country">San Francisco, CA</div>
				</div>
			</div>

			<div class="control-block-button">
				<a href="#" class="btn btn-control bg-blue">
					<img src="./svg-icons/iconBO/icon_emoji.svg" alt="icono emoji" class="olymp-happy-face-icon">
				</a>
				<a href="#" class="btn btn-control bg-purple">
					<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
				</a>
				<div class="btn btn-control bg-primary more">
					<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
					<ul class="more-dropdown more-with-triangle triangle-bottom-right">
						<li>
							<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
						</li>
						<li>
							<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
						</li>
						<li>
							<a href="#">Account Settings</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">

		<!-- Main Content -->

		<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			<div id="newsfeed-items-grid">

				<div class="ui-block">
					{{> posts/posts1-BP}}
				</div>
				<div class="ui-block">
					{{> posts/posts2-BP}}
				</div>
				<div class="ui-block">
					{{> posts/posts3-BP}}
					{{> comments/comment-list1}}
					<a href="#" class="more-comments">Ver más comentarios <span>+</span></a>
					{{> forms/comment-form}}
				</div>
				<div class="ui-block">
					{{> posts/posts4-BP}}
				</div>
			</div>

			<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>
		</div>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Profile Intro</h6>
				</div>
				<div class="ui-block-content">

					{{> widgets/w-personal-info}}

					{{> widgets/w-socials}}

				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">James’s Badges</h6>
				</div>
				<div class="ui-block-content">

					{{> widgets/w-badges}}

				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">My Spotify Playlist</h6>
				</div>

				{{> widgets/w-playlist}}

			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Twitter Feed</h6>
				</div>

				{{> widgets/w-twitter}}

			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Last Videos</h6>
				</div>
				<div class="ui-block-content">

					{{> widgets/w-last-video}}

				</div>
			</div>
		</div>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Last Photos</h6>
				</div>
				<div class="ui-block-content">

					{{> widgets/w-last-photo}}

				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Blog Posts</h6>
				</div>
				{{> widgets/w-blog-posts}}

			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Amigos (86)</h6>
				</div>
				<div class="ui-block-content">

					{{> widgets/w-faved-pages}}

				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Favourite Pages</h6>
				</div>

				{{> widgets/w-friend-pages-added}}

			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">James's Poll</h6>
				</div>
				<div class="ui-block-content">

					{{> widgets/w-pool}}

					<a href="#" class="btn btn-md-2 btn-border-think custom-color c-grey full-width">Vote Now!</a>
				</div>
			</div>
		</div>

		<!-- ... end Right Sidebar -->

	</div>
</div>

{{> windows-popup/playlist-popup}}


{{> windows-popup/choose-from-my-photo}}

{{> back-to-top}}

{{> windows-popup/update-header-photo}}

{{> windows-popup/window-chat-responsive}}



<!-- JS Scripts -->
<script src="js/jQuery/jquery-3.4.1.js"></script>
<script src="js/libs/jquery.appear.js"></script>
<script src="js/libs/jquery.mousewheel.js"></script>
<script src="js/libs/perfect-scrollbar.js"></script>
<script src="js/libs/jquery.matchHeight.js"></script>
<script src="js/libs/svgxuse.js"></script>
<script src="js/libs/imagesloaded.pkgd.js"></script>
<script src="js/libs/Headroom.js"></script>
<script src="js/libs/velocity.js"></script>
<script src="js/libs/ScrollMagic.js"></script>
<script src="js/libs/jquery.waypoints.js"></script>
<script src="js/libs/jquery.countTo.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/material.min.js"></script>
<script src="js/libs/bootstrap-select.js"></script>
<script src="js/libs/smooth-scroll.js"></script>
<script src="js/libs/selectize.js"></script>
<script src="js/libs/swiper.jquery.js"></script>
<script src="js/libs/moment.js"></script>
<script src="js/libs/daterangepicker.js"></script>
<script src="js/libs/fullcalendar.js"></script>
<script src="js/libs/isotope.pkgd.js"></script>
<script src="js/libs/ajax-pagination.js"></script>
<script src="js/libs/Chart.js"></script>
<script src="js/libs/chartjs-plugin-deferred.js"></script>
<script src="js/libs/circle-progress.js"></script>
<script src="js/libs/loader.js"></script>
<script src="js/libs/run-chart.js"></script>
<script src="js/libs/jquery.magnific-popup.js"></script>
<script src="js/libs/jquery.gifplayer.js"></script>
<script src="js/libs/mediaelement-and-player.js"></script>
<script src="js/libs/mediaelement-playlist-plugin.min.js"></script>
<script src="js/libs/ion.rangeSlider.js"></script>
<script src="js/libs/leaflet.js"></script>
<script src="js/libs/MarkerClusterGroup.js"></script>

<script src="js/main.js"></script>
<script src="js/libs-init/libs-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>

