<!-- Post -->

<article class="hentry post">

	<div class="post__author author vcard inline-items">
		<img src="img/author-page.jpg" alt="author">

		<div class="author-date">
			<a class="h6 post__author-name fn" href="perfil.html">James Spiegel</a>
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					2 horas atras
				</time>
			</div>
		</div>

		<div class="more">
			<svg class="olymp-three-dots-icon">
				<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
			</svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Editar Post</a>
				</li>
				<li>
					<a href="#">Eliminar Post</a>
				</li>
				<li>
					<a href="#">Desactivar Notificaciones</a>
				</li>
				<li>
					<a href="#"> Seleccionar como destacado </a>
				</li>
			</ul>
		</div>

	</div>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et
		dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat.
	</p>

	<div class="post-additional-info inline-items">

		<a href="#" class="post-add-icon inline-items">
			<svg class="olymp-heart-icon">
				<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
			</svg>
			<span>36</span>
		</a>

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic9.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic10.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic11.jpg" alt="friend">
				</a>
			</li>
		</ul>

		<div class="names-people-likes">
			<a href="#">You</a>, <a href="#">Elaine</a> y
			<br>34 más le gusta esto
		</div>


		<div class="comments-shared">
			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-speech-balloon-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
				</svg>
				<span>17</span>
			</a>

			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-share-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use>
				</svg>
				<span>24</span>
			</a>
		</div>


	</div>

	<div class="control-block-button post-control-button">

		<a href="#" class="btn btn-control">
			<svg class="olymp-like-post-icon">
				<use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
			</svg>
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-comments-post-icon">
				<use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
			</svg>
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-share-icon">
				<use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use>
			</svg>
		</a>

	</div>

</article>

<!-- .. end Post -->