<!-- Post -->

<article class="hentry post">

		<div class="post__author author vcard inline-items">
			<img src="img/author-page.jpg" alt="author">

			<div class="author-date">
				<a class="h6 post__author-name fn" href="perfil.html">James Spiegel</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						19 horas atras
					</time>
				</div>
			</div>

			<div class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
				<ul class="more-dropdown">
					<li>
						<a href="#">Editar Post</a>
					</li>
					<li>
						<a href="#">Eliminar Post</a>
					</li>
					<li>
						<a href="#">Desactivar Notificaciones</a>
					</li>
					<li>
						<a href="#"> Seleccionar como destacado </a>
					</li>
				</ul>
			</div>

		</div>

		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
			mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
			accusantium doloremque.
		</p>

		<div class="post-additional-info inline-items">

			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-heart-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
				</svg>
				<span>8</span>
			</a>

			<ul class="friends-harmonic">
				<li>
					<a href="#">
						<img src="img/friend-harmonic7.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic8.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic9.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic10.jpg" alt="friend">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/friend-harmonic11.jpg" alt="friend">
					</a>
				</li>
			</ul>

			<div class="names-people-likes">
				<a href="#">Jenny</a>, <a href="#">Robert</a> y
				<br>6 más le gusta esto
			</div>


			<div class="comments-shared">
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
					</svg>
					<span>17</span>
				</a>

				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-share-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use>
					</svg>
					<span>24</span>
				</a>
			</div>


		</div>

		<div class="control-block-button post-control-button">

			<a href="#" class="btn btn-control featured-post">
				<svg class="olymp-trophy-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-trophy-icon"></use>
				</svg>
			</a>

			<a href="#" class="btn btn-control">
				<svg class="olymp-like-post-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
				</svg>
			</a>

			<a href="#" class="btn btn-control">
				<svg class="olymp-comments-post-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
				</svg>
			</a>

			<a href="#" class="btn btn-control">
				<svg class="olymp-share-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use>
				</svg>
			</a>

		</div>

	</article>

<!-- .. end Post -->