
<!-- Post -->

<article class="hentry blog-post blog-post-v2">

	<div class="post-thumb">
		<img src="img/post10.jpg" alt="photo">
	</div>

	<div class="post-content">
		<a href="#" class="post-category bg-transparent">OLYMPUS NEWS</a>
		<a href="#" class="h4 post-title">Olympus Network added new photo filters!</a>

		<div class="post__author author vcard inline-items">
			<img src="img/avatar84-sm.jpg" alt="author">

			<div class="author-date not-uppercase">
				<a class="h6 post__author-name fn" href="#">Jack Scorpio</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						12 horas atras
					</time>
				</div>
			</div>
		</div>
	</div>

</article>

<!-- ... end Post -->
