
<!-- Post -->

<article class="hentry post video">

	<div class="post__author author vcard inline-items">
		<img src="img/author-page.jpg" alt="author">

		<div class="author-date">
			<a class="h6 post__author-name fn" href="#">James Spiegel </a> shared a <a href="#">link</a>
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					7 horas atras
				</time>
			</div>
		</div>

		<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Editar Post</a>
				</li>
				<li>
					<a href="#">Eliminar Post</a>
				</li>
				<li>
					<a href="#">Desactivar Notificaciones</a>
				</li>
				<li>
					<a href="#"> Seleccionar como destacado </a>
				</li>
			</ul>
		</div>

	</div>

	<p>Last night was the best concert of my whole life! <a href="#">Erica</a> check out the video I got from last night’s playlist!</p>

	<div class="video-player">
		<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
			<svg class="olymp-play-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-play-icon"></use></svg>
		</a>
		<img src="img/video4.jpg" alt="video">
		<div class="video-content">
			<div class="h4 title">System of a Revenge - Hypnotize (LIVE)</div>
			<time class="published" datetime="2017-03-24T18:18">3:26</time>
		</div>
		<div class="overlay"></div>
	</div>

	<div class="post-additional-info inline-items">

		<a href="#" class="post-add-icon inline-items">
			<img src="./svg-icons/iconBO/public_generate_share.svg" alt="Icono Me gusta" class="olymp-heart-icon">
			<span>16</span>
		</a>

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic9.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic10.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic11.jpg" alt="friend">
				</a>
			</li>
		</ul>

		<div class="names-people-likes">
			<a href="#">Diana</a>, <a href="#">Nicholas</a> y
			<br>13 más le gusta esto
		</div>

		<div class="comments-shared">
			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
				<span>0</span>
			</a>

			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
				<span>16</span>
			</a>
		</div>

	</div>

	<div class="control-block-button post-control-button">

		<a href="#" class="btn btn-control">
			<svg class="olymp-like-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
		</a>

		<a href="#" class="btn btn-control">
			<img src="./svg-icons/iconBO/comment_oscuro.svg" alt="icono commentarios" class="olymp-comments-post-icon">
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
		</a>

	</div>

</article>

<!-- ... end  Post -->