
<article class="hentry post has-post-thumbnail">

	<div class="post__author author vcard inline-items">
		<img src="img/avatar5-sm.jpg" alt="author">

		<div class="author-date">
			<a class="h6 post__author-name fn" href="#">Green Goo Rock</a>
			<div class="post__date">
				<time class="published" datetime="2004-07-24T18:18">
					March 8 at 6:42pm
				</time>
			</div>
		</div>

		<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Editar Post</a>
				</li>
				<li>
					<a href="#">Eliminar Post</a>
				</li>
				<li>
					<a href="#">Desactivar Notificaciones</a>
				</li>
				<li>
					<a href="#"> Seleccionar como destacado </a>
				</li>
			</ul>
		</div>

	</div>

	<p>Hey guys! We are gona be playing this Saturday of <a href="#">The Marina Bar</a> for their new Mystic Deer Party.
		If you wanna hang out and have a really good time, come and join us. We’l be waiting for you!
	</p>

	<div class="post-thumb">
		<img src="img/post__thumb1.jpg" alt="photo">
	</div>

	<div class="post-additional-info inline-items">

		<a href="#" class="post-add-icon inline-items">
			<img src="./svg-icons/iconBO/public_generate_share.svg" alt="Icono Me gusta" class="olymp-heart-icon">
			<span>49</span>
		</a>

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic9.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic10.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic11.jpg" alt="friend">
				</a>
			</li>
		</ul>

		<div class="names-people-likes">
			<a href="#">Jimmy</a>, <a href="#">Andrea</a> y
			<br>47 más le gusta esto
		</div>


		<div class="comments-shared">
			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
				<span>264</span>
			</a>

			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
				<span>37</span>
			</a>
		</div>


	</div>

	<div class="control-block-button post-control-button">

		<a href="#" class="btn btn-control">
			<svg class="olymp-like-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
		</a>

		<a href="#" class="btn btn-control">
			<img src="./svg-icons/iconBO/comment_oscuro.svg" alt="icono commentarios" class="olymp-comments-post-icon">
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
		</a>

	</div>

</article>
