<!-- Post -->

<article class="hentry blog-post">

	<div class="post-content">
		<a href="#" class="post-category bg-primary">THE COMMUNITY</a>
		<a href="#" class="h4 post-title">Without Thumbnail</a>
		<p>Here’s a photo from last month’s photoshoot. We really had a great time and got a
			batch of really awesome shots for the new catalog.
			Here’s a photo from last month’s photoshoot. We really had a great time and got a
			batch of really awesome shots for the new catalog.
		</p>

		<div class="author-date ">
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					7 horas atras by
				</time>
			</div>
			<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
		</div>

		<div class="post-additional-info inline-items">

			<div class="friends-harmonic-wrap">
				<ul class="friends-harmonic">
					<li>
						<a href="#">
							<img src="img/icon-chat27.png" alt="icon">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/icon-chat2.png" alt="icon">
						</a>
					</li>
				</ul>
				<div class="names-people-likes">
					26
				</div>
			</div>

			<div class="comments-shared">
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon">
						<use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
					</svg>
					<span>0</span>
				</a>
			</div>

		</div>
	</div>

</article>

<!-- ... end Post -->