
<!-- Post -->

<article class="hentry post has-post-thumbnail">

	<div class="post__author author vcard inline-items">
		<img src="img/author-page.jpg" alt="author">

		<div class="author-date">
			<a class="h6 post__author-name fn" href="perfil.html">James Spiegel</a>
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					7 horas atras
				</time>
			</div>
		</div>

		<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Editar Post</a>
				</li>
				<li>
					<a href="#">Eliminar Post</a>
				</li>
				<li>
					<a href="#">Desactivar Notificaciones</a>
				</li>
				<li>
					<a href="#"> Seleccionar como destacado </a>
				</li>
			</ul>
		</div>

	</div>

	<p>Check out the GIF of our photoshoot from the other day:</p>

	<div class="post-thumb">
		<img class="gif-play-image" data-mode="video" data-mp4="videos/post_video.mp4" src="img/post__thumb3.jpg"  alt="gif">
	</div>

	<div class="post-additional-info inline-items">

		<a href="#" class="post-add-icon inline-items">
			<img src="./svg-icons/iconBO/public_generate_share.svg" alt="Icono Me gusta" class="olymp-heart-icon">
			<span>15</span>
		</a>

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic5.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic10.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic2.jpg" alt="friend">
				</a>
			</li>
		</ul>

		<div class="names-people-likes">
			<a href="#">Diana</a>, <a href="#">Nicholas</a> y
			<br>47 más le gusta esto
		</div>


		<div class="comments-shared">
			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
				<span>16</span>
			</a>

			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
				<span>0</span>
			</a>
		</div>


	</div>

	<div class="control-block-button post-control-button">

		<a href="#" class="btn btn-control">
			<svg class="olymp-like-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
		</a>

		<a href="#" class="btn btn-control">
			<img src="./svg-icons/iconBO/comment_oscuro.svg" alt="icono commentarios" class="olymp-comments-post-icon">
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-share-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
		</a>

	</div>

</article>

<!-- ... end Post -->
