<form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
    <div class="user-image-for-edit img" *ngIf="user.portada">
        <img src="{{ url+ 'get-portada-user/' + user.portada }}" *ngIf="user.portada">
        <img src="assets/img/top-header1.jpg" *ngIf="!user.portada" alt="nature">
    </div>

    <p>
        <label for="">Sube tu portada</label>
        <input type="file" plaveholder="Subir Portada" (change)="fileChangeEvent($event)">
    </p>

    <input type="submit" value="{{title}}" class="btn btn-yellow" [disabled]="!userEditForm.form.valid">
</form>