
<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Configuración de cuenta</h6>
				</div>
				<div class="ui-block-content">

					
					<!-- Personal Account Settings Form -->
					
					<form>
						<div class="row">
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating is-select">
									<label class="control-label">¿Quién puede hacerte amigo? </label>
									<select class="selectpicker form-control">
										<option value="EO">Todos</option>
										<option value="NO">Nadie</option>
									</select>
								</div>
							</div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating is-select">
									<label class="control-label"> Quién puede ver tus publicaciones </label>
									<select class="selectpicker form-control">
										<option value="US">Solo amigos</option>
										<option value="EO">Nadie</option>
									</select>
								</div>
							</div>
					
							<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="description-toggle">
									<div class="description-toggle-content">
										<div class="h6">Sonido de Notificaciones</div>
										<p>Se reproducirá un sonido cada vez que reciba una nueva notificación de actividad.
										</p>
									</div>
					
									<div class="togglebutton">
										<label>
											<input type="checkbox" checked="">
										</label>
									</div>
								</div>
								<div class="description-toggle">
									<div class="description-toggle-content">
										<div class = "h6"> Notificaciones por correo electrónico </div> 
										<p> Le enviaremos un correo electrónico a su cuenta cada vez que reciba una nueva notificación de actividad </p>
									</div>
					
									<div class="togglebutton">
										<label>
											<input type="checkbox" checked="">
										</label>
									</div>
								</div>
								<div class="description-toggle">
									<div class = "description-toggle-content">
										<div class = "h6"> Cumpleaños de amigos </div>
											<p> Elija si desea o no recibir notificaciones sobre los cumpleaños de sus amigos en su suministro de noticias </p>
										</div>
					
									<div class="togglebutton">
										<label>
											<input type="checkbox" checked="">
										</label>
									</div>
								</div>
								<div class="description-toggle">
									<div class = "description-toggle-content">
										<div class = "h6"> Sonido de mensaje de chat </div>
											<p> Se reproducirá un sonido cada vez que reciba un nuevo mensaje en una ventana de chat inactiva </p>
										</div>
					
									<div class="togglebutton">
										<label>
											<input type="checkbox" checked="">
										</label>
									</div>
								</div>
							</div>
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<button class = "btn btn -dary btn-lg full-width"> Restaurar todos los atributos </button>
							</div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<button class = "btn btn-primary btn-lg full-width"> Guardar todos los cambios </button>
							</div>
						</div>
					</form>
					
					<!-- ... end Personal Account Settings Form  -->

				</div>
			</div>
		</div>

		<div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
			<div class="ui-block">

				<!-- Your Profile  -->
				
				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Perfil</h6>
					</div>
				
					<div id="accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<h6 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Configuración del Perfil
										<svg class="olymp-dropdown-arrow-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
									</a>
								</h6>
							</div>
				
							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<ul class="your-profile-menu">
                                    <li>
                                        <a href="/personal-information"> Información personal </a>
                                    </li>
                                    <li>
                                        <a href="/settings-account"> Configuración de la cuenta </a>
                                    </li>
                                    <li>
                                        <a href="/change-password"> Cambiar contraseña </a>
                                    </li>
                                </ul>
							</div>
						</div>
					</div>
				
					<div class="ui-block-title">
						<a href="33-YourAccount-Notifications.html" class="h6 title"> Notificaciones </a>
						<a href="#" class="items-round-little bg-primary">8</a>
					</div>
					<div class="ui-block-title">
						<a href="34-YourAccount-ChatMessages.html" class="h6 title">Chat / Mensajes</a>
					</div>
					<div class="ui-block-title">
						<a href="35-YourAccount-FriendsRequests.html" class="h6 title"> Solicitudes de amistad </a>
						<a href="#" class="items-round-little bg-blue">4</a>
					</div>
				</div>
				
				<!-- ... end Your Profile  -->

			</div>
		</div>
	</div>
</div>