<!-- Your Account Personal Information -->

<div class="container">
    <div class="row">
        <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title"> Información personal </h6>
                </div>
                <div class="ui-block-content">

                    <div class="alert alert-success" *ngIf="status == 'success'">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Se han actualizado tus datos correctamente!!
                    </div>

                    <div class="alert alert-danger" *ngIf="status == 'error'">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        No se han podido actualizar tus datos!!
                    </div>


                    <!-- Personal Information Form  -->

                    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="row">

                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" class="form-control" name="name" #name="ngModel"
                                        [(ngModel)]="user.name" required>

                                    <span *ngIf="!name.value && name.touched">
                                        El nombre es obligatorio!!
                                    </span>
                                </div>

                                <div class="form-group label-floating">
                                    <label class="control-label">E-mail</label>
                                    <input type="email" class="form-control" name="email" #email="ngModel"
                                        [(ngModel)]="user.email" required>

                                    <span *ngIf="!email.value && email.touched">
                                        El email es obligatorio!!
                                    </span>
                                </div>

                                <div class="form-group label-floating">
                                    <label class="control-label">Nombre Comercial</label>
                                    <input type="text" class="form-control" name="nick" #nick="ngModel"
                                        [(ngModel)]="user.nick" required>

                                    <span *ngIf="!nick.value && nick.touched">
                                        El nombre comercial es obligatorio!!
                                    </span>
                                </div>
                            </div>

                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Apellidos</label>
                                    <input type="text" class="form-control" name="surname" #surname="ngModel"
                                        [(ngModel)]="user.surname" required>

                                    <span *ngIf="!surname.value && surname.touched">
                                        Los apellidos son obligatorios!!
                                    </span>
                                </div>

                                <div class="form-group label-floating">
                                    <label class="control-label">Sitio Web</label>
                                    <input type="text" class="form-control" name="web" #web="ngModel"
                                        [(ngModel)]="user.web">
                                </div>


                                <div class="form-group label-floating">
                                    <label class="control-label">Teléfono</label>
                                    <input type="number" class="form-control" name="telefono" #telefono="ngModel"
                                        [(ngModel)]="user.telefono" required>

                                    <span *ngIf="!telefono.value && telefono.value">
                                        El celular son obligatorios!!
                                    </span>
                                </div>
                            </div>

                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating is-select">
                                    <label class="control-label">Ciudad</label>
                                    <select name="ciudad" #ciudad="ngModel" [(ngModel)]="user.ciudad"
                                        class="selectpicker form-control">
                                        <option value="" disabled selected hidden>Ciudad</option>
                                        <option value="BOGOTA">BOGOTA</option>
                                        <option value="MEDELLIN">MEDELLIN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating is-select">
                                    <label class="control-label">Localidad</label>
                                    <select name="localidad" #localidad="ngModel" [(ngModel)]="user.localidad"
                                        class="selectpicker form-control">
                                        <option value="" disabled selected hidden>Localidad</option>
                                        <option value="ANTONIO NARIÑO">ANTONIO NARIÑO</option>
                                        <option value="BARRIOS UNIDOS">BARRIOS UNIDOS</option>
                                        <option value="BOSA">BOSA</option>
                                        <option value="CHAPINERO">CIUDAD BOLÍVAR</option>
                                        <option value="ENGATIVÁ">ENGATIVÁ</option>
                                        <option value="FONTIBÓN">FONTIBÓN</option>
                                        <option value="KENNEDY">KENNEDY</option>
                                        <option value="LA CANDELARIA">LA CANDELARIA</option>
                                        <option value="LOS MÁRTIRES">LOS MÁRTIRES</option>
                                        <option value="PUENTE ARANDA">PUENTE ARANDA</option>
                                        <option value="RAFAEL URIBE URIBE">RAFAEL URIBE URIBE</option>
                                        <option value="SAN CRISTÓBAL">SAN CRISTÓBAL</option>
                                        <option value="SANTA FE">SANTA FE</option>
                                        <option value="SUBA">SUBA</option>
                                        <option value="SUMAPAZ">SUMAPAZ</option>
                                        <option value="TEUSAQUILLO">TEUSAQUILLO</option>
                                        <option value="TUNJUELITO">TUNJUELITO</option>
                                        <option value="USAQUÉN">USAQUÉN</option>
                                        <option value="USME">USME</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <input id="filterSelect" placeholder="Filtro servicios" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating is-select">
                                    <label class="control-label">Servicio a prestar</label>
                                    <select id="selectFilter" name="tipo_servicio" #tipo_servicio="ngModel"
                                        [(ngModel)]="user.tipo_servicio" class="form-control">
                                        <option value="" disabled selected hidden>Servicio a prestar</option>
                                        <option value="Aseo">Aseo</option>
                                        <option value="Mecanica">Mecanica</option>
                                        <option value="Desarrollo Backend">Desarrollo Backend</option>
                                        <option value="Desarrollo Frontend">Desarrollo Frontend</option>
                                        <option value="Carpinteria">Carpinteria</option>
                                        <option value="Albañil">Albañil</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Sitio Web</label>
                                    <textarea class="form-control" name="servicios" #servicios="ngModel"
                                        [(ngModel)]="user.servicios" required
                                        placeholder="Write a little description about you"></textarea>

                                    <span *ngIf="!servicios.value && servicios.touched">
                                        El servicio es obligatorio!!
                                    </span>
                                </div>
                            </div>
                            
                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating is-select">
                                    <label class="control-label">Tipo de Identificacion</label>
                                    <select name="t_identificacion" #t_identificacion="ngModel"
                                        [(ngModel)]="user.t_identificacion" class="selectpicker form-control">
                                        <option value="" disabled selected hidden>Tipo de identificación</option>
                                        <option value="Cédula de Ciudadanía">Cédula de Ciudadanía</option>
                                        <option value="Cédula de Extranjería">Cédula de Extranjería</option>
                                        <option value="CN Certificado de Nacido Vivo">CN Certificado de Nacido Vivo
                                        </option>
                                        <option value="Pasaporte">Pasaporte</option>
                                        <option value="PE Permiso Especial de Permanencia">PE Permiso Especial de
                                            Permanencia</option>
                                    </select>
                                    <span *ngIf="!t_identificacion.valid && t_identificacion.touched">
                                        Seleccione el Tipo de Identificacion!!
                                    </span>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Numero de Identificacion</label>
                                    <input type="text" class="form-control" name="n_identificacion"
                                        #n_identificacion="ngModel" [(ngModel)]="user.n_identificacion" required>

                                    <span *ngIf="!n_identificacion.value && n_identificacion.touched">
                                        El Numero de Identificacion es obligatorio!!
                                    </span>
                                </div>
                            </div>
                            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group with-icon label-floating">
                                    <label class="control-label">Cuenta de Facebook </label>
                                    <input class="form-control" type="text" name="facebook" #facebook="ngModel"
                                        [(ngModel)]="user.facebook">
                                    <i class="fab fa-facebook-f c-facebook" aria-hidden="true"></i>
                                </div>
                                <div class="form-group with-icon label-floating">
                                    <label class="control-label">Cuenta de Twitter </label>
                                    <input class="form-control" type="text" name="twitter" #twitter="ngModel"
                                        [(ngModel)]="user.twitter">
                                    <i class="fab fa-twitter c-twitter" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                                <button type="submit" class="btn btn-primary btn-lg full-width"
                                    [disabled]="!userEditForm.form.valid">Guardar todos los cambios</button>
                            </div>

                        </div>
                    </form>

                    <!-- ... end Personal Information Form  -->
                </div>
            </div>
        </div>

        <div
            class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
            <div class="ui-block">

                <!-- Your Profile  -->

                <div class="your-profile">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Perfil</h6>
                    </div>

                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Configuración del Perfil
                                        <svg class="olymp-dropdown-arrow-icon">
                                            <use
                                                xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon">
                                            </use>
                                        </svg>
                                    </a>
                                </h6>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <ul class="your-profile-menu">
                                    <li>
                                        <a href="/personal-information"> Información personal </a>
                                    </li>
                                    <li>
                                        <a href="/settings-account"> Configuración de la cuenta </a>
                                    </li>
                                    <li>
                                        <a href="/change-password"> Cambiar contraseña </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="ui-block-title">
                        <a href="33-YourAccount-Notifications.html" class="h6 title"> Notificaciones </a>
                        <a href="#" class="items-round-little bg-primary">8</a>
                    </div>
                    <div class="ui-block-title">
                        <a href="34-YourAccount-ChatMessages.html" class="h6 title">Chat / Mensajes</a>
                    </div>
                    <div class="ui-block-title">
                        <a href="35-YourAccount-FriendsRequests.html" class="h6 title"> Solicitudes de amistad </a>
                        <a href="#" class="items-round-little bg-blue">4</a>
                    </div>
                </div>

                <!-- ... end Your Profile  -->

            </div>
        </div>
    </div>
</div>