
<!-- Education History Form -->

<form>
	<div class="row">

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label"> Título</label>
				<input class="form-control" placeholder="" type="text" value="The New College of Design">
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label"> Período de tiempo </label>
				<input class="form-control" placeholder="" type="text" value="2001 - 2006">
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<textarea class="form-control" placeholder="Description">Bachelor of Interactive Design in the New College. It was a five years intensive career. Average: A+</textarea>
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label"> Título</label>
				<input class="form-control" placeholder="" type="text" value="Rembrandt Institute">
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label"> Período de tiempo </label>
				<input class="form-control" placeholder="" type="text" value="2008">
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<textarea class="form-control" placeholder="Description">Five months Digital Illustration course. Professor: Leonardo Stagg.</textarea>
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating is-empty">
				<label class="control-label"> Título</label>
				<input class="form-control" placeholder="" type="text">
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating is-empty">
				<label class="control-label"> Período de tiempo </label>
				<input class="form-control" placeholder="" type="text">
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<textarea class="form-control" placeholder="Description"></textarea>
			</div>

			<a href="#" class="add-field">
				<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
				<span>Añadir Educación</span>
			</a>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<button class="btn btn-secondary btn-lg full-width">Cancelar</button>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<button class = "btn btn-primary btn-lg full-width"> Guardar todos los cambios </button>
		</div>
	</div>
</form>

<!-- ... end Education History Form -->