
<!-- Employement History Form -->

<form>
	<div class="row">
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label"> Título</label>
				<input class="form-control" placeholder="" type="text" value="Digital Design Intern">
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label"> Período de tiempo </label>
				<input class="form-control" placeholder="" type="text" value="2006 - 2008">
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<textarea class="form-control" placeholder="Description">Digital Design Intern for the “Multimedz” agency. Was in charge of the communication with the clients.</textarea>
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label"> Título</label>
				<input class="form-control" placeholder="" type="text" value="UI/UX Designer">
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label"> Período de tiempo </label>
				<input class="form-control" placeholder="" type="text" value="2008 - 2013">
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<textarea class="form-control" placeholder="Description">UI/UX Designer for the “Daydreams” agency.</textarea>
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating is-empty">
				<label class="control-label"> Título</label>
				<input class="form-control" placeholder="" type="text">
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating is-empty">
				<label class="control-label"> Período de tiempo </label>
				<input class="form-control" placeholder="" type="text">
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<textarea class="form-control" placeholder="Description"></textarea>
			</div>

			<a href="#" class="add-field">
				<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
				<span>Añadir Educación</span>
			</a>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<button class="btn btn-secondary btn-lg full-width">Cancelar</button>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<button class = "btn btn-primary btn-lg full-width"> Guardar todos los cambios </button>
		</div>
	</div>
</form>

<!-- ... end Employement History Form -->