
<!-- Personal Account Settings Form -->

<form>
	<div class="row">

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">¿Quién puede hacerte amigo??</label>
				<select class="selectpicker form-control">
					<option value="EO">Todos</option>
					<option value="NO">Nadie</option>
				</select>
			</div>
		</div>
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">¿Quién puede ver tus publicaciones??s??</label>
				<select class="selectpicker form-control">
					<option value="US">Solo amigos</option>
					<option value="EO">Todos</option>
				</select>
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="description-toggle">
				<div class="description-toggle-content">
					<div class = "h6"> Sonido de notificaciones </div>
					<p> Se reproducirá un sonido cada vez que reciba una nueva notificación de actividad </p>
				</div>

				<div class="togglebutton">
					<label>
						<input type="checkbox" checked="">
					</label>
				</div>
			</div>
			<div class="description-toggle">
				<div class="description-toggle-content">
					<div class="h6"> Notificaciones por correo electrónico </div>
					<p>We’ll send you an email to your account each time you receive a new activity notification</p>
				</div>

				<div class="togglebutton">
					<label>
						<input type="checkbox" checked="">
					</label>
				</div>
			</div>
			<div class="description-toggle">
				<div class="description-toggle-content">
					<div class="h6"> Cumpleaños de amigos </div>
					<p> Elija si desea recibir notificaciones sobre el cumpleaños de su amigo en su suministro de noticias </p>
				</div>

				<div class="togglebutton">
					<label>
						<input type="checkbox" checked="">
					</label>
				</div>
			</div>
			<div class="description-toggle">
				<div class="description-toggle-content">
					<div class = "h6"> Sonido de mensaje de chat </div>
					<p> Se reproducirá un sonido cada vez que reciba un nuevo mensaje en una ventana de chat inactiva </p>
				</div>

				<div class="togglebutton">
					<label>
						<input type="checkbox" checked="">
					</label>
				</div>
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<button class = "btn btn -dary btn-lg full-width"> Restaurar todos los atributos </button>
		</div>
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<button class = "btn btn-primary btn-lg full-width"> Guardar todos los cambios </button>
		</div>
	</div>
</form>

<!-- ... end Personal Account Settings Form  -->
