
<!-- Form Información Página de Favoritos -->

<form>
	<div class="row">
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Nombres</label>
				<input class="form-control" placeholder="" type="text" value="Green Goo">
			</div>

			<div class="form-group label-floating">
				<label class="control-label">E-mail</label>
				<input class="form-control" placeholder="" type="email" value="greengoo_gigs@yourmail.com">
			</div>

			<div class="form-group date-time-picker label-floating">
				<label class="control-label">Fecha de Nacimiento</label>
				<input name="datetimepicker" type="date" value="10/24/1984" />
				<span class="input-group-addon">
										<svg class="olymp-calendar-icon icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
									</span>
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Apellidos</label>
				<input class="form-control" placeholder="" type="text" value="Rock">
			</div>

			<div class="form-group label-floating">
				<label class="control-label">Sitio Web</label>
				<input class="form-control" placeholder="" type="email" value="www.ggrock.com">
			</div>


			<div class="form-group label-floating">
				<label class="control-label">Teléfono</label>
				<input class="form-control" placeholder="" type="text">
			</div>
		</div>

		<div class="col col-lg-4 col-md-4 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">País</label>
				<select class="selectpicker form-control">
					<option value="US">United States</option>
					<option value="AU">Australia</option>
				</select>
			</div>
		</div>
		<div class="col col-lg-4 col-md-4 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label"> Estado / Provincia </label>

				<select class="selectpicker form-control">
					<option value="CA">California</option>
					<option value="TE">Texas</option>
				</select>
			</div>
		</div>
		<div class="col col-lg-4 col-md-4 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">Ciudad</label>
				<select class="selectpicker form-control">
					<option value="SF">San Francisco</option>
					<option value="NY">New York</option>
				</select>
			</div>
		</div>
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group">
				<textarea class="form-control" placeholder="Write a little description about the page">We are Rock Band from Los Angeles, now based in San Francisco, come and listen to us play!</textarea>
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">

			<div class="form-group label-floating is-empty">
				<label class="control-label">Basado en</label>
				<input class="form-control" placeholder="" type="text">
			</div>

			<div class="form-group label-floating is-select">
				<label class="control-label">Categoría</label>
				<select class="selectpicker form-control">
					<option value="MA">Rock Band</option>
					<option value="FE">Pop Band</option>
					<option value="FE">Jazz Band</option>
				</select>
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group">
				<textarea class="form-control" placeholder="Additional Info">We are open for gigs all over the country. If you are interested, please contact us via our website or send us an email to gigs@ggrock.com</textarea>
			</div>
		</div>

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group with-icon label-floating">
				<label class="control-label">Cuenta de Facebook</label>
				<input class="form-control" type="text" value="www.facebook.com/greengoo_rock">
				<i class="fab fa-facebook-f c-facebook" aria-hidden="true"></i>
			</div>
			<div class="form-group with-icon label-floating">
				<label class="control-label">Cuenta de Twitter</label>
				<input class="form-control" type="text" value="www.twitter.com/greengoo_rock">
				<i class="fab fa-twitter c-twitter" aria-hidden="true"></i>
			</div>
			<div class="form-group with-icon label-floating is-empty">
				<label class="control-label">Your RSS Feed Account</label>
				<input class="form-control" type="text">
				<i class="fa fa-rss c-rss" aria-hidden="true"></i>
			</div>
			<div class="form-group with-icon label-floating is-empty">
				<label class="control-label">Cuenta de Dribbble</label>
				<input class="form-control" type="text" value="">
				<i class="fab fa-dribbble c-dribbble" aria-hidden="true"></i>
			</div>
			<div class="form-group with-icon label-floating">
				<label class="control-label">Cuenta de Spotify</label>
				<input class="form-control" type="text" value="green_goo@spotify.com">
				<i class="fab fa-spotify c-spotify" aria-hidden="true"></i>
			</div>
		</div>
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<a href="#" class="btn btn-secondary btn-lg full-width">Restaurar configuración</a>
		</div>
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<a href="#" class="btn btn-primary btn-lg full-width">Guardar todos los cambios</a>
		</div>
	</div>
</form>

<!-- ... end Form Información Página de Favoritos -->

