
<!-- Personal Information Form  -->

<form>
	<div class="row">

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Nombres</label>
				<input class="form-control" placeholder="" type="text" value="James">
			</div>

			<div class="form-group label-floating">
				<label class="control-label">E-mail</label>
				<input class="form-control" placeholder="" type="email" value="jspiegel@yourmail.com">
			</div>

			<div class="form-group date-time-picker label-floating">
				<label class="control-label">Your Birthday</label>
				<input name="datetimepicker" type="date" value="10/24/1984" />
				<span class="input-group-addon">
										<svg class="olymp-month-calendar-icon icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
									</span>
			</div>
		</div>

		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating">
				<label class="control-label">Apellidos</label>
				<input class="form-control" placeholder="" type="text" value="Spiegel">
			</div>

			<div class="form-group label-floating">
				<label class="control-label">Sitio Web</label>
				<input class="form-control" placeholder="" type="email" value="daydreamzagency.com">
			</div>


			<div class="form-group label-floating is-empty">
				<label class="control-label">Teléfono</label>
				<input class="form-control" placeholder="" type="text">
			</div>
		</div>

		<div class="col col-lg-4 col-md-4 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">País</label>
				<select class="selectpicker form-control">
					<option value="US">United States</option>
					<option value="AU">Australia</option>
				</select>
			</div>
		</div>
		<div class="col col-lg-4 col-md-4 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label"> Estado / Provincia </label>

				<select class="selectpicker form-control">
					<option value="CA">California</option>
					<option value="TE">Texas</option>
				</select>
			</div>
		</div>
		<div class="col col-lg-4 col-md-4 col-sm-12 col-12">
			<div class="form-group label-floating is-select">
				<label class="control-label">Ciudad</label>
				<select class="selectpicker form-control">
					<option value="SF">San Francisco</option>
					<option value="NY">New York</option>
				</select>
			</div>
		</div>
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group">
				<textarea class="form-control" placeholder="Write a little description about you">Hi, I’m James, I’m 36 and I work as a Digital Designer for the  “Daydreams” Agency in Pier 56</textarea>
			</div>

			<div class="form-group label-floating is-select">
				<label class="control-label">Your Gender</label>
				<select class="selectpicker form-control">
					<option value="MA">Male</option>
					<option value="FE">Female</option>
				</select>
			</div>

			<div class="form-group label-floating is-empty">
				<label class="control-label">Religious Belifs</label>
				<input class="form-control" placeholder="" type="text">
			</div>
		</div>
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="form-group label-floating is-empty">
				<label class="control-label">Your Birthplace</label>
				<input class="form-control" placeholder="" type="text">
			</div>

			<div class="form-group label-floating">
				<label class="control-label">Your Occupation</label>
				<input class="form-control" placeholder="" type="text" value="UI/UX Designer">
			</div>

			<div class="form-group label-floating is-select">
				<label class="control-label">Status</label>
				<select class="selectpicker form-control">
					<option value="MA">Married</option>
					<option value="FE">Not Married</option>
				</select>
			</div>

			<div class="form-group label-floating">
				<label class="control-label">Political Incline</label>
				<input class="form-control" placeholder="" type="text" value="Democrat">
			</div>
		</div>
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="form-group with-icon label-floating">
				<label class="control-label">Cuenta de Facebook</label>
				<input class="form-control" type="text" value="www.facebook.com/james-spiegel95321">
				<i class="fab fa-facebook-f c-facebook" aria-hidden="true"></i>
			</div>
			<div class="form-group with-icon label-floating">
				<label class="control-label">Cuenta de Twitter</label>
				<input class="form-control" type="text" value="www.twitter.com/james_spiegelOK">
				<i class="fab fa-twitter c-twitter" aria-hidden="true"></i>
			</div>
			<div class="form-group with-icon label-floating is-empty">
				<label class="control-label">Your RSS Feed Account</label>
				<input class="form-control" type="text">
				<i class="fa fa-rss c-rss" aria-hidden="true"></i>
			</div>
			<div class="form-group with-icon label-floating">
				<label class="control-label">Cuenta de Dribbble</label>
				<input class="form-control" type="text" value="www.dribbble.com/thecowboydesigner">
				<i class="fab fa-dribbble c-dribbble" aria-hidden="true"></i>
			</div>
			<div class="form-group with-icon label-floating is-empty">
				<label class="control-label">Cuenta de Spotify</label>
				<input class="form-control" type="text">
				<i class="fab fa-spotify c-spotify" aria-hidden="true"></i>
			</div>
		</div>
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<button class = "btn btn -dary btn-lg full-width"> Restaurar todos los atributos </button>
		</div>
		<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
			<button class = "btn btn-primary btn-lg full-width"> Guardar todos los cambios </button>
		</div>

	</div>
</form>

<!-- ... end Personal Information Form  -->