
<div class="photo-album-item create-album" data-mh="album-item">

	<a href="#" data-toggle="modal" data-target="#create-photo-album" class="  full-block"></a>

	<div class="content">

		<a href="#" class="btn btn-control bg-primary" data-toggle="modal" data-target="#create-photo-album">
			<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
		</a>

		<a href="#" class="title h5" data-toggle="modal" data-target = "#create-photo-album"> Crear un álbum </a>
		<span class = "sub-title"> ¡Solo lleva unos minutos! </span>

	</div>

</div>
