<!--<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">{{title}}</a>
      </div>

      <ul class="nav navbar-nav" *ngIf="identity">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']" >
            <span class="glyphicon glyphicon-home"></span>
            Inicio</a>
        </li>

        <li>
          <a [routerLink]="['/timeline']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-th-list"></span>
            Timeline</a>
        </li>

        <li>
          <a [routerLink]="['/gente']" [routerLinkActive]="['active']" >
            <span class="glyphicon glyphicon-user"></span>
            Gente</a>
        </li>

        <li>
          <a [routerLink]="['/mensajes']" [routerLinkActive]="['active']" >
            <span class="glyphicon glyphicon-envelope"></span>
            Mensajes</a>
        </li>
      </ul>

      <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']" >
            <span class="glyphicon glyphicon-log-in"></span>
            Login</a>
        </li>

        <li>
          <a [routerLink]="['/register']" [routerLinkActive]="['active']" >
            <span class="glyphicon glyphicon-user"></span>
            Registro</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="avatar">
           <!-- cargar imagen de usuario 
           <img src="{{ url +  'get-image-user/' + identity.image}}" *ngIf="identity && identity.image" alt="">
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{identity.name}} <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/perfil',identity._id]">
                <span class="glyphicon glyphicon-user"></span>
                Mi perfil
              </a>
            </li>
            <li>
              <a [routerLink]="['/mis-datos']" >
                <span class="glyphicon glyphicon-cog"></span>
                Mis datos
              </a>
            </li>
            <li>
              <a class="pointer" (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span>
                Cerrar Sesion
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>-->

<div *ngIf="identity">

    <!-- <ng-chat [adapter]="adapter" [userId]="userId"></ng-chat> -->

    <body class="page-has-left-panels page-has-right-panels">


        <div class="fixed-sidebar">
            <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

                <a href="#" class="logo">
                    <div class="img-wrap">
                        <!--<img src="assets/img/logo.png" alt="Olympus">-->
                    </div>
                </a>

                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <ul class="left-menu">
                        <li>
                            <a href="#" class="js-sidebar-open">
                                <img src="assets/svg-icons/iconBO/menu_left.svg" alt="Icono Menú">
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <img src="../assets/svg-icons/iconBO/home_left.svg" alt="Icono Menú">
                            </a>
                        </li>
                        <li>
                            <a href="/mensajes/recibidos">
                                <img src="../assets/svg-icons/iconBO/chat_left.svg" alt="Icono Chat">
                            </a>
                        </li>
                        <li *ngIf="identity.tipo_servicio">
                            <a href="services-contractor">
                                <i class="far fa-calendar-plus" style="font-size: 1.8em;"></i>
                            </a>
                        </li>
                        <li *ngIf="identity.tipo_servicio">
                            <a href="services-provider">
                                <i class="fas fa-calendar-day" style="font-size: 1.8em;"></i>
                            </a>
                        </li>
                        <li *ngIf="identity.tipo_servicio">
                            <a href="contabilidad">
                                <img src="../assets/svg-icons/iconBO/cont_left.svg" alt="Icono Estadisticas">
                            </a>
                        </li>
                        <li>
                            <a href="personal-information">
                                <img src="../assets/svg-icons/iconBO/config_left.svg" alt="Icono Ajustes">
                            </a>
                        </li>
                    </ul>
                    <ul class="footerMenu">
                        <li style="text-align:center;">
                            <a href="#" class="js-sidebar-open">
                                <img src="../assets/svg-icons/iconBO/menu_left.svg" alt="Icono Menú">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
                <a href="perfil.html" class="logo">
                    <div class="img-wrap">
                        <img src="../assets/img/logo_BO_social.png" alt="BO-Social Logo">
                    </div>
                </a>

                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <ul class="left-menu">
                        <li>
                            <a href="#" class="js-sidebar-open">
                                <img src="../assets/svg-icons/iconBO/menu_left.svg" alt="Icono Menú">
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <img src="../assets/svg-icons/iconBO/home_left.svg" alt="Icono Menú">
                                <span class="left-menu-title">Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a href="/mensajes/recibidos">
                                <img src="../assets/svg-icons/iconBO/chat_left.svg" alt="Icono Chat">
                                <span class="left-menu-title">Chat</span>
                            </a>
                        </li>
                        <li *ngIf="identity.tipo_servicio">
                            <a href="/services-contractor">
                                <i class="far fa-calendar-plus" style="font-size: 1.80em;"></i>
                                &nbsp;
                                &nbsp;
                                <span class="left-menu-title">Calendario Contratos Creados</span>
                            </a>
                        </li>
                        <li *ngIf="identity.tipo_servicio">
                            <a href="/services-provider">
                                <i class="fas fa-calendar-day" style="font-size: 1.80em;"></i>
                                &nbsp;
                                &nbsp;
                                <span class="left-menu-title">Calendario Prestación de Servicios</span>
                            </a>
                        </li>
                        <li *ngIf="identity.tipo_servicio">
                            <a href="/contablidad">
                                <img src="../assets/svg-icons/iconBO/cont_left.svg" alt="Icono Estadisticas">
                                <span class="left-menu-title">Estadísticas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/personal-information">
                                <img src="../assets/svg-icons/iconBO/config_left.svg" alt="Icono Ajustes">
                                <span class="left-menu-title">Ajustes</span>
                            </a>
                        </li>
                    </ul>

                    <div class="profile-completion">

                        <div class="skills-item">
                            <div class="skills-item-info">
                                <span class="skills-item-title">Perfil completado</span>
                                <span class="skills-item-count"><span class="count-animate" data-speed="1000"
                                        data-refresh-interval="50" data-to="76" data-from="0"></span><span
                                        class="units">76%</span></span>
                            </div>
                            <div class="skills-item-meter">
                                <span class="skills-item-meter-active bg-gray" style="width: 76%"></span>
                            </div>
                        </div>
                        <ul class="footerMenu">
                            <li>
                                <a href="#" class="js-sidebar-open">
                                    <img src="../assets/svg-icons/iconBO/menu_left.svg" alt="Icono Menú">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- ... end Fixed Sidebar Left -->


        <!-- Fixed Sidebar Left -->

        <div class="fixed-sidebar fixed-sidebar-responsive">

            <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
                <a href="#" class="logo js-sidebar-open">
                    <img src="../assets/img/logo_BO_social.png" alt="BO-Social Logo">

                </a>

            </div>

            <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
                <a href="#" class="logo">
                    <div class="img-wrap">
                        <img src="../assets/img/logo_BO_social.png" alt="BO-Social Logo">
                    </div>
                </a>

                <div class="mCustomScrollbar" data-mcs-theme="dark">

                    <div class="control-block">
                        <div class="author-page author vcard inline-items">
                            <div class="author-thumb">
                                <img class="avatar" src="{{ url + 'get-image-user/' + identity.image }}" alt="author"
                                    *ngIf="identity && identity.image">
                                <img class="avatar" src="assets/user.png" alt="author" *ngIf="!identity.image">
                                <span class="icon-status online"></span>
                            </div>
                            <a href="{{'perfil/' + identity._id}}" class="author-name fn">
                                <div class="author-title">
                                    {{identity.name}} {{identity.surname}} <svg class="olymp-dropdown-arrow-icon">
                                        <use
                                            xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon">
                                        </use>
                                    </svg>
                                </div>
                                <span class="author-subtitle">{{identity.nick}}</span>
                            </a>
                        </div>
                    </div>

                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title"> SECCIONES PRINCIPALES </h6>
                    </div>

                    <ul class="left-menu">
                        <li>
                            <a href="#" class="js-sidebar-open">
                                <img src="../assets/svg-icons/iconBO/menu_left.svg" alt="Icono Menú">
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <img src="../assets/svg-icons/iconBO/home_left.svg" alt="Icono Menú">
                                <span class="left-menu-title">Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a href="/mensajes/recibidos">
                                <img src="../assets/svg-icons/iconBO/chat_left.svg" alt="Icono Chat">
                                <span class="left-menu-title">Chat</span>
                            </a>
                        </li>
                        <li *ngIf="identity.tipo_servicio">
                            <a href="/services-contractor">
                                <i class="far fa-calendar-plus" style="font-size: 1.80em;"></i>
                                &nbsp;
                                &nbsp;
                                <span class="left-menu-title">Calendario Contratos Creados</span>
                            </a>
                        </li>
                        <li *ngIf="identity.tipo_servicio">
                            <a href="/services-provider">
                                <i class="fas fa-calendar-day" style="font-size: 1.80em;"></i>
                                &nbsp;
                                &nbsp;
                                <span class="left-menu-title">Calendario Prestación de Servicios</span>
                            </a>
                        </li>
                        <li *ngIf="identity.tipo_servicio">
                            <a href="/contablidad">
                                <img src="../assets/svg-icons/iconBO/cont_left.svg" alt="Icono Estadisticas">
                                <span class="left-menu-title">Estadísticas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/personal-information">
                                <img src="../assets/svg-icons/iconBO/config_left.svg" alt="Icono Ajustes">
                                <span class="left-menu-title">Ajustes</span>
                            </a>
                        </li>

                    </ul>

                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title"> MI CUENTA </h6>
                    </div>

                    <ul class="account-settings">
                        <li>
                            <a href="/personal-information">

                                <svg class="olymp-menu-icon">
                                    <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                                </svg>

                                <span> Configuración de perfil </span>
                            </a>
                        </li>
                        <li>
                            <a class="pointer" (click)="logout()">
                                <svg class="olymp-logout-icon">
                                    <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-logout-icon"></use>
                                </svg>

                                <span>Cerrar sesión</span>
                            </a>
                        </li>
                    </ul>

                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Acerca de BO-Social</h6>
                    </div>

                    <ul class="about-olympus">
                        <li>
                            <a href="#">
                                <span> Términos y condiciones </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>FAQs</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Carreras</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Contáctanos</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- ... end Fixed Sidebar Left -->


        <!-- Fixed Sidebar Right -->

        <div class="fixed-sidebar right">
            <div class="fixed-sidebar-right sidebar--small" id="sidebar-right">

                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <ul *ngFor="let user of users" class="chat-users">
                        <li class="inline-items">

                            <div class="author-thumb">
                                <a class="img-chat" href="#myModales{{user._id}}" data-toggle="modal"
                                    data-backdrop="false" (click)="getMessagesChat(1, user._id)">
                                    <img class="avatar" src="{{ url+ 'get-image-user/' + user.image }}"
                                        *ngIf="user.image">
                                    <img class="avatar" src="assets/user.png" *ngIf="!user.image">
                                </a>
                                <span class="icon-status online"></span>
                            </div>
                        </li>

                        <div id="myModales{{user._id}}" class="ui-block m-chat popup-chat popup-chat-responsive"
                            role="dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="icon-status"><img src="assets/img/author-page.jpg" width="50"
                                            height="auto"></span>
                                    <h6 class="title">{{user.name}}<br /><span>Activo ahora</span></h6>

                                    <div class="more">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="mCustomScrollbar">
                                        <ul class="notification-list chat-message chat-message-field">
                                            <li *ngFor="let message of messages">
                                                <div class="author-thumb">
                                                    <img src="{{ url + 'get-image-user/' + message.emitter.image }}"
                                                        alt="{{ message.emitter.name + ' ' + message.emitter.surname}}"
                                                        *ngIf="message.emitter.image" class="mCS_img_loaded">
                                                    <img src="assets/user.png"
                                                        alt="{{ message.emitter.name + ' ' + message.emitter.surname}}"
                                                        *ngIf="!message.emitter.image" class="mCS_img_loaded">
                                                </div>
                                                <div class="notification-event">
                                                    <span class="chat-message-item">{{message.text}}</span>
                                                    <span class="notification-date"><time class="entry-date updated"
                                                            datetime="2004-07-24T18:18">
                                                            {{(message.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</time></span>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>


                                </div>
                            </div>
                            <form [formGroup]="commentFormChat" class="need-validation">
                                <div class="form-group">
                                    <div class="add-options-message">
                                        <textarea name="comment" class="form-control" formControlName="comment"
                                            placeholder="Escriba un mensaje..."></textarea>
                                        <div class="options-message smile-block">

                                            <a type="submit" class="options-message iconChat"
                                                (click)="postCommentChat(user._id)">
                                                <img src="assets/svg-icons/iconBO/icon_send.svg" alt="icono enviar"
                                                    width="24" height="auto">
                                            </a>
                                            <!-- Post Button -->
                                            <!-- <button name="button" type="submit" class="btn btn-md-2 btn-primary"
                                                (click)="postCommentChat(user._id)" [disabled]="!commentFormChat.valid">Publicar</button> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ul>
                </div>
                <a href="#" class="olympus-chat inline-items js-chat-open">
                    <img src="../assets/svg-icons/iconBO/chat_left.svg" alt="Chat">
                </a>
                <div class="search-friend inline-items">
                    <a href="#" class="js-sidebar-open">
                        <img src="../assets/svg-icons/iconBO/menu_left.svg" alt="menu Derecha">
                    </a>
                </div>
            </div>

            <div class="fixed-sidebar-right sidebar--large" id="sidebar-right-1">

                <div class="mCustomScrollbar" data-mcs-theme="dark">

                    <ul *ngFor="let user of users" class="chat-users">
                        <li class="inline-items">

                            <div class="author-thumb">
                                <a class="img-chat" href="#myModales{{user._id}}" data-toggle="modal"
                                    data-backdrop="false" (click)="getMessagesChat(1, user._id)">
                                    <img class="avatar" src="{{ url+ 'get-image-user/' + user.image }}"
                                        *ngIf="user.image">
                                    <img class="avatar" src="assets/user.png" *ngIf="!user.image">
                                </a>
                                <span class="icon-status online"></span>
                            </div>

                            <div class="author-status">
                                <a href="#myModales{{user._id}}" data-toggle="modal" data-backdrop="false"
                                    (click)="getMessagesChat(1, user._id)" class="h6 author-name">{{user.name}}
                                    {{user.surname}}</a>
                            </div>

                            <div class="more"><img src="../assets/svg-icons/iconBO/comment_oscuro.svg" alt=""
                                    class="olymp-comments-post-icon" data-toggle="tooltip" data-placement="top"
                                    data-original-title="START CONVERSATION">
                            </div>

                        </li>

                        <div id="myModales{{user._id}}" class="ui-block m-chat popup-chat popup-chat-responsive"
                            role="dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="icon-status"><img src="assets/img/author-page.jpg" width="50"
                                            height="auto"></span>
                                    <h6 class="title">{{user.name}}<br /><span>Activo ahora</span></h6>

                                    <div class="more">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="mCustomScrollbar">
                                        <ul class="notification-list chat-message chat-message-field">
                                            <li *ngFor="let message of messages">
                                                <div class="author-thumb">
                                                    <img src="{{ url + 'get-image-user/' + message.emitter.image }}"
                                                        alt="{{ message.emitter.name + ' ' + message.emitter.surname}}"
                                                        *ngIf="message.emitter.image" class="mCS_img_loaded">
                                                    <img src="assets/user.png"
                                                        alt="{{ message.emitter.name + ' ' + message.emitter.surname}}"
                                                        *ngIf="!message.emitter.image" class="mCS_img_loaded">
                                                </div>
                                                <div class="notification-event">
                                                    <span class="chat-message-item">{{message.text}}</span>
                                                    <span class="notification-date"><time class="entry-date updated"
                                                            datetime="2004-07-24T18:18">
                                                            {{(message.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</time></span>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>


                                </div>
                            </div>
                            <form [formGroup]="commentFormChat" class="need-validation">
                                <div class="form-group">
                                    <div class="add-options-message">
                                        <textarea name="comment" class="form-control" formControlName="comment"
                                            placeholder="Escriba un mensaje..."></textarea>
                                        <div class="options-message smile-block">

                                            <a type="submit" class="options-message iconChat"
                                                (click)="postCommentChat(user._id)">
                                                <img src="assets/svg-icons/iconBO/icon_send.svg" alt="icono enviar"
                                                    width="24" height="auto">
                                            </a>
                                            <!-- Post Button -->
                                            <!-- <button name="button" type="submit" class="btn btn-md-2 btn-primary"
                                                (click)="postCommentChat(user._id)" [disabled]="!commentFormChat.valid">Publicar</button> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ul>
                </div>

                <div class="search-friend inline-items">
                    <a href="#" class="olympus-chat inline-items">
                        <img src="../assets/svg-icons/iconBO/chat_left.svg" alt="Chat">
                    </a>
                    <a href="#" class="js-sidebar-open">
                        <img src="../assets/svg-icons/iconBO/menu_left.svg" alt="menu Derecha">
                    </a>
                </div>
            </div>
        </div>

        <!-- ... end Fixed Sidebar Right -->


        <!-- Fixed Sidebar Right-Responsive -->

        <div class="fixed-sidebar right fixed-sidebar-responsive" id="sidebar-right-responsive">

            <div class="fixed-sidebar-right sidebar--small">
                <a href="#" class="js-sidebar-open">
                    <svg class="olymp-menu-icon">
                        <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                    </svg>
                    <svg class="olymp-close-icon">
                        <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                    </svg>
                </a>
            </div>

            <div class="fixed-sidebar-right sidebar--large">
                <div class="mCustomScrollbar" data-mcs-theme="dark">

                    <ul *ngFor="let user of users" class="chat-users">
                        <li class="inline-items">

                            <div class="author-thumb">
                                <a class="img-chat" href="#myModales{{user._id}}" data-toggle="modal"
                                    data-backdrop="false" (click)="getMessagesChat(1, user._id)">
                                    <img class="avatar" src="{{ url+ 'get-image-user/' + user.image }}"
                                        *ngIf="user.image">
                                    <img class="avatar" src="assets/user.png" *ngIf="!user.image">
                                </a>
                                <span class="icon-status online"></span>
                            </div>

                            <div class="author-status">
                                <a href="#myModales{{user._id}}" data-toggle="modal" data-backdrop="false"
                                    (click)="getMessagesChat(1, user._id)" class="h6 author-name">{{user.name}}
                                    {{user.surname}}</a>
                            </div>

                            <div class="more"><img src="../assets/svg-icons/iconBO/comment_oscuro.svg" alt=""
                                    class="olymp-comments-post-icon" data-toggle="tooltip" data-placement="top"
                                    data-original-title="START CONVERSATION">
                            </div>

                        </li>

                        <div id="myModales{{user._id}}" class="ui-block m-chat popup-chat popup-chat-responsive"
                            role="dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="icon-status"><img src="assets/img/author-page.jpg" width="50"
                                            height="auto"></span>
                                    <h6 class="title">{{user.name}}<br /><span>Activo ahora</span></h6>

                                    <div class="more">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="mCustomScrollbar">
                                        <ul class="notification-list chat-message chat-message-field">
                                            <li *ngFor="let message of messages">
                                                <div class="author-thumb">
                                                    <img src="{{ url + 'get-image-user/' + message.emitter.image }}"
                                                        alt="{{ message.emitter.name + ' ' + message.emitter.surname}}"
                                                        *ngIf="message.emitter.image" class="mCS_img_loaded">
                                                    <img src="assets/user.png"
                                                        alt="{{ message.emitter.name + ' ' + message.emitter.surname}}"
                                                        *ngIf="!message.emitter.image" class="mCS_img_loaded">
                                                </div>
                                                <div class="notification-event">
                                                    <span class="chat-message-item">{{message.text}}</span>
                                                    <span class="notification-date"><time class="entry-date updated"
                                                            datetime="2004-07-24T18:18">
                                                            {{(message.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</time></span>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>


                                </div>
                            </div>
                            <form [formGroup]="commentFormChat" class="need-validation">
                                <div class="form-group">
                                    <div class="add-options-message">
                                        <textarea name="comment" class="form-control" formControlName="comment"
                                            placeholder="Escriba un mensaje..."></textarea>
                                        <div class="options-message smile-block">

                                            <a type="submit" class="options-message iconChat"
                                                (click)="postCommentChat(user._id)">
                                                <img src="assets/svg-icons/iconBO/icon_send.svg" alt="icono enviar"
                                                    width="24" height="auto">
                                            </a>
                                            <!-- Post Button -->
                                            <!-- <button name="button" type="submit" class="btn btn-md-2 btn-primary"
                                                (click)="postCommentChat(user._id)" [disabled]="!commentFormChat.valid">Publicar</button> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ul>
                </div>

                <div class="search-friend inline-items">
                    <a href="#" class="olympus-chat inline-items js-chat-open">
                        <img src="../assets/svg-icons/iconBO/chat_left.svg" alt="Chat">
                    </a>
                    <a href="#" class="js-sidebar-open">
                        <img src="../assets/svg-icons/iconBO/menu_left.svg" alt="menu Derecha">
                    </a>
                </div>
            </div>

        </div>

        <!-- ... end Fixed Sidebar Right-Responsive -->


        <!-- Header-BP -->

        <header class="container-fluid header" id="site-header">

            <div class="row">
                <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-3 col-2 page-title">
                    <a href="/" class="logo">
                        <img src="../assets/img/logo_BO_social.png" alt="Logo BO-social" width="116">
                    </a>
                </div>
                <div class="col col-xl-1 col-lg-1 col-md-1 col-sm-0 col-1" id="ocult"></div>
                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-5 col-6">
                    <div class="search-bar w-search notification-list friend-requests">
                        <div class="form-group with-button">
                            <input class="form-control"
                                placeholder="Buscar productos , servicios, personas, paginas y más..." type="text"
                                [(ngModel)]="albumSelected" (ngModelChange)="getSearch($event)">

                            <a href="{{'search/' + albumSelected}}" class="searchIcon">
                                <img src="../assets/svg-icons/iconBO/search.svg" class="buscarHeader"
                                    alt="icono Buscar">
                            </a>
                        </div>
                        <ul *ngIf="albumSelected" class="searchget">
                            <li *ngFor="let result of results">
                                <a href="{{'perfil/' + result._id}}">
                                    <div class="inline-items">
                                        <div class="author-thumb">
                                            <img src="{{ url + 'get-image-user/' + result.image }}" *ngIf="result.image"
                                                alt="author">
                                            <img src="assets/user.png" *ngIf="!result.image" alt="author">
                                        </div>
                                        <div class="notification-event ml-3">
                                            <span class="h6 notification-friend name">{{result.name}}
                                                {{result.surname}}</span>
                                            <span class="chat-message-item city">{{result.ciudad}}</span><br />
                                            <span class="chat-message-item service">{{result.servicios}}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Hoy essssssssssssss::::::    {{albumSelected}} -->
                </div>
                <div class="col col-xl-3 col-lg-3 col-md-3 col-sm-3 col-2">

                    <div class="ml-0 mr-0 control-block">
                        <div class="control-icon more has-items">
                            <img src="../assets/svg-icons/iconBO/friend_sup.svg" alt="Icono friends">
                            <div class="label-avatar bg-blue">0</div>

                            <div class="more-dropdown more-with-triangle triangle-top-center bg-white">

                                <div class="mCustomScrollbar" data-mcs-theme="dark">
                                    <users></users>
                                </div>

                                <a href="#" class="view-all  bg-purple mt-3"  >Solicitudes de amistad</a>
                            </div>
                        </div>

                        <div class="control-icon more has-items">
                            <img src="../assets/svg-icons/iconBO/chat_sup.svg" alt="Icono chat">
                            <div class="label-avatar bg-purple">{{totalN}}</div>

                            <div class="more-dropdown more-with-triangle triangle-top-center bg-white">

                                <div class="mCustomScrollbar mb-4" data-mcs-theme="dark">
                                    <ul class="notification-list chat-message">
                                        <li *ngFor="let messageN of messagesNotification" class="message-unread">
                                            <div class="author-thumb">
                                                <img src="{{ url + 'get-image-user/' + messageN.emitter.image }}"
                                                    alt="author" *ngIf="messageN.emitter.image">
                                                <img src="assets/user.png" alt="" *ngIf="!messageN.emitter.image">
                                            </div>
                                            <div class="notification-event">
                                                <a href="/mensajes/recibidos"
                                                    class="h6 notification-friend">{{messageN.emitter.name + ' ' + messageN.emitter.surname}}</a>
                                                <span class="chat-message-item">{{messageN.text}}</span>
                                                <span class="notification-date"><time class="entry-date updated"
                                                        datetime="2004-07-24T18:18">{{(messageN.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</time></span>
                                            </div>

                                        </li>
                                    </ul>
                                </div>

                                <a href="/mensajes/recibidos" class="view-all bg-purple mt-3">Ver todos los mensajes</a>
                            </div>
                        </div>

                        <div class="control-icon more has-items">
                            <img src="../assets/svg-icons/iconBO/noti_sup.svg" alt="Icono notificacion">

                            <div class="label-avatar bg-orange">{{invitaciones_activasN}}</div>

                            <div class="more-dropdown more-with-triangle triangle-top-center">

                                <div class="mCustomScrollbar bg-white" data-mcs-theme="dark">
                                    <ul class="notification-list">
                                        <li *ngFor="let provider of providersN">
                                            <div class="author-thumb">
                                                <img src="../assets/img/avatar62-sm.jpg" alt="author">
                                            </div>
                                            <div class="notification-event">
                                                <div class="titleNoti">
                                                    <span class="nameType">
                                                        <a href="#"
                                                            class="h6 notification-friend"><b>{{provider.userContratista.name}}
                                                                {{provider.userContratista.surname}}</b></a><br>
                                                        Propuesta de Servicio
                                                    </span> <br>
                                                    <span class="notification-date"><time class="entry-date updated"
                                                            datetime="2004-07-24T18:18">{{provider.date}}</time></span>
                                                </div>
                                                <a href="/services-provider"
                                                    class="notification-link textNot">{{provider.title}}</a>
                                            </div>

                                        </li>
                                    </ul>
                                </div>

                                <a href="/services-provider" class="view-all  bg-purple mt-3">Ver todas las notificaciones</a>
                            </div>
                        </div>

                        <div class="author-page author vcard inline-items more">
                            <div class="author-thumb">
                                <img class="avatar" src="{{ url + 'get-image-user/' + identity.image }}" alt="author"
                                    *ngIf="identity && identity.image">
                                <img class="avatar" src="assets/user.png" alt="author" *ngIf="!identity.image">
                                <span class="icon-status online"></span>
                                <div class="more-dropdown more-with-triangle">

                                    <div class="mCustomScrollbar bg-white" data-mcs-theme="dark">


                                        <ul class="account-settings">
                                            <li>
                                                <a href="/personal-information">
                                                    <img src="../assets/svg-icons/iconBO/configProfile.svg"
                                                        alt="icono configuracion">
                                                    <span>Configuración</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="pointer" (click)="logout()">
                                                    <img src="assets/svg-icons/iconBO/deleteProfile.svg"
                                                        alt="icono configuracion">
                                                    <span>Cerrar sesión</span>
                                                </a>
                                            </li>
                                        </ul>


                                        <ul class="chat-settings profileSetting">
                                            <p><small>Estado de Chat</small></p>
                                            <li>
                                                <a href="#">
                                                    <span class="icon-status online"></span>
                                                    <span>En linea</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="icon-status away"></span>
                                                    <span>Ocupado</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="icon-status disconected"></span>
                                                    <span>Desconectado</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <span class="icon-status status-invisible"></span>
                                                    <span>Invisible</span>
                                                </a>
                                            </li>
                                        </ul>


                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span>Términos y condiciones</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span>Preguntas frecuentes</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span>Contáctenos</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <a href="{{'perfil/' + identity._id}}" class="author-name fn">
                                <div class="author-title">
                                    {{identity.name}} {{identity.surname}} <svg class="olymp-dropdown-arrow-icon">
                                        <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon">
                                        </use>
                                    </svg>
                                </div>
                                <span class="author-subtitle">{{identity.nick}}</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </header>

        <!-- ... end Header-BP -->


        <!-- Responsive Header-BP -->

        <header class="header header-responsive" id="site-header-responsive">

            <div class="header-content-wrapper">
                <ul class="nav nav-tabs mobile-app-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#request" role="tab">
                            <div class="control-icon has-items">
                                <img src="assets/svg-icons/iconBO/icon_emoji.svg" alt="icono emoji"
                                    class="olymp-happy-face-icon">
                                <div class="label-avatar bg-blue">0</div>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#chat" role="tab">
                            <div class="control-icon has-items">
                                <svg class="olymp-chat---messages-icon">
                                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-chat---messages-icon">
                                    </use>
                                </svg>
                                <div class="label-avatar bg-purple">{{totalN}}</div>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#notification" role="tab">
                            <div class="control-icon has-items">
                                <svg class="olymp-thunder-icon">
                                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use>
                                </svg>
                                <div class="label-avatar bg-primary">{{invitaciones_activasN}}</div>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#search" role="tab">
                            <img src="assets/svg-icons/iconBO/search.svg" class="buscarHeader" alt="icono Buscar">
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="tab-content tab-content-responsive">

                <div class="tab-pane " id="request" role="tabpanel">

                    <div class="mCustomScrollbar" data-mcs-theme="dark">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">SOLICITUDES DE AMIGOS</h6>
                            <!-- <a href="#"> Encuentra amigos </a>
                            <a href="#">Configuración</a> -->
                        </div>
                        <users></users>
                        <!-- <a href="#" class="view-all bg-blue"> Confirmar todos los eventos </a> -->
                    </div>

                </div>

                <div class="tab-pane " id="chat" role="tabpanel">

                    <div class="mCustomScrollbar" data-mcs-theme="dark">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">Chat / Mensajes</h6>
                            <!-- <a href="#">Marcar como leído</a>
                            <a href="#">Configuración</a> -->
                        </div>

                        <ul class="notification-list chat-message">
                            <li *ngFor="let messageN of messagesNotification" class="message-unread">
                                <div class="author-thumb">
                                    <img src="{{ url + 'get-image-user/' + messageN.emitter.image }}" alt="author"
                                        *ngIf="messageN.emitter.image">
                                    <img src="assets/user.png" alt="" *ngIf="!messageN.emitter.image">
                                </div>
                                <div class="notification-event">
                                    <a href="#" class="h6 notification-friend">{{messageN.emitter.name + ' ' + messageN.emitter.surname}}</a>
                                    <span class="chat-message-item">{{messageN.text}}</span>
                                    <span class="notification-date"><time class="entry-date updated"
                                            datetime="2004-07-24T18:18">{{(messageN.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</time></span>
                                </div>
                                <span class="notification-icon">
                                    <svg class="olymp-chat---messages-icon">
                                        <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-chat---messages-icon">
                                        </use>
                                    </svg>
                                </span>
                                <div class="more">
                                    <svg class="olymp-three-dots-icon">
                                        <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
                                        </use>
                                    </svg>
                                </div>
                            </li>

                        </ul>

                        <a href="#" class="view-all bg-purple">Ver todos los mensajes</a>
                    </div>

                </div>

                <div class="tab-pane " id="notification" role="tabpanel">

                    <div class="mCustomScrollbar" data-mcs-theme="dark">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">Notificacion</h6>
                            <!-- <a href="#">Marcar como leído</a>
                            <a href="#">Configuración</a> -->
                        </div>

                        <ul class="notification-list">
                            <li *ngFor="let provider of providersN">
                                <div class="author-thumb">
                                    <img src="assets/img/avatar62-sm.jpg" alt="author">
                                </div>
                                <div class="notification-event">
                                    <div><a href="#" class="h6 notification-friend"><b>{{provider.userContratista.name}}
                                        {{provider.userContratista.surname}}</b></a><br>
                                Propuesta de Servicio
                                        <a href="/services-provider" class="notification-link">{{provider.title}}</a>.</div>
                                    <span class="notification-date"><time class="entry-date updated"
                                            datetime="2004-07-24T18:18">{{provider.date}}</time></span>
                                </div>
                            </li>
                        </ul>

                        <a href="/services-provider" class="view-all bg-primary">Ver todas las notificaciones</a>
                    </div>

                </div>

                <div class="tab-pane " id="search" role="tabpanel">


                    <div class="search-bar w-search notification-list friend-requests">
                        <div class="form-group with-button">
                            <input class="form-control"
                                placeholder="Buscar productos , servicios, personas, paginas y más..." type="text"
                                [(ngModel)]="albumSelected" (ngModelChange)="getSearch($event)">

                            <a href="{{'search/' + albumSelected}}" class="searchIcon">
                                <img src="../assets/svg-icons/iconBO/search.svg" class="buscarHeader"
                                    alt="icono Buscar">
                            </a>
                        </div>
                        <ul *ngIf="albumSelected" class="searchget">
                            <li *ngFor="let result of results">
                                <a href="{{'perfil/' + result._id}}">
                                    <div class="inline-items">
                                        <div class="author-thumb">
                                            <img src="{{ url + 'get-image-user/' + result.image }}" *ngIf="result.image"
                                                alt="author">
                                            <img src="assets/user.png" *ngIf="!result.image" alt="author">
                                        </div>
                                        <div class="notification-event ml-3">
                                            <span class="h6 notification-friend name">{{result.name}}
                                                {{result.surname}}</span>
                                            <span class="chat-message-item city">{{result.ciudad}}</span><br />
                                            <span class="chat-message-item service">{{result.servicios}}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>

            </div>
            <!-- ... end  Tab panes -->

        </header>

        <!-- ... end Responsive Header-BP -->
        <div class="header-spacer"></div>







        <!-- ... end Window-popup Choose from my Photo -->

        <a class="back-to-top" href="#">
            <img src="assets/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
        </a>

        <!-- Window-popup-CHAT for responsive min-width: 768px -->

        <!-- <div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog"
            aria-labelledby="popup-chat-responsive" aria-hidden="true">

            <div class="modal-content">
                <div class="modal-header">
                    <span class="icon-status"><img src="assets/img/author-page.jpg" width="50" height="auto"></span>
                    <h6 class="title">Chat<br /><span>Activo ahora</span></h6>

                    <div class="more">
                        <svg class="olymp-little-delete js-chat-open">
                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="mCustomScrollbar">
                        <ul class="notification-list chat-message chat-message-field">
                            <li>
                                <div class="author-thumb">
                                    <img src="assets/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                                </div>
                                <div class="notification-event">
                                    <span class="chat-message-item">Hi James! Please remember to buy the food for
                                        tomorrow!
                                        I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                    <span class="notification-date"><time class="entry-date updated"
                                            datetime="2004-07-24T18:18"> Ayer a las 8:10pm</time></span>
                                </div>
                            </li>

                            <li>
                                <div class="author-thumb">
                                    <img src="assets/img/author-page.jpg" alt="author" class="mCS_img_loaded">
                                </div>
                                <div class="notification-event">
                                    <span class="chat-message-item">Don’t worry Mathilda!</span>
                                    <span class="chat-message-item">I already bought everything</span>
                                    <span class="notification-date"><time class="entry-date updated"
                                            datetime="2004-07-24T18:18"> Ayer a las 8:29pm</time></span>
                                </div>
                            </li>

                            <li>
                                <div class="author-thumb">
                                    <img src="assets/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                                </div>
                                <div class="notification-event">
                                    <span class="chat-message-item">Hi James! Please remember to buy the food for
                                        tomorrow!
                                        I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                    <span class="notification-date"><time class="entry-date updated"
                                            datetime="2004-07-24T18:18"> Ayer a las 8:10pm</time></span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <form class="need-validation">
                        <div class="form-group">
                            <div class="add-options-message">
                                <textarea class="form-control" placeholder="Escriba un mensaje..."></textarea>
                                <div class="options-message smile-block">

                                    <a href="#" class="options-message iconChat">
                                        <img src="assets/svg-icons/iconBO/icon_send.svg" alt="icono enviar" width="24"
                                            height="auto">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div> -->

        <!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

    </body>
</div>

<router-outlet></router-outlet>