<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Cambiar contraseña</h6>
				</div>
				<div class="ui-block-content">

					<div class="alert alert-success" *ngIf="statusTrue">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{statusTrue}}
					 </div>
				 
					 <div class="alert alert-danger" *ngIf="statusFalse">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						 {{statusFalse}}
					 </div>
					
					<!-- Change Password Form -->
					
					<form #userEditForm="ngForm" (ngSubmit)="onSubmit(identity._id)">
						<div class="row">
							<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">Confirmar actual contraseña</label>
									<input name="currentPassword" #currentPassword="ngModel" [(ngModel)]="user.currentPassword" class="form-control" placeholder="" type="password" required>
								</div>
							</div>
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating is-empty">
									<label class="control-label">Nueva contraseña</label>
									<input name="newPassword" #newPassword="ngModel" [(ngModel)]="user.newPassword" class="form-control" placeholder="" type="password" required>
								</div>
							</div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating is-empty">
									<label class="control-label">Confirmar nueva contraseña</label>
									<input name="verifyPassword" #verifyPassword="ngModel" [(ngModel)]="user.verifyPassword" class="form-control" placeholder="" type="password" required>
								</div>
							</div>
					
							<div class="col col-lg-12 col-sm-12 col-sm-12 col-12">
								<div class="remember">
					
									<div class="checkbox">
										<label>
											<input name="optionsCheckboxes" type="checkbox">
											Recordar
										</label>
									</div>
					
									<a href="#" class="forgot" data-toggle="modal" data-target="#restore-password">¿Olvidé mi contraseña?</a>
								</div>
							</div>
					
							<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<button type="submit" class="btn btn-primary btn-lg full-width" [disabled]="!userEditForm.form.valid">{{title}}</button>
							</div>
					
						</div>
					</form>
					
					<!-- ... end Change Password Form -->
				</div>
			</div>
		</div>

		<div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
			<div class="ui-block">

				<!-- Your Profile  -->
				
				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Perfil</h6>
					</div>
				
					<div id="accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<h6 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Configuración del Perfil
										<svg class="olymp-dropdown-arrow-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
									</a>
								</h6>
							</div>
				
							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<ul class="your-profile-menu">
                                    <li>
                                        <a href="/personal-information"> Información personal </a>
                                    </li>
                                    <li>
                                        <a href="/settings-account"> Configuración de la cuenta </a>
                                    </li>
                                    <li>
                                        <a href="/change-password"> Cambiar contraseña </a>
                                    </li>
                                </ul>
							</div>
						</div>
					</div>
				
					<div class="ui-block-title">
						<a href="33-YourAccount-Notifications.html" class="h6 title"> Notificaciones </a>
						<a href="#" class="items-round-little bg-primary">8</a>
					</div>
					<div class="ui-block-title">
						<a href="34-YourAccount-ChatMessages.html" class="h6 title">Chat / Mensajes</a>
					</div>
					<div class="ui-block-title">
						<a href="35-YourAccount-FriendsRequests.html" class="h6 title"> Solicitudes de amistad </a>
						<a href="#" class="items-round-little bg-blue">4</a>
					</div>
				</div>
				
				<!-- ... end Your Profile  -->

			</div>
		</div>
	</div>
</div>
