
<!-- Friend Item -->

<div class="friend-item friend-groups">

	<div class="friend-item-content">

		<div class="more">
			<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#"> Reportar perfil </a>
				</li>
				<li>
					<a href="#"> Bloquear perfil </a>
				</li>
				<li>
					<a href="#">Desactivar Notificaciones</a>
				</li>
			</ul>
		</div>
		<div class="friend-avatar">
			<div class="author-thumb">
				<img src="img/friend-group3.jpg" alt="photo">
			</div>
			<div class="author-content">
				<a href="#" class="h5 author-name">Freelance Clients</a>
				<div class="country">15 Friends in the Group</div>
			</div>
		</div>

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic1.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic2.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic3.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic4.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic5.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic6.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic9.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#" class="all-users bg-blue">+6</a>
			</li>
		</ul>

		<div class="control-block-button">
			<a href="#" class="  btn btn-control bg-blue" data-toggle="modal" data-target="#create-friend-group-add-friends">
				<svg class="olymp-happy-faces-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg>
			</a>

			<a href="#" class="btn btn-control btn-grey-lighter">
				<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
			</a>

		</div>
	</div>
</div>

<!-- ... end Friend Item -->