<body class="landing-page">
    <!-- Preloader -->


    <!-- ... end Preloader -->
    <div class="content-bg-wrap"></div>


    <!-- Header Standard Landing  -->

    <div class="header--standard header--standard-landing" id="header--standard">
        <div class="container">
            <div class="header--standard-wrap">

                <a href="#" class="logo">
                    <div class="img-wrap">
                        <img src="assets/img/logo_BO_social.png" alt="BO-Social Logo">
                    </div>
                </a>

                <div class="nav nav-pills nav1 header-menu">
                    <div id="navLogin" class="">
                        <div class="alert alert-danger" *ngIf="status == 'error'">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Correo electrónico/Contraseña no validos
                        </div>
                        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="content">
                            <ul>
                                <li class="nav-item">
                                    <input placeholder="Usuario o correo" type="email" name="email" #email="ngModel"
                                        [(ngModel)]="user.email" class="form-control" required
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />

                                    <span *ngIf="!email.valid && email.touched">
                                        El email no es correcto!!
                                    </span>

                                    <div class="remember">
                                        <div class="checkbox">
                                            <label>
                                                <input name="optionsCheckboxes" type="checkbox">
                                                Recordarme
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <input type="password" placeholder="Contraseña" name="password" #password="ngModel"
                                        [(ngModel)]="user.password" class="form-control" required />

                                    <span *ngIf="!password.valid && password.touched">
                                        La contraseña es obligatoria!!!
                                    </span>
                                    <a href="#" class="forgot" data-toggle="modal"
                                        data-target="#restore-password">Olvidé mi
                                        contraseña</a>
                                </li>
                                <li class="nav-item">
                                    <input type="submit" value="Iniciar sesión"
                                        class="btn btn-lg btn-primary full-width" [disabled]="!loginForm.form.valid">
                                </li>
                                <li class="nav-item" id="redSocial">
                                    <a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="btn btn-lg bg-gmail full-width btn-icon-left">
                                        <i class="fab fa-google" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </a>

                                </li>

                            </ul>

                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row display-flex" id="loginPage">
            <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-6">
                <div class="landing-content">
                    <h1>Welcome to the Biggest Social Network in the World </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper ultrices blandit.
                        Pellentesque sed tortor eget leo dignissim imperdiet mattis ut ante.
                    </p>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-6">

                <!-- Login-Registration Form  -->
                <register></register>
            </div>
        </div>
    </div>

    <footer id="footerLogin">
        <div class="row">
            <div class="col"><a href="#" class="forgot" data-toggle="modal"
                data-target="#terminos-condiciones">Terminos & Condiciones</a></div>
            <div class="col"><a href="#">Quiénes somos </a></div>
            <div class="col"><a href="#">Politica de privacidad</a></div>
            <div class="col"><a href="#">Contáctenos</a></div>
            <div class="col">Español</div>
            <div class="col">© 2020 Bo-Social</div>
        </div>

    </footer>

    <!-- Window-popup Restore Password -->

    <div class="modal fade" id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password"
        aria-hidden="true">
        <div class="modal-dialog window-popup restore-password-popup" role="document" style="max-height: 350px !important;">
            <div class="modal-content" style="height: 100%;">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <img class="olymp-close-icon closePopup" src="assets/svg-icons/iconBO/close_popUp.svg">
                </a>

                <div class="modal-header resPassword">
                    <h6 class="title mt-4">Restablecer contraseña</h6>
                </div>

                <div class="modal-body">
                    <div class="alert alert-success" *ngIf="successMessage">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{successMessage}}
                    </div>
                    
                    <div class="alert alert-danger" *ngIf="errorMessage">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{errorMessage}}
                    </div>
                    <form action="" [formGroup]="RequestResetForm" (ngSubmit)="RequestResetUser(RequestResetForm)">
                        <p>Ingrese su correo electrónico y haga clic en el botón de enviar código.<br>
                            Utilice ese código para cambiar la contraseña anterior por una nueva.
                        </p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Correo electrónico" type="email" id="email" formControlName="email" style="padding: .5rem;">
                        </div>
                        <button type="submit" class="btn btn-yellow btn-md-12">Restaurar Contraseña</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!--... end Window-popup Restore Password -->


    <!-- Window Popup confirmacion correo-->
    <div class="modal fade" id="confirEmail" tabindex="-1" role="dialog" aria-labelledby="restore-password"
        aria-hidden="true">
        <div class="modal-dialog window-popup restore-password-popup" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <img class="olymp-close-icon closePopup" src="assets/svg-icons/iconBO/close_popUp.svg">
                </a>

                <div class="modal-header">
                    <h6 class="title validar">Para continuar primero debe validar su correo electrónico</h6>
                </div>

                <div class="modal-body">
                    <form method="get">
                        <p>Si no ha recibido nungún correo de validación revise
                            su carpeta de spam o solicite en el siguiete botón un
                            reenvio.
                        </p>
                        <button class="btn btn-yellow btn-md-12 validar">Reenviar correo de validación</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- ... end Window Popup confirmacion correo-->

    
<!-- Window-popup Términos y condiciones-->

<div class="modal fade" id="terminos-condiciones" tabindex="-1" role="dialog" aria-labelledby="terminos-condiciones"
aria-hidden="true">
<div class="modal-dialog window-popup terminos-condiciones-popup" role="document">
    <div class="modal-content" style="height: 385px !important;">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <img class="olymp-close-icon closePopup" src="assets/svg-icons/iconBO/close_popUp.svg">
        </a>

        <div class="modal-header resPassword">
            <h6 class="title" style="color:#000; font-size:1.2rem;border-bottom:0px; margin-bottom:0px;">Términos y condiciones</h6>
        </div>

        <div class="modal-body">
            <p>
                En cumplimiento a lo estipulado en la Ley 1581 de 2012 reglamentada por el Decreto 1377 de 2013 “por la cual se dictan  disposiciones generales para la protección de datos personales”, mediante el registro de sus datos personales en el presente formulario usted autoriza a BO-SOCIAL, para la recolección, almacenamiento y uso de los mismos con la finalidad de adelantar el trámite de inscripción virtual, así como para transferir dichos datos o información parcial o total a sus comercios y empresas aliadas, informar sobre actualizaciones de los productos de nuestros proveedores, para formalizar la relación de consumo de los productos y/o servicios ofrecidos y para solicitarle que evalúe la calidad de nuestros servicios. Para mayor información consulte nuestra Política de Tratamiento de Datos Personales, ingresando a www.BO-SOCIAL.com”
            </p>
            <br/>
        </div>
    </div>
</div>
</div>
<!--... end Window-popup terminos y condiciones-->

</body>
