<!-- <div id="publications">
    <div *ngFor="let publication of publications" class="item-publication">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="image-user pull-left">
                    <a href="">
                        <img src="{{ url + 'get-image-user/' + publication.user.image }}" alt=""
                            *ngIf="publication.user.image">
                        <img src="assets/user.png" class="avatar-default" alt="" *ngIf="!publication.user.image">
                    </a>
                </div>

                <div>
                    <span class="user-name">
                        {{publication.user.name + ' ' + publication.user.surname}}
                    </span>
                    &nbsp; | &nbsp;
                    <span class="date">
                        {{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}
                    </span>
                </div>

                <h4 class="publication-text pull-left">
                    {{publication.text}}
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 text-center" *ngIf="publications && publications.length">
    <p>
        <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
            Ver mas publicaciones!!
        </button>
    </p>
    
</div> -->

<div *ngFor="let publication of publications" class="ui-block">

    <article class="hentry post has-post-thumbnail">

        <div class="post__author author vcard inline-items">
            <img src="{{ url + 'get-image-user/' + publication.user.image }}"
                *ngIf="publication.user.image" alt="author">
            <img src="assets/user.png" *ngIf="!publication.user.image" alt="author">
            <div class="author-date">
                <a class="h6 post__author-name fn"
                    [routerLink]="['/perfil', publication.user._id]">{{publication.user.name + ' ' + publication.user.surname}}</a>
                <div class="post__date">
                    <time class="published" datetime="2004-07-24T18:18">
                        {{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}
                    </time>
                </div>
            </div>

            <div class="more"><svg class="olymp-three-dots-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                </svg>
                <ul class="more-dropdown">
                    <li>
                        <a href="#myModalEdit{{publication._id}}" data-toggle="modal">Editar Post</a>
                    </li>
                    <li>
                        <a href="#myModal{{publication._id}}" data-toggle="modal">Eliminar Post</a>
                    </li>
                </ul>
            </div>

            <!-- Modal HTML -->
            <div id="myModal{{publication._id}}" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Seguro que quieres eliminar la publicacion?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p style="margin-top: 10px;">Si la borras no podras recuperarla</p>
                            <p>{{publication.text}}</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger"
                                (click)="deletePublication(publication._id)" data-dismiss="modal">Borrar
                                publicacion</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal HTML -->
            <div id="myModalEdit{{publication._id}}" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Seguro que quieres editar la publicacion?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form #userEditForm="ngForm"
                                (ngSubmit)="updatePublicationSubmit(publication._id)">
                                <!-- Title Field -->
                                <div class="form-group">
                                    <label for="text">Publicacion</label>
                                    <!-- Title Input -->
                                    <input type="text" class="form-control inputEdit" name="text" #text="ngModel"
                                        [(ngModel)]="publication.text" required>
                                </div>
                                <div class="editPublicP text-right mt-2">
                                    <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-yellow ml-3" type="submit">
                                    Editar publicacion</button>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <p>{{publication.text}}
        </p>

        <div class="post-thumb" *ngIf="publication.file != 'null' && (publication.file.includes('jpg') || publication.file.includes('png') || publication.file.includes('jpeg') || publication.file.includes('gif'))">
            <img src="{{ url  + 'get-image-pub/' + publication.file}}" alt="photo">
        </div>

        <div *ngIf="publication.file.includes('mp4') || publication.file.includes('avi') || publication.file.includes('wmv')" class="post-video">
            <div class="video-thumb">
                <img src="assets/img/last-photo2.jpg" alt="photo">
                <a target="_blank" href="{{ url  + 'get-image-pub/' + publication.file}}" class="play-video">
                    <svg class="olymp-play-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-play-icon"></use></svg>
                </a>
            </div>
    
            <div class="video-content">
                <a class="h4 title">{{publication.text}}</a>
            </div>
        </div>

        <div class="post-additional-info inline-items">

            <span (click)="likePublication(publication._id)" class="post-add-icon inline-items">
                <img src="assets/svg-icons/iconBO/public_generate_share.svg" class="olymp-heart-icon"
                    alt="icono me gusta">
                <span>
                    <p>{{publication.likes}}
                </span>
            </span>

            <div class="names-people-likes">
                a {{publication.likes}} persona(s) le gusta esto
            </div>


            <div class="comments-shared">
                <a href="#" class="post-add-icon inline-items">
                    <img src="assets/svg-icons/iconBO/public_generate_comp.svg" class="olymp-share-icon"
                        alt="icono compartir">
                    <span>2</span>
                </a>
                <a href="#" class="post-add-icon inline-items">
                    <img src="assets/svg-icons/iconBO/public_generate_comment.svg"
                        class="olymp-speech-balloon-icon" alt="icono comentarios">
                    <span>{{ publication.comments?.length }}</span>
                </a>
            </div>


        </div>

        <div class="control-block-button post-control-button">

            <a href="#" class="btn btn-control">
                <img src="assets/svg-icons/iconBO/start_pu.svg" class="olymp-like-post-icon"
                    alt="icono me gusta">
            </a>


            <a href="#" class="btn btn-control">
                <img src="assets/svg-icons/iconBO/comment_pu.svg" class="olymp-like-post-icon"
                    alt="icono comentar">
            </a>

            <a href="#" class="btn btn-control">
                <img src="assets/svg-icons/iconBO/compart_pu.svg" class="olymp-like-post-icon"
                    alt="icono compartir">
            </a>

        </div>

    </article>
    <!-- Comments -->

    <ul class="comments-list" *ngFor="let comment of publication.comments">
        <li class="comment-item">
            <div class="post__author author vcard inline-items">
                <img src="{{ url + 'get-image-user/' + comment.commentatorId.image }}" alt="author"
                    *ngIf="comment.commentatorId.image">
                <img src="assets/user.png" alt="author" *ngIf="!comment.commentatorId.image">

                <div class="author-date">
                    <a class="h6 post__author-name fn"
                        href="{{'perfil/' + comment.commentatorId._id}}">{{comment.commentatorId.name}}
                        {{comment.commentatorId.surname}}</a>
                    <div class="post__date">
                        <time class="published" datetime="2004-07-24T18:18">
                            {{(comment.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}
                        </time>
                    </div>
                </div>

                <div class="more"><svg class="olymp-three-dots-icon">
                        <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
                        </use>
                    </svg>
                    <ul class="more-dropdown">
                        <li>
                            <a href="#myModalComment{{comment._id}}" data-toggle="modal">Eliminar
                                Comentario</a>
                        </li>
                    </ul>
                </div>

                <!-- Modal HTML -->
                <div id="myModalComment{{comment._id}}" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Seguro que quieres eliminar el comentario?</h4>
                                <button type="button" class="close"
                                    data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Si la borras no podras recuperarla</p>
                                <p>{{comment.comment}}</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-danger"
                                    (click)="deleteComment(publication._id, comment._id)"
                                    data-dismiss="modal">Borrar
                                    Comentario</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <p>{{comment.comment}}</p>

        </li>
    </ul>

    <!-- ... end Comments -->

    <a href="#" class="more-comments">Ver más comentarios <span>+</span></a>


    <!-- Comment Form  -->

    <form [formGroup]="commentForm" class="comment-form inline-items">
        <div class="post__author author vcard inline-items">
            <img src="{{ url + 'get-image-user/' + identity.image }}" alt="author"
                *ngIf="identity.image">
            <img src="assets/user.png" alt="author" *ngIf="!identity.image">

            <div class="form-group with-icon-right ">
                <!-- Textarea Input -->
                <textarea name="comment" class="form-control" formControlName="comment"
                    required></textarea>
                <!-- Validation -->
                <span
                    *ngIf="!commentForm.controls.comment.valid && commentForm.controls.comment.touched">
                    el texto del Comentario es obligatorio
                </span>
            </div>
        </div>

        <!-- Post Button -->
        <button name="button" type="submit" class="btn btn-md-2 btn-primary"
            (click)="postComment(publication._id)" [disabled]="!commentForm.valid">Publicar</button>

        <button
            class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>
    </form>

    <div class="alert alert-success" *ngIf="status == 'success'">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Comentario enviado correctamente
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        No se pudo enviar el comentario
    </div>

</div>