<!-- <div class="col-lg-8">
    <h1 class="h1-strong">
        {{title}}
    </h1>

    <div id="data-profile" *ngIf="user">
        <div class="avatar pull-left">
            <img src="{{ url+ 'get-image-user/' + user.image }}" *ngIf="user.image">
            <img src="assets/user.png" *ngIf="!user.image">
        </div>

        <div class="user-name pull-left">
            <div class="label label-default pull-left" *ngIf="followed">
                Te sigue
            </div>

            <div class="clearfix"></div>

            <div class="pull-left">
                <p class="name">{{user.name +' '+ user.surname}}</p>
                <p class="nick">{{user.nick}}</p>
            </div>

            <div class="clearfix"></div>

            <div class="follow pull-left">

                <button class="btn btn-success" *ngIf="!following" (click)="followUser(user._id)">
                    Seguir
                </button>

                <button class="btn btn-primary" *ngIf="following" (click)="unfollowUser(user._id)"
                    (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave()" [class.btn-danger]="user._id == followUserOver">
                    <span *ngIf="user._id == followUserOver; else following">
                        Dejar de Seguir
                    </span>
                    <ng-template #following>
                        Siguiendo
                    </ng-template>

                </button>
            </div>
        </div>

        <div class="stats pull-left" *ngIf="stats">
            <div class="following-data">
                <a [routerLink]="['/siguiendo', user._id, 1]">
                    <span class="label-stats">
                        Siguiendo
                    </span>
                    <span class="number-stats">
                        {{stats.following}}
                    </span>
                </a>
            </div>
    
            <div class="following-data">
                <a [routerLink]="['/seguidores', user._id, 1]">
                    <span class="label-stats">
                        Seguidores
                    </span>
                    <span class="number-stats">
                        {{stats.followed}}
                    </span>
                </a>
            </div>
    
            <div class="following-data">
                <a href="">
                    <span class="label-stats">
                        Publicaciones
                    </span>
                    <span class="number-stats">
                        {{stats.publications}}
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-12 publications" *ngIf="user">
            <publications [user]="user._id"></publications>
        </div>
    </div>
</div>

<sidebar></sidebar> -->

<!-- Top Header-Profile -->

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb">
                        <img src="{{ url+ 'get-portada-user/' + user.portada }}" *ngIf="user.portada">
                        <img src="assets/img/top-header1.jpg" *ngIf="!user.portada" alt="nature">
                    </div>
                    <div class="profile-section">
                        <div class="row">
                            <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="{{'perfil/' + user._id}}" class="active" class="correctWeight">Mis publicaciones</a>
                                    </li>
                                    <li>
                                        <a href="{{'perfil/' + user._id}}" class="correctWeight">Perfil</a>
                                    </li>
                                    <li>
                                        <a href="06-ProfilePage.html " class="correctWeight">Amigos</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="{{'fotos/' + user._id}}" class="correctWeight">Fotos</a>
                                    </li>
                                    <li>
                                        <a href="{{'videos/' + user._id}}" class="correctWeight">Videos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div *ngIf="user._id == identity._id" class="control-block-button">
                            <a href="#" class="btn btn-control bg-grayD">
                                <img src="assets/svg-icons/iconBO/comment_pu.svg" class="olymp-chat---messages-icon"
                                    alt="Icono mensajes perfil">
                            </a>

                            <div class="btn btn-control bg-grayD more">
                                <img src="assets/svg-icons/iconBO/configProfileB.svg" class="olymp-settings-icon"
                                    alt="Icono mensajes perfil">

                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#update-photo">Subir foto de
                                            perfil</a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#update-header-photo">Subir foto de
                                            portada</a>
                                    </li>
                                    <li>
                                        <a href="personal-information">Configuración de cuenta</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top-header-author profile">
                        <a href="{{'perfil/' + user._id}}" class="author-thumb">
                            <img src="{{ url+ 'get-image-user/' + user.image }}" *ngIf="user.image">
                            <img src="assets/user.png" *ngIf="!user.image">
                        </a>
                        <div class="author-content">
                            <a href="{{'perfil/' + user._id}}" class="h4 author-name">{{user.name}} {{user.surname}}</a>
                            <div class="country">{{user.ciudad}} - {{user.localidad}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... end Top Header-Profile -->
<div class="container">
    <div class="row">

        <!-- Main Content -->

        <div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
            <div id="newsfeed-items-grid">

                
                    <!-- Post -->

                    <publications [user]="user._id"></publications>

                    <!-- .. end Post -->
                
                
            </div>

            <a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html"
                data-container="newsfeed-items-grid">
                <svg class="olymp-three-dots-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                </svg>
            </a>
        </div>

        <!-- ... end Main Content -->


        <!-- Left Sidebar -->

        <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">

            <div class="ui-block">
                <div class="ui-block-title paddingC">
                    <h6 class="title correctWeight">Perfil</h6>
                </div>
                <div class="ui-block-content">

                    <!-- W-Personal-Info -->

                    <ul class="widget w-personal-info item-block">
                        <li>
                            <span class="title titleN">Sobre mí:</span>
                            <span *ngIf="user.servicios" class="text">{{user.servicios}}</span>
                            <span *ngIf="!user.servicios" class="text">El usuario no no ha agregado una descripcion</span>
                        </li>
                        <li *ngIf="user._id != identity._id">
                            <button type="button" class="open-homeEvents btn btn-primary" data-toggle="modal"
                                data-target="#create-event">
                                Agendar Servicio
                            </button>
                        </li>
                    </ul>

                    <!-- .. end W-Personal-Info -->
                    <!-- W-Socials -->

                    <div *ngIf="user.facebook || user.twitter" class="widget w-socials">
                        <p class="title titleN" style="margin-bottom: 1em;">Otras redes sociales:</p>

                        <a *ngIf="user.facebook" target="_blank" href="{{user.facebook}}" class="social-item bg-facebook">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                            Facebook
                        </a>
                        <a *ngIf="user.twitter" target="_blank" href="{{user.twitter}}" class="social-item bg-twitter">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                            Twitter
                        </a>
                    </div>


                    <!-- ... end W-Socials -->
                </div>
            </div>

           

        </div>

        <!-- ... end Left Sidebar -->


        <!-- Right Sidebar -->

        <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

            <div class="ui-block">
                <div class="ui-block-title paddingC">
                    <h6 class="title correctWeight">Ultimas fotos</h6>
                </div>
                <div class="ui-block-content">

                    <!-- W-Latest-Photo -->

                    <ul class="widget w-last-photo js-zoom-gallery">
                        <li *ngFor="let publication of publications">
                            <a *ngIf="publication.file != 'null' && (publication.file.includes('jpg') || publication.file.includes('png') || publication.file.includes('jpeg') || publication.file.includes('gif'))" href="{{ url  + 'get-image-pub/' + publication.file}}">
                                <img src="{{ url  + 'get-image-pub/' + publication.file}}" alt="photo">
                            </a>
                            
                        </li>
                    </ul>


                    <!-- .. end W-Latest-Photo -->
                </div>
            </div>

            

        </div>

        <!-- ... end Right Sidebar -->

    </div>
</div>



<!--
    ---------------------POP UP
-->
<!-- Window-popup Update Header Photo -->

<div class="modal fade" id="update-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo"
    aria-hidden="true">
    <div class="modal-dialog window-popup update-header-photo" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <img src="../../../assets/svg-icons/iconBO/closeWhite.svg" class="olymp-close-icon" alt="cerrar">
            </a>

            <div class="modal-header">
                <h6 class="title">Modificar Foto de Perfil</h6>
            </div>

            <div class="modal-body">
                <user-edit></user-edit>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo"
    aria-hidden="true">
    <div class="modal-dialog window-popup update-header-photo" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <img src="../../../assets/svg-icons/iconBO/closeWhite.svg" class="olymp-close-icon" alt="cerrar">
            </a>

            <div class="modal-header">
                <h6 class="title">Modificar Foto de Portada</h6>
            </div>

            <div class="modal-body">
                <user-portada></user-portada>
            </div>
        </div>
    </div>
</div>


<!-- ... end Window-popup Update Header Photo -->

<!-- Window-popup Choose from my Photo -->

<div class="modal fade" id="choose-from-my-photo" tabindex="-1" role="dialog" aria-labelledby="choose-from-my-photo"
    aria-hidden="true">
    <div class="modal-dialog window-popup choose-from-my-photo" role="document">

        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <img src="../../../assets/svg-icons/iconBO/closeWhite.svg" class="olymp-close-icon" alt="cerrar">
            </a>
            <div class="modal-header">
                <h6 class="title"> Elegir de mis fotos </h6>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
                            <svg class="olymp-photos-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-photos-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">
                            <svg class="olymp-albums-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-albums-icon"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="modal-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">

                        <div class="choose-photo-item" data-mh="choose-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img src="assets/img/choose-photo1.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item" data-mh="choose-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img src="assets/img/choose-photo2.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item" data-mh="choose-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img src="assets/img/choose-photo3.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>

                        <div class="choose-photo-item" data-mh="choose-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img src="assets/img/choose-photo4.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item" data-mh="choose-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img src="assets/img/choose-photo5.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item" data-mh="choose-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img src="assets/img/choose-photo6.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>

                        <div class="choose-photo-item" data-mh="choose-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img src="assets/img/choose-photo7.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item" data-mh="choose-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img src="assets/img/choose-photo8.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>
                        <div class="choose-photo-item" data-mh="choose-item">
                            <div class="radio">
                                <label class="custom-radio">
                                    <img src="assets/img/choose-photo9.jpg" alt="photo">
                                    <input type="radio" name="optionsRadios">
                                </label>
                            </div>
                        </div>


                        <a href="#" class="btn btn-secondary btn-lg btn--half-width">Cancelar</a>
                        <a href="#" class="btn btn-primary btn-lg btn--half-width">Confirmar foto </a>

                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">

                        <div class="choose-photo-item" data-mh="choose-item">
                            <figure>
                                <img src="assets/img/choose-photo10.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">South America Vacations</a>
                                    <span> Última adición: 2 hace horas </span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="choose-photo-item" data-mh="choose-item">
                            <figure>
                                <img src="assets/img/choose-photo11.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">Photoshoot Summer 2016</a>
                                    <span> Última adición: 5 hace semanas </span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="choose-photo-item" data-mh="choose-item">
                            <figure>
                                <img src="assets/img/choose-photo12.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">Amazing Street Food</a>
                                    <span> Última adición: 6 hace minutos </span>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="choose-photo-item" data-mh="choose-item">
                            <figure>
                                <img src="assets/img/choose-photo13.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">Graffity & Street Art</a>
                                    <span> Última adición: 16 hace horas </span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="choose-photo-item" data-mh="choose-item">
                            <figure>
                                <img src="assets/img/choose-photo14.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">Amazing Landscapes</a>
                                    <span> Última adición: 13 hace minutos </span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="choose-photo-item" data-mh="choose-item">
                            <figure>
                                <img src="assets/img/choose-photo15.jpg" alt="photo">
                                <figcaption>
                                    <a href="#">The Majestic Canyon</a>
                                    <span> Última adición: 57 hace minutos </span>
                                </figcaption>
                            </figure>
                        </div>


                        <a href="#" class="btn btn-secondary btn-lg btn--half-width">Cancelar</a>
                        <a href="#" class="btn btn-primary btn-lg disabled btn--half-width">Confirmar foto </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ... end Window-popup Choose from my Photo -->

<!-- Playlist Popup -->

<div class="window-popup playlist-popup" tabindex="-1" role="dialog" aria-labelledby="playlist-popup"
    aria-hidden="true">

    <a href="" class="icon-close js-close-popup">
        <img src="../../../assets/svg-icons/iconBO/closeWhite.svg" class="olymp-close-icon" alt="cerrar">

    </a>

    <div class="mCustomScrollbar">
        <table class="playlist-popup-table">

            <thead>

                <tr>

                    <th class="play">
                        PLAY
                    </th>

                    <th class="cover">
                        COVER
                    </th>

                    <th class="song-artist">
                        SONG AND ARTIST
                    </th>

                    <th class="album">
                        ALBUM
                    </th>

                    <th class="released">
                        RELEASED
                    </th>

                    <th class="duration">
                        DURATION
                    </th>

                    <th class="spotify">
                        GET IT ON SPOTIFY
                    </th>

                    <th class="remove">
                        REMOVE
                    </th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big">
                                <use xlink:href="assets/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
                                </use>
                            </svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="assets/img/playlist19.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist">
                        <div class="composition">
                            <a href="#" class="composition-name">We Can Be Heroes</a>
                            <a href="#" class="composition-author">Jason Bowie</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition">Ziggy Firedust</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2014</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">6:17</time>
                        </div>
                    </td>
                    <td class="spotify">
                        <i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
                    </td>
                    <td class="remove">
                        <a href="#" class="remove-icon">
                            <svg class="olymp-close-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                            </svg>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big">
                                <use xlink:href="assets/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
                                </use>
                            </svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="assets/img/playlist6.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist">
                        <div class="composition">
                            <a href="#" class="composition-name">The Past Starts Slow and Ends</a>
                            <a href="#" class="composition-author">System of a Revenge</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition">Wonderize</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2014</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">6:17</time>
                        </div>
                    </td>
                    <td class="spotify">
                        <i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
                    </td>
                    <td class="remove">
                        <a href="#" class="remove-icon">
                            <svg class="olymp-close-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                            </svg>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big">
                                <use xlink:href="assets/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
                                </use>
                            </svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="assets/img/playlist7.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist">
                        <div class="composition">
                            <a href="#" class="composition-name">The Pretender</a>
                            <a href="#" class="composition-author">Kung Fighters</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition">Warping Lights</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2014</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">6:17</time>
                        </div>
                    </td>
                    <td class="spotify">
                        <i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
                    </td>
                    <td class="remove">
                        <a href="#" class="remove-icon">
                            <svg class="olymp-close-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                            </svg>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big">
                                <use xlink:href="assets/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
                                </use>
                            </svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="assets/img/playlist8.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist">
                        <div class="composition">
                            <a href="#" class="composition-name">Seven Nation Army</a>
                            <a href="#" class="composition-author">The Black Stripes</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition ">Icky Strung (LIVE at Cube Garden)</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2014</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">6:17</time>
                        </div>
                    </td>
                    <td class="spotify">
                        <i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
                    </td>
                    <td class="remove">
                        <a href="#" class="remove-icon">
                            <svg class="olymp-close-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                            </svg>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big">
                                <use xlink:href="assets/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
                                </use>
                            </svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="assets/img/playlist9.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist">
                        <div class="composition">
                            <a href="#" class="composition-name">Leap of Faith</a>
                            <a href="#" class="composition-author">Eden Artifact</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition">The Assassins’s Soundtrack</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2014</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">6:17</time>
                        </div>
                    </td>
                    <td class="spotify">
                        <i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
                    </td>
                    <td class="remove">
                        <a href="#" class="remove-icon">
                            <svg class="olymp-close-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                            </svg>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="play">
                        <a href="#" class="play-icon">
                            <svg class="olymp-music-play-icon-big">
                                <use xlink:href="assets/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big">
                                </use>
                            </svg>
                        </a>
                    </td>
                    <td class="cover">
                        <div class="playlist-thumb">
                            <img src="assets/img/playlist10.jpg" alt="thumb-composition">
                        </div>
                    </td>
                    <td class="song-artist">
                        <div class="composition">
                            <a href="#" class="composition-name">Killer Queen</a>
                            <a href="#" class="composition-author">Archiduke</a>
                        </div>
                    </td>
                    <td class="album">
                        <a href="#" class="album-composition ">News of the Universe</a>
                    </td>
                    <td class="released">
                        <div class="release-year">2014</div>
                    </td>
                    <td class="duration">
                        <div class="composition-time">
                            <time class="published" datetime="2017-03-24T18:18">6:17</time>
                        </div>
                    </td>
                    <td class="spotify">
                        <i class="fab fa-spotify composition-icon" aria-hidden="true"></i>
                    </td>
                    <td class="remove">
                        <a href="#" class="remove-icon">
                            <svg class="olymp-close-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                            </svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <audio id="mediaplayer" data-showplaylist="true">
        <source src="assets/mp3/Twice.mp3" title="Track 1" data-poster="track1.png" type="audio/mpeg">
        <source src="assets/mp3/Twice.mp3" title="Track 2" data-poster="track2.png" type="audio/mpeg">
        <source src="assets/mp3/Twice.mp3" title="Track 3" data-poster="track3.png" type="audio/mpeg">
        <source src="assets/mp3/Twice.mp3" title="Track 4" data-poster="track4.png" type="audio/mpeg">
    </audio>

</div>

<!-- Window-popup Create Event -->

<div class="modal fade" id="create-event" tabindex="-1" role="dialog" aria-labelledby="create-event" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered window-popup create-event" role="document" id="createEPerfil">
        <div class="modal-content container-fluid">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <img src="../../../assets/svg-icons/iconBO/closeWhite.svg" class="olymp-close-icon" alt="cerrar">
            </a>
            <div class="modal-header">
                <h6 class="title">Crear Evento</h6>
            </div>

            <div class="modal-body">

                <form #serviceForm="ngForm" (ngSubmit)="onSubmit(serviceForm, user._id)" class="content">
                    <div class="row">
                        <div class="col-md-6" id="modalCalendar">
                            <!-- Full Calendar -->
    
                            <full-calendar class="crumina-full-calendar" [options]="calendarOptions"></full-calendar>
    
                            <!-- ... end Full Calendar -->
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-success" *ngIf="status == 'success'">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                Servicio creado correctamente <br>
                                Se envió una notificación al prestador del servicio!
                            </div>
                    
                            <div class="alert alert-danger" *ngIf="status == 'error'">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                No se pudo crear el servicio
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">Titulo</label>
                                <input class="form-control" placeholder="" name="title" #title="ngModel"
                                    [(ngModel)]="service.title" type="text" required>
                                <span *ngIf="!title.valid && title.touched">
                                    El titulo es obligatorio!!
                                </span>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">Descripción</label>
                                <input class="form-control" placeholder="" name="description" #description="ngModel"
                                    [(ngModel)]="service.description" type="text" required>

                                <span *ngIf="!description.valid && description.touched">
                                    La descripción es obligatoria!!
                                </span>
                            </div>

                            <div class="form-group date-time-picker label-floating">
                                <label class="control-label">Fecha Servicio</label>
                                <input name="date" type="date" id="date" #date="ngModel" [(ngModel)]="service.date" required>
                            </div>

                            <div class="form-group date-time-picker label-floating">
                                <label class="control-label">Hora Servicio</label>
                                <input name="hour" type="time" id="time" #hour="ngModel" [(ngModel)]="service.hour" required>
                            </div>

                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Costo Servicio</label>
                                <input class="form-control" placeholder="" value="" name="cost" #cost="ngModel"
                                    [(ngModel)]="service.cost" type="text">
                                <span *ngIf="!cost.valid && cost.touched">
                                    El costo del servicio es obligatoria!!
                                </span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" [disabled]="!serviceForm.form.valid"
                        class="btn btn-yellow btn-lg full-width">Crear evento</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- ... end Playlist Popup -->

<!-- Window-popup Event Private Public -->

<div class="modal fade" id="private-event" tabindex="-1" role="dialog" aria-labelledby="private-event"
    aria-hidden="true">
    <div class="modal-dialog window-popup event-private-public private-event" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                 <img src="../../../assets/svg-icons/iconBO/closeWhite.svg" class="olymp-close-icon" alt="cerrar">
            </a>
            <div class="modal-body">
                <article class="hentry post has-post-thumbnail thumb-full-width private-event">

                    <div class="private-event-head inline-items">
                        <img src="assets/img/avatar77-sm.jpg" alt="author">

                        <div class="author-date">
                            <a id="modalTitle" class="h3 event-title" href="#"></a>
                            <div class="event__date">
                                <time id="modalDate" class="published" datetime="2017-03-24T18:18">

                                </time>
                            </div>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>
                            <ul class="more-dropdown">
                                <li>
                                    <a href="#">Edit Event Settings</a>
                                </li>
                                <li>
                                    <a href="#">Mark as Completed</a>
                                </li>
                                <li>
                                    <a href="#">Delete Event</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-lg-7 col-md-7 col-sm-12 col-12">
                            <div id="show-image" class="post__author author vcard inline-items">


                                <div id="show-name" class="author-date">

                                    <div class="post__date">
                                        <time id="modalDate" class="published" datetime="2017-03-24T18:18">

                                        </time>
                                    </div>
                                </div>

                            </div>

                            <p id="modalDescripcion">
                            </p>
                        </div>
                        <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                            <div class="event-description">
                                <h6 class="event-description-title">Evento Privado</h6>
                                <div class="place inline-items">
                                    <svg class="olymp-add-a-place-icon">
                                        <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-a-place-icon">
                                        </use>
                                    </svg>
                                    <span>Bogotá</span>
                                </div>

                                <a href="#" class="btn btn-blue btn-sm full-width">Aceptar Propuesta</a>
                            </div>
                        </div>
                    </div>

                </article>

            </div>
        </div>
    </div>
</div>

<!-- ... end Window-popup Event Private Public -->