
<!-- Open Topic Table -->

<table class="open-topic-table">

	<thead>

	<tr>
		<th class="author">
			Author
		</th>

		<th class="posts">
			Post
		</th>
	</tr>

	</thead>

	<tbody>

	<tr>
		<td class="topic-date" colspan="2">
			March 24th, 2016 at 6:42 pm
			<a href="#" class="reply-topic">Reply</a>
		</td>
	</tr>

	<tr>
		<td class="author">
			<div class="author-thumb">
				<img src="img/avatar2.jpg" alt="author">
			</div>
			<div class="author-content">
				<a href="perfil.html" class="h6 author-name">Marina Valentine</a>
				<div class="country">Long Island, NY</div>
			</div>
		</td>
		<td class="posts">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
			<p>Duis aute irure dolor in reprehenderit.</p>
			<p>Thanks!</p>
		</td>
	</tr>

	<tr>
		<td class="topic-date" colspan="2">
			March 24th, 2016 at 8:05 pm
			<a href="#" class="reply-topic">Reply</a>
		</td>
	</tr>

	<tr>
		<td class="author">
			<div class="author-thumb">
				<img src="img/avatar3.jpg" alt="author">
			</div>
			<div class="author-content">
				<a href="perfil.html" class="h6 author-name">Mathilda Brinker</a>
				<div class="country">Los Angeles, CA</div>
			</div>
		</td>
		<td class="posts">
			<p>Sed ut perspiciatis unde omnis iste natus error.</p>
		</td>
	</tr>

	<tr>
		<td class="topic-date" colspan="2">
			March 24th, 2016 at 8:23 pm
			<a href="#" class="reply-topic">Reply</a>
		</td>
	</tr>

	<tr>
		<td class="author">
			<div class="author-thumb">
				<img src="img/avatar1.jpg" alt="author">
			</div>
			<div class="author-content">
				<a href="perfil.html" class="h6 author-name">Nicholas Grissom</a>
				<div class="country">San Francisco, CA</div>
			</div>
		</td>
		<td class="posts">
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
			<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
		</td>
	</tr>

	<tr>
		<td class="topic-date" colspan="2">
			March 24th, 2016 at 9:29 pm
			<a href="#" class="reply-topic">Reply</a>
		</td>
	</tr>

	<tr>
		<td class="author">
			<div class="author-thumb">
				<img src="img/avatar7.jpg" alt="author">
			</div>
			<div class="author-content">
				<a href="perfil.html" class="h6 author-name">Carol Summers</a>
				<div class="country">Los Angeles, CA</div>
			</div>
		</td>
		<td class="posts">
			<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
		</td>
	</tr>

	<tr>
		<td class="topic-date" colspan="2">
			March 24th, 2016 at 10:57 pm
			<a href="#" class="reply-topic">Reply</a>
		</td>
	</tr>

	<tr>
		<td class="author">
			<div class="author-thumb">
				<img src="img/avatar4.jpg" alt="author">
			</div>
			<div class="author-content">
				<a href="perfil.html" class="h6 author-name">Chris Greyson</a>
				<div class="country">Austin, TX</div>
			</div>
		</td>
		<td class="posts">
			<p>Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
			<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
		</td>
	</tr>


	</tbody>
</table>

<!-- ... end Open Topic Table -->