<div class="CalendarP" id="calendarPage">
    <div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="text-center mb-4"> {{title}}</h1>
                <div class="ui-block responsive-flex">
                    <div class="ui-block-title">
                        <ul class="nav nav-tabs calendar-events-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="active nav-link" data-toggle="tab" href="#events" role="tab">
                                    Mis servicios solicitados
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#notifications" role="tab">
                                    Servicios Creados<span
                                        class="items-round-little bg-yellow">{{invitaciones_activas}}</span>
                                </a>
                            </li>

                        </ul>
                        <a href="#" class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="events" role="tabpanel">

            <div class="container">
                <div class="row">
                    <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="ui-block">


                            <!-- Today Events -->

                            <div class="today-events calendar">
                                <div class="today-events-thumb">
                                    <div class="date">
                                        <div class="day-number">{{currentDate | date:'d'}}</div>
                                        <div class="day-week">{{currentDate | date:'EEEE'}}</div>
                                        <div class="month-year">{{currentDate | date:'MMMM'}},
                                            {{currentDate | date:'y'}}
                                        </div>
                                    </div>
                                </div>

                                <div class="list">

                                    <div class="day-event" id="accordion-1" data-month="12" data-day="2">

                                        <div *ngFor="let contractor of contractors" class="card">
                                            <div class="card-header" id="headingOne-1">

                                                <div class="event-time">
                                                    <time datetime="2004-07-24T18:18">{{contractor.date}}</time>
                                                    <div class="more"><svg class="olymp-three-dots-icon">
                                                            <use
                                                                xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
                                                            </use>
                                                        </svg>
                                                        <ul class="more-dropdown">
                                                            <li>
                                                                <a href="#">Marcar como completado</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Eliminar Evento</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <h5 class="mb-0 title">
                                                    <a href="#" data-toggle="collapse" data-target="#collapseOne-1"
                                                        aria-expanded="true" aria-controls="collapseOne">
                                                        {{contractor.title}}
                                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                        <!-- <span class="event-status-icon" data-toggle="modal"
                                                            data-target="#public-event">
                                                            <img src="../../../assets/svg-icons/iconBO/config_module.svg"
                                                                alt="" class="olymp-calendar-icon" data-toggle="tooltip"
                                                                data-placement="top" data-original-title="UNCOMPLETED">
                                                        </span> -->
                                                    </a>
                                                </h5>
                                            </div>

                                            <div id="collapseOne-1" class="collapse" aria-labelledby="headingOne"
                                                data-parent="#headingOne-1">
                                                <div class="card-body">
                                                    {{contractor.description}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <!-- ... end Today Events -->
                        </div>
                    </div>
                    <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-5">
                        <div class="calendarFull mb-5">


                            <!-- Full Calendar -->

                            <full-calendar class="crumina-full-calendar mb-5" [options]="calendarOptions"></full-calendar>

                            <!-- ... end Full Calendar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="notifications" role="tabpanel">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="ui-block">


                            <table class="event-item-table event-item-table-fixed-width">

                                <thead>

                                    <tr>

                                        <th class="author">
                                            NOTIFICACIÓN
                                        </th>

                                        <th class="location">
                                            LUGAR
                                        </th>

                                        <th class="upcoming">
                                            FECHA
                                        </th>

                                        <th class="description">
                                            DESCRIPCIÓN
                                        </th>

                                        <th class="users">
                                            COSTO SERVICIO
                                        </th>

                                        <th class="add-event">

                                        </th>
                                    </tr>

                                </thead>

                                <tbody>
                                    <tr *ngFor="let contractor of contractors" class="event-item">
                                        <td class="author">
                                            <div class="event-author inline-items">
                                                <div class="author-thumb">
                                                    <img src="assets/img/avatar62-sm.jpg" alt="author">
                                                </div>
                                                <div class="author-date">
                                                    Has invitado a
                                                    <a href="{{'perfil/' + contractor.userContratante._id}}"
                                                        class="author-name h6">{{contractor.userContratante.name}}
                                                        {{contractor.userContratante.surname}}</a> al evento
                                                    <br> <b>{{contractor.title}}</b>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="location">
                                            <div class="place inline-items">
                                                <img class="olymp-add-a-place-icon"
                                                    src="../../../assets/svg-icons/iconBO/public_ubic.svg" alt="">

                                                <span>BOGOTA</span>
                                            </div>
                                        </td>
                                        <td class="upcoming">
                                            <div class="date-event inline-items align-left">
                                                <svg class="olymp-small-calendar-icon">
                                                    <use
                                                        xlink:href="assets/svg-icons/sprites/icons.svg#olymp-small-calendar-icon">
                                                    </use>
                                                </svg>

                                                <span class="month">{{contractor.date}}</span>

                                            </div>
                                        </td>
                                        <td class="description">
                                            <p class="description">{{contractor.description}}</p>
                                        </td>
                                        <td class="users">
                                            <p class="description">${{contractor.cost}}</p>
                                        </td>
                                        <td class="add-event">
                                            <a *ngIf="contractor.accept == 'aceptado'" class="btn btn-green btn-sm">Aceptado</a>
                                            <a *ngIf="contractor.accept == 'espera'" class="btn btn-yellow btn-sm">En espera</a>
                                            <a *ngIf="contractor.accept == 'rechazado'" class="btn btn-danger btn-sm">Rechazado</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <!-- Window-popup Event Public -->

    <div class="modal fade" id="public-event" tabindex="-1" role="dialog" aria-labelledby="public-event"
        aria-hidden="true">
        <div class="modal-dialog window-popup event-private-public public-event" role="document">
            <div class="modal-content" id="EventPublic">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <img src="../../../assets/svg-icons/iconBO/closeWhite.svg" class="olymp-close-icon" alt="cerrar">
                </a>
                <div class="modal-body">
                    <article class="hentry post has-post-thumbnail thumb-full-width private-event">

                        <div class="private-event-head inline-items">
                            <img src="assets/img/avatar77-sm.jpg" alt="author">

                            <div class="author-date">
                                <a class="h3 event-title" href="#">Green Goo in Gotham</a>
                                <div class="event__date">
                                    <time class="published" datetime="2017-03-24T18:18">
                                        Saturday at 9:00am
                                    </time>
                                </div>
                            </div>

                            <div class="more">
                                <svg class="olymp-three-dots-icon">
                                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                </svg>
                                <ul class="more-dropdown">
                                    <li>
                                        <a href="#">Editar evento</a>
                                    </li>
                                    <li>
                                        <a href="#">Marcar como completado</a>
                                    </li>
                                    <li>
                                        <a href="#">Eliminar evento</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="post-thumb">
                            <img src="assets/img/event-public.jpg" alt="photo">
                        </div>

                        <div class="row">
                            <div class="col col-lg-7 col-md-7 col-sm-12 col-12">
                                <div class="post__author author vcard inline-items">
                                    <img src="assets/img/avatar5-sm.jpg" alt="author">

                                    <div class="author-date">
                                        <a class="h6 post__author-name fn" href="#">Green Goo Rock</a> creo el
                                        <a href="#">Evento</a>
                                        <div class="post__date">
                                            <time class="published" datetime="2017-03-24T18:18">
                                                Marzo 11 at 9:52pm
                                            </time>
                                        </div>
                                    </div>

                                </div>

                                <p>
                                    We’ll be playing in the Gotham Bar in May. Come and have a great time with us!
                                    Entry: $12
                                </p>
                            </div>
                            <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                                <div class="event-description">
                                    <h6 class="event-description-title">Public Event</h6>
                                    <div class="place inline-items">
                                        <svg class="olymp-add-a-place-icon">
                                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-a-place-icon">
                                            </use>
                                        </svg>
                                        <span>Gotham Bar</span>
                                    </div>

                                    <div class="place inline-items">
                                        <svg class="olymp-add-a-place-icon">
                                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-a-place-icon">
                                            </use>
                                        </svg>
                                        <span>Mar 26, 2016 at 9:00am UTC-8</span>
                                    </div>

                                    <ul class="friends-harmonic">
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic5.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic10.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic7.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic8.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic2.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="all-users bg-breez">+24</a>
                                        </li>

                                        <li class="with-text">
                                            Will Assist
                                        </li>
                                    </ul>

                                    <a href="#" class="btn btn-blue btn-sm full-width">Invitar amigos</a>

                                    <a href="#" class="btn btn-yellow btn-sm full-width">  Asistir</a>
                                </div>
                            </div>
                        </div>


                        <div class="post-additional-info inline-items">

                            <a href="#" class="post-add-icon inline-items">
                                <img src="../../../assets/svg-icons/iconBO/public_generate_share.svg" alt="Icono Me gusta"
                                  class="olymp-heart-icon">
                                <span>8</span>
                            </a>

                            <ul class="friends-harmonic">
                                <li>
                                    <a href="#">
                                        <img src="assets/img/friend-harmonic1.jpg" alt="friend">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/friend-harmonic9.jpg" alt="friend">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/friend-harmonic7.jpg" alt="friend">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/friend-harmonic4.jpg" alt="friend">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/friend-harmonic8.jpg" alt="friend">
                                    </a>
                                </li>
                            </ul>

                            <div class="names-people-likes">
                                <a href="#">Diana </a>, <a href="#">Nicholas</a> y
                                <br>15 les gusta esto
                            </div>


                            <div class="comments-shared">
                                <a href="#" class="post-add-icon inline-items">
                                     <img src="../../../assets/svg-icons/iconBO/comment_oscuro.svg" alt="Icono comentario"
                                        class="olymp-speech-balloon-icon">
                                    <span>16 Comentarios</span>
                                </a>
                            </div>
                        </div>

                        <div class="control-block-button post-control-button">

                            <a href="#" class="btn btn-control">
                                <img src="assets/svg-icons/iconBO/start_pu.svg" alt="icono me gusta" class="olymp-like-post-icon">
                            </a>

                            <a href="#" class="btn btn-control">
                                <img src="assets/svg-icons/iconBO/comment_pu.svg" alt="icono comentar" class="olymp-like-post-icon">
                            </a>

                            <a href="#" class="btn btn-control">
                                <img src="assets/svg-icons/iconBO/compart_pu.svg" alt="icono compartir" class="olymp-like-post-icon">
                            </a>

                        </div>

                    </article>

                    <div class="mCustomScrollbar" data-mcs-theme="dark">

                        <ul class="comments-list">
                            <li class="comment-item">
                                <div class="post__author author vcard inline-items">
                                    <img src="assets/img/author-page.jpg" alt="author">

                                    <div class="author-date">
                                        <a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a>
                                        <div class="post__date">
                                            <time class="published" datetime="2017-03-24T18:18">
                                                38 hace minutos
                                            </time>
                                        </div>
                                    </div>

                                    <a href="#" class="more">
                                        <svg class="olymp-three-dots-icon">
                                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
                                            </use>
                                        </svg>
                                    </a>

                                </div>

                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der
                                    doloremque laudantium.</p>

                                <a href="#" class="post-add-icon inline-items">
                                     <img src="../../../assets/svg-icons/iconBO/public_generate_share.svg" alt="Icono Me gusta"
                                  class="olymp-heart-icon">
                                    <span>3</span>
                                </a>
                                <a href="#" class="reply"> Responder </a>
                            </li>
                            <li class="comment-item">
                                <div class="post__author author vcard inline-items">
                                    <img src="assets/img/avatar1-sm.jpg" alt="author">

                                    <div class="author-date">
                                        <a class="h6 post__author-name fn" href="#">Mathilda Brinker</a>
                                        <div class="post__date">
                                            <time class="published" datetime="2017-03-24T18:18">
                                                1 hace una hora
                                            </time>
                                        </div>
                                    </div>

                                    <a href="#" class="more">
                                        <svg class="olymp-three-dots-icon">
                                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
                                            </use>
                                        </svg>
                                    </a>

                                </div>

                                <p>Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem
                                    ipsum
                                    quia dolor sit amet, consectetur adipisci velit en lorem ipsum duis aute irure dolor
                                    in reprehenderit in voluptate velit esse cillum.
                                </p>

                                <a href="#" class="post-add-icon inline-items">
                                     <img src="../../../assets/svg-icons/iconBO/public_generate_share.svg" alt="Icono Me gusta"
                                  class="olymp-heart-icon">
                                    <span>8</span>
                                </a>
                                <a href="#" class="reply"> Responder </a>
                            </li>
                            <li class="comment-item">
                                <div class="post__author author vcard inline-items">
                                    <img src="assets/img/avatar10-sm.jpg" alt="author">

                                    <div class="author-date">
                                        <a class="h6 post__author-name fn" href="#">Elaine Dreyfuss</a>
                                        <div class="post__date">
                                            <time class="published" datetime="2017-03-24T18:18">
                                                5 hace minutos
                                            </time>
                                        </div>
                                    </div>

                                    <a href="#" class="more">
                                        <svg class="olymp-three-dots-icon">
                                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
                                            </use>
                                        </svg>
                                    </a>

                                </div>

                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der
                                    doloremque laudantium.</p>

                                <a href="#" class="post-add-icon inline-items">
                                     <img src="../../../assets/svg-icons/iconBO/public_generate_share.svg" alt="Icono Me gusta"
                                  class="olymp-heart-icon">
                                    <span>8</span>
                                </a>
                                <a href="#" class="reply"> Responder </a>
                            </li>
                        </ul>

                    </div>

                    <form class="comment-form inline-items">

                        <div class="post__author author vcard inline-items">
                            <img src="assets/img/author-page.jpg" alt="author">

                            <div class="form-group with-icon-right">
                                <textarea class="form-control" placeholder=""></textarea>
                                <div class="add-options-message">
                                    <a href="#" class="options-message">
                                        <svg class="olymp-camera-icon">
                                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-camera-icon">
                                            </use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... end Window-popup Event Public -->

<!-- Window-popup Event Private Public -->

<div class="modal fade" id="private-event" tabindex="-1" role="dialog" aria-labelledby="private-event"
    aria-hidden="true">
    <div class="modal-dialog window-popup event-private-public private-event" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <img src="../../../assets/svg-icons/iconBO/closeWhite.svg" class="olymp-close-icon" alt="cerrar">
            </a>
            <div class="modal-body">
                <article class="hentry post has-post-thumbnail thumb-full-width private-event">

                    <div class="private-event-head inline-items">
                        <img src="assets/img/avatar77-sm.jpg" alt="author">

                        <div class="author-date">
                            <a id="modalTitle" class="h3 event-title" href="#"></a>
                            <div class="event__date">
                                <time id="modalDate" class="published" datetime="2017-03-24T18:18">

                                </time>
                            </div>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>
                            <ul class="more-dropdown">
                                <li>
                                    <a href="#">Edit Event Settings</a>
                                </li>
                                <li>
                                    <a href="#">Mark as Completed</a>
                                </li>
                                <li>
                                    <a href="#">Delete Event</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-lg-7 col-md-7 col-sm-12 col-12">
                            <div id="show-image" class="post__author author vcard inline-items">


                                <div id="show-name" class="author-date">

                                    <div class="post__date">
                                        <time id="modalDate" class="published" datetime="2017-03-24T18:18">

                                        </time>
                                    </div>
                                </div>

                            </div>

                            <p id="modalDescripcion">
                            </p>
                        </div>
                        <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                            <div class="event-description">
                                <h6 class="event-description-title">Evento Privado</h6>
                                <div class="place inline-items">
                                    <svg class="olymp-add-a-place-icon">
                                        <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-a-place-icon">
                                        </use>
                                    </svg>
                                    <span>Bogotá</span>
                                </div>

                                <a href="#" class="btn btn-blue btn-sm full-width">Aceptar Propuesta</a>
                            </div>
                        </div>
                    </div>

                </article>

            </div>
        </div>
    </div>
</div>

<!-- ... end Window-popup Event Private Public -->

<!-- Window-popup Create Event -->

<div class="modal fade" id="create-event" tabindex="-1" role="dialog" aria-labelledby="create-event" aria-hidden="true">
    <div class="modal-dialog window-popup create-event" role="document">
        <div class="modal-content" id="createEventServices">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <img src="../../../assets/svg-icons/iconBO/closeWhite.svg" class="olymp-close-icon" alt="cerrar">
            </a>
            <div class="modal-header">
                <h6 class="title">Crear un evento</h6>
            </div>

            <div class="modal-body">
                <form class="form-group label-floating is-select">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">Evento</label>
                        <select class="selectpicker form-control">
                            <option value="MA">Evento Privado</option>
                            <option value="FE">Evento Social</option>
                        </select>
                    </div>

                    <div class="form-group label-floating">
                        <label class="control-label">Nombre de evento</label>
                        <input class="form-control" placeholder="" value="Take Querty to the Veterinarian" type="text">
                    </div>

                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Lugar</label>
                        <input class="form-control" placeholder="" value="" type="text">
                    </div>

                    <div class="form-group date-time-picker label-floating">
                        <label class="control-label">Fecha</label>
                        <input name="datetimepicker" type="date" value="26/03/2016">

                    </div>

                    <div class="form-group label-floating">
                        <label class="control-label">Hora</label>
                        <input class="form-control" type="time" placeholder="" value="09:00" type="text">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control"
                            placeholder="Event Description">I need to take Querty for a check up and ask the doctor if he needs a new tank.</textarea>
                    </div>


                    <svg class="olymp-happy-face-icon">
                        <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                    </svg>

                    <select class="selectpicker form-control style-2 show-tick" multiple data-live-search="true">
                        <option title="Green Goo Rock" data-content='<div class="inline-items">
                                    <div class="author-thumb">
                                        <img src="assets/img/avatar52-sm.jpg" alt="author">
                                    </div>
                                        <div class="h6 author-title">Green Goo Rock</div>

                                    </div>'>Green Goo Rock
                        </option>

                        <option title="Mathilda Brinker" data-content='<div class="inline-items">
                                        <div class="author-thumb">
                                            <img src="assets/img/avatar74-sm.jpg" alt="author">
                                        </div>
                                        <div class="h6 author-title">Mathilda Brinker</div>
                                    </div>'>Mathilda Brinker
                        </option>

                        <option title="Marina Valentine" data-content='<div class="inline-items">
                                        <div class="author-thumb">
                                            <img src="assets/img/avatar48-sm.jpg" alt="author">
                                        </div>
                                        <div class="h6 author-title">Marina Valentine</div>
                                    </div>'>Marina Valentine
                        </option>

                        <option title="Dave Marinara" data-content='<div class="inline-items">
                                        <div class="author-thumb">
                                            <img src="assets/img/avatar75-sm.jpg" alt="author">
                                        </div>
                                        <div class="h6 author-title">Dave Marinara</div>
                                    </div>'>Dave Marinara
                        </option>

                        <option title="Rachel Howlett" data-content='<div class="inline-items">
                                        <div class="author-thumb">
                                            <img src="assets/img/avatar76-sm.jpg" alt="author">
                                        </div>
                                        <div class="h6 author-title">Rachel Howlett</div>
                                    </div>'>Rachel Howlett
                        </option>

                    </select>

                    <button class="btn btn-yellow btn-lg full-width mt-4 mb-3">Crear Evento</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ... end Window-popup Create Event -->