<!-- <div class="col-lg-8">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="people">
        <!-- listado 
        <div *ngFor="let user of users" class="item-user">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a href="">
                            <img src="{{ url + 'get-image-user/' + user.image }}" alt="" *ngIf="user.image">
                            <img src="assets/user.png" class="avatar-default" alt="" *ngIf="!user.image">
                        </a>
                    </div>
                    <div class="user-name pull-left">
                        <p class="name-surname">
                            <a [routerLink]="['/perfil', user._id]">
                                {{user.name + ' ' + user.surname}}
                            </a>
                        </p>
                        <p class="nickname">
                            {{user.nick}}
                        </p>
                    </div>
                    <!-- Seguir/Dejar de seguir 
                    <div class="pull-right" *ngIf="user._id != identity._id">
                        <button class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0" (click)="followUser(user._id)">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Seguir
                        </button>
                        <button class="btn btn-primary" *ngIf="follows.indexOf(user._id) >= 0"
                            (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave(user._id)" (click)="unfollowUser(user._id)"
                            [class.btn-danger]="user._id == followUserOver">

                            <span *ngIf="user._id == followUserOver; else following">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                Dejar de seguir
                            </span>

                            <ng-template #following>
                                <span class="glyphicon glyphicon-ok-sign"></span>
                                Siguiendo
                            </ng-template>

                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- paginacion 
        <ul class="pagination pull-right">
            <li *ngIf="page > 1"><a [routerLink]="['/gente', prev_page]">Anterior</a></li>
            <li *ngIf="pages != page"><a [routerLink]="['/gente', next_page]">Siguiente</a></li>
        </ul>
    </div>
</div>

<sidebar></sidebar>
<div class="clearfix"></div> -->

<div class="ui-block-title">
    <h6 class="title text-right">Sugerencias</h6>
</div>
<ul class="widget w-friend-pages-added notification-list friend-requests">
    <li *ngFor="let user of users" class="inline-items">
        <div class="author-thumb">
            <img src="{{ url + 'get-image-user/' + user.image }}" alt="author" *ngIf="user.image">
            <img src="assets/user.png" alt="author" *ngIf="!user.image">
        </div>
        <div class="notification-event">
            <a [routerLink]="['/perfil', user._id]"
                class="h6 notification-friend">{{user.name + ' ' + user.surname}}</a>
        </div>
        <span *ngIf="user._id != identity._id" class="notification-icon">
            <span *ngIf="follows.indexOf(user._id) < 0" (click)="followUser(user._id)" class="icon-add without-text">
                <img src="assets/svg-icons/iconBO/more.svg" alt="Añadir" class="olymp-happy-face-icon">
            </span>
            <span *ngIf="follows.indexOf(user._id) >= 0" (mouseenter)="mouseEnter(user._id)"
                (mouseleave)="mouseLeave(user._id)" (click)="unfollowUser(user._id)">

                <span class="icon-add without-text" *ngIf="user._id == followUserOver; else following">
                    <img src="assets/svg-icons/iconBO/delete.svg" alt="" class="olymp-happy-face-icon">
                </span>

                <ng-template #following>
                    <span class="icon-add without-text">
                        <img src="assets/svg-icons/iconBO/check.svg" alt="" class="olymp-happy-face-icon">
                    </span>
                </ng-template>

            </span>
        </span>
    </li>

</ul>

<div class="place inline-items text-right">
    <a href="gente">
        <img src="assets/svg-icons/iconBO/more_point.svg" alt="icon ver más" class="olymp-three-dots-icon">
    </a>
</div>