<!-- <div class="col-lg-4 sidebar-32">
    <h1 class="h1-strong">Hola, {{identity.name}}</h1>
</div>

<div id="user-card" class="col-lg-4 panel panel-default pull-left">
    <div class="avatar pull-left">
        <img src="{{ url + 'get-image-user/' + identity.image }}" alt="" *ngIf="identity.image">
        <img src="assets/user.png" alt="" *ngIf="!identity.image">
    </div>

    <div class="name-surname pull-left">
        <a [routerLink]="['/perfil', identity._id]" class="username">
            {{identity.name + ' ' + identity.surname}}
        </a>
        <p class="nickname">{{identity.nick}}</p>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div class="stats" *ngIf="stats">
        <div class="following-data">
            <a [routerLink]="['/siguiendo', identity._id, 1]" >
                <span class="label-stats">
                    Siguiendo
                </span>
                <span class="number-stats">
                    {{stats.following}}
                </span>
            </a>
        </div>

        <div class="following-data">
            <a [routerLink]="['/seguidores', identity._id, 1]">
                <span class="label-stats">
                    Seguidores
                </span>
                <span class="number-stats">
                    {{stats.followed}}
                </span>
            </a>
        </div>

        <div class="following-data">
            <a [routerLink]="['/perfil', identity._id]">
                <span class="label-stats">
                    Publicaciones
                </span>
                <span class="number-stats">
                    {{stats.publications}}
                </span>
            </a>
        </div>
    </div>
</div>

<!-- form publicaciones
<div id="new-publication" class="col-lg-4 pull-left  panel panel-default">  

    <div class="alert alert-success" *ngIf="status == 'success'">
        Publicacion enviada correctamente 
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        No se pudo enviar la publicacion
    </div>

    <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event);" class="col-lg-10">
        <p>
            <label for="">Que estas pensado hoy?</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required></textarea>
            <span *ngIf="!text.valid && text.touched">
                el texto de la Publicacion es obligatorio
            </span>
        </p>

        <p>
            <label for="">Sube tu foto</label>
            <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
        </p>

        <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.valid">
    </form>
</div> -->

<div class="news-feed-form">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">
                <img class="icon_publicState" src="assets/svg-icons/iconBO/public_state.svg">
                <span>Estados</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link inline-items" data-toggle="tab" href="#profile-1" role="tab" aria-expanded="false">
                <img class="icon_publicState" src="assets/svg-icons/iconBO/public_photo.svg">
                <span>Fotos</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link inline-items" data-toggle="tab" href="#blog" role="tab" aria-expanded="false">
                <img class="icon_publicState video" src="assets/svg-icons/iconBO/public_video.svg">
                <span>Vídeos</span>
            </a>
        </li>
        <p>Crear publicación</p>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!--&nbsp;
        &nbsp;-->
        <div class="alert alert-success" *ngIf="status == 'success'">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Publicacion enviada correctamente
        </div>

        <div class="alert alert-danger" *ngIf="status == 'error'">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            No se pudo enviar la publicacion
        </div>
        <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
            <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event);">
                <div class="author-thumb">
                    <img src="{{ url + 'get-image-user/' + identity.image }}" alt="author" *ngIf="identity.image">
                    <img src="assets/user.png" alt="author" *ngIf="!identity.image">
                </div>
                <div class="form-group with-icon label-floating is-empty">
                    <label class="control-label">Comparte una publicación....</label>
                    <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control"
                        required></textarea>
                    <span *ngIf="!text.valid && text.touched">
                        el texto de la Publicacion es obligatorio
                    </span>
                </div>
                <div class="add-options-message">
                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top">
                        <img src="assets/svg-icons/iconBO/public_has.svg" class="olymp-camera-icon" alt="hashtag">
                    </a>

                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top">
                        <img src="assets/svg-icons/iconBO/public_ubic.svg" class="olymp-ubic-icon" alt="hashtag">
                    </a>
                    <button type="submit" class="btn btn-primary btn-md-2"
                        [disabled]="!newPubForm.valid">Publicar</button>
                    <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Previsualizar</button>

                </div>

            </form>
        </div>

        <div class="tab-pane" id="profile-1" role="tabpanel" aria-expanded="true">
            <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event);" enctype="multipart/form-data">
                <div class="author-thumb">
                    <img src="assets/img/author-page.jpg" alt="author">
                </div>
                <div class="form-group with-icon label-floating is-empty">
                    <label class="control-label">Comparte una publicación....</label>
                    <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control"
                        required></textarea>
                    <span *ngIf="!text.valid && text.touched">
                        el texto de la Publicacion es obligatorio
                    </span>
                </div>
                &nbsp;
                &nbsp;
                <p>
                    <input type="file" name="image" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
                </p>
                <div class="add-options-message">
                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top">
                        <img src="assets/svg-icons/iconBO/public_has.svg" class="olymp-camera-icon" alt="hashtag">
                    </a>

                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top">
                        <img src="assets/svg-icons/iconBO/public_ubic.svg" class="olymp-ubic-icon" alt="hashtag">
                    </a>
                    <button type="submit" class="btn btn-primary btn-md-2"
                        [disabled]="!newPubForm.valid">Publicar</button>
                    <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Previsualizar</button>

                </div>

            </form>
        </div>

        <div class="tab-pane" id="blog" role="tabpanel" aria-expanded="true">
            <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event);">
                <div class="author-thumb">
                    <img src="assets/img/author-page.jpg" alt="author">
                </div>
                <div class="form-group with-icon label-floating is-empty">
                    <label class="control-label">Comparte una publicación....</label>
                    <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control"
                        required></textarea>
                    <span *ngIf="!text.valid && text.touched">
                        el texto de la Publicacion es obligatorio
                    </span>
                </div>
                &nbsp;
                &nbsp;
                <p>
                    <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
                </p>
                <div class="add-options-message">
                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top">
                        <img src="assets/svg-icons/iconBO/public_has.svg" class="olymp-camera-icon" alt="hashtag">
                    </a>

                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top">
                        <img src="assets/svg-icons/iconBO/public_ubic.svg" class="olymp-ubic-icon" alt="hashtag">
                    </a>
                    <button type="submit" class="btn btn-primary btn-md-2"
                        [disabled]="!newPubForm.valid">Publicar</button>
                    <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Previsualizar</button>

                </div>

            </form>
        </div>
    </div>
</div>