<div class="container">
	<div class="row">

		<!-- Main Content -->

		<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			<div class="ui-block busTotal">
				<div class="ui-block-title">
					<div class="h6 title">Mostrando <span>{{numberItems}}</span> resultado(s) para: “<strong><span
								class="c-primary">{{word}}</span>”</strong></div>
				</div>
			</div>

			<div id="search-items-grid">

				<div *ngFor="let result of results" id="results" class="ui-block">

					<!-- Search Result -->
					<article class="hentry post searches-item">

						<div class="post__author author vcard inline-items">
							<img src="{{ url + 'get-image-user/' + result.image }}" *ngIf="result.image" alt="author">
							<img src="assets/user.png" *ngIf="!result.image" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn" href="{{'perfil/' + result._id}}">{{result.name}}
									{{result.surname}}</a>
								<div class="country">{{result.ciudad}}</div>
								<div class="country">{{result.localidad}}</div>
							</div>

							<span class="notification-icon">
								<a href="#" class="accept-request">
									<span class="icon-add without-text">
										<img src="assets/svg-icons/iconBO/add_search.svg" alt="Icono agregar"
											class="olymp-happy-face-icon iconCorrect">
									</span>
								</a>

								<a href="#" class="accept-request">
									<img src="assets/svg-icons/iconBO/message_search.svg" alt="Icono mensaje"
										class="olymp-chat---messages-icon iconCorrect">
								</a>
							</span>
						</div>

						<p class="user-description">
							<span class="title">Tipo de servicio:</span> {{result.tipo_servicio}}<br />
							<span *ngIf="result.servicios" class="title">Descripción:</span> {{result.servicios}}
						</p>

					</article>
					<!-- ... end Search Result -->
				</div>
			</div>

		</div>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">

			<div class="ui-block searchB mt-3">

				<h4 class="titleSearch mb-3">Ubicación</h4>

				<!-- W-Friend-Pages-Added -->

				<form class="searchForm">
					<label class="textLabelSearch">Departamento</label>
					<select id="filter" class="custom-select mb-3 country">
					</select>

					<label class="textLabelSearch">Municipio</label>
					<select id="filter2" class="custom-select mb-3">
					</select>

					<label class="textLabelSearch">Servicio</label>
					<select id="filter3" class="custom-select mb-3">
						<option value="">Filtrar</option>
						<option value="Aseo">Aseo</option>
						<option value="Mecanica">Mecanica</option>
						<option value="Desarrollo Backend">Desarrollo Backend</option>
						<option value="Desarrollo Frontend">Desarrollo Frontend</option>
						<option value="Carpinteria">Carpinteria</option>
						<option value="Albañil">Albañil</option>
					</select>
				</form>

				<!-- .. end W-Friend-Pages-Added -->
			</div>


		</div>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

			<!-- Sugerecia amigos -->
			<div class="ui-block">
				<users></users>
			</div>
		</div>

		<!-- ... end Right Sidebar -->

	</div>
</div>