<!-- <div class="col-lg-8">
    <h1 class="h1-strong">
        {{title}}

        <button class="btn btn-success btn-sm" (click)="refresh($event)">Mostrar Nuevas</button>
    </h1>

    <div id="publications">
        <div *ngFor="let publication of publications" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a href="">
                            <img src="{{ url + 'get-image-user/' + publication.user.image }}" alt=""
                                *ngIf="publication.user.image">
                            <img src="assets/user.png" class="avatar-default" alt="" *ngIf="!publication.user.image">
                        </a>
                    </div>

                    <div>
                        <a [routerLink]="['/perfil', publication.user._id]" class="user-name">
                            {{publication.user.name + ' ' + publication.user.surname}}
                        </a>
                        &nbsp; | &nbsp;
                        <span class="date">
                            {{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}
                        </span>
                    </div>

                    <h4 class="publication-text pull-left">
                        {{publication.text}}
                    </h4>

                    <div class="pull-right" *ngIf="publication.user._id == identity._id">
                        &nbsp;
                        <a href="#myModal{{publication._id}}" class="btn btn-md btn-danger" data-toggle="modal"
                            *ngIf="showImage != publication._id"><span class="glyphicon glyphicon-trash"></span></a>
                        &nbsp;

                        <!-- Modal HTML 
                        <div id="myModal{{publication._id}}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Seguro que quieres eliminar la publicacion?</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Si la borras no podras recuperarla</p>
                                        <p>{{publication.text}}</p>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger"
                                            (click)="deletePublication(publication._id)" data-dismiss="modal">Borrar publicacion</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="pull-right" *ngIf="publication.file != 'null'">
                        <button class="btn btn-warning pull-right" (click)="showThisImage(publication._id)"
                            *ngIf="showImage != publication._id">
                            <span class="glyphicon glyphicon-picture"></span>
                        </button>

                        <button class="btn btn-danger pull-right" (click)="hideThisImage(publication._id)"
                            *ngIf="showImage == publication._id">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>

                    <div class="col-lg-12" *ngIf="publication.file != 'null' && showImage == publication._id">
                        <br>
                        <img src="{{ url  + 'get-image-pub/' + publication.file}}" alt="" class="col-lg-12">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 text-center" *ngIf="publications && publications.length">
        <p>
            <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
                Ver mas publicaciones!!
            </button>
        </p>

    </div>

</div>

<sidebar (sended)="refresh($event)"></sidebar>
<div class="clearfix"></div> -->

<div class="container">
	<div class="row" id="timeLine">

		<!-- Main Content -->

		<div class="col col-xl-6 order-xl-2 col-lg-8 order-lg-1 col-md-12 col-sm-12 col-12">

			<div class="ui-block">

				<!-- News Feed Form  -->

				<sidebar (sended)="refresh($event)"></sidebar>
				<div class="clearfix"></div>

				<!-- ... end News Feed Form  -->
			</div>

			<div id="newsfeed-items-grid">

				<div *ngFor="let publication of publications" class="ui-block">

					<article class="hentry post has-post-thumbnail">

						<div class="post__author author vcard inline-items">
							<img src="{{ url + 'get-image-user/' + publication.user.image }}"
								*ngIf="publication.user.image" alt="author">
							<img src="assets/user.png" *ngIf="!publication.user.image" alt="author">
							<div class="author-date">
								<a class="h6 post__author-name fn"
									[routerLink]="['/perfil', publication.user._id]">{{publication.user.name + ' ' + publication.user.surname}}</a> 
									<p *ngIf="publication.isShared === true"> compartio la publicacion de <a class="h6 post__author-name fn"
										[routerLink]="['/perfil', publication.userOwn._id]">{{publication.userOwn.name + ' ' + publication.userOwn.surname}}</a>  </p>
								<div class="post__date">
									<time class="published" datetime="2004-07-24T18:18">
										{{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}
									</time>
								</div>
							</div>

							<div class="more"><svg class="olymp-three-dots-icon">
									<use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="#myModalEdit{{publication._id}}" data-toggle="modal">Editar Post</a>
									</li>
									<li>
										<a href="#myModal{{publication._id}}" data-toggle="modal">Eliminar Post</a>
									</li>
								</ul>
							</div>

							<!-- Modal HTML -->
							<div id="myModal{{publication._id}}" class="modal fade">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Seguro que quieres eliminar la publicacion?</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">
											<p style="margin-top: 10px;">Si la borras no podras recuperarla</p>
											<p>{{publication.text}}</p>

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Cancelar</button>
											<button type="button" class="btn btn-danger"
												(click)="deletePublication(publication._id)" data-dismiss="modal">Borrar
												publicacion</button>
										</div>
									</div>
								</div>
							</div>

							<!-- Modal HTML -->
							<div id="myModalEdit{{publication._id}}" class="modal fade">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Seguro que quieres editar la publicacion?</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">
											<form #userEditForm="ngForm"
												(ngSubmit)="updatePublicationSubmit(userEditForm,publication._id)">
												<!-- Title Field -->
												<div class="form-group">
													<label for="text">Publicacion</label>
													<!-- Title Input -->
													<input type="text" class="form-control inputEdit" name="text" #text="ngModel"
														[(ngModel)]="publication.text" required>
												</div>
												<div class="editPublicP text-right mt-2">
													<button type="button" class="btn btn-danger"
													data-dismiss="modal">Cancelar</button>
												<button type="button" class="btn btn-yellow ml-3" type="submit">
													Editar publicacion</button>
												</div>
											</form>

										</div>
										<div class="modal-footer">

										</div>
									</div>
								</div>
							</div>

							<!-- Modal HTML -->
							<div id="myModalShare{{publication._id}}" class="modal fade">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Seguro que quieres compartir esta publicacion?</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">
											<form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm)">
												<!-- Title Field -->
												<div class="form-group">
													<label for="text">Publicacion</label>
													<!-- Title Input -->
													<input type="text" class="form-control inputEdit" name="text" #text="ngModel"
														[(ngModel)]="publication.text" required>
												</div>
												<div class="editPublicP text-right mt-2">
													<button type="button" class="btn btn-danger"
													data-dismiss="modal">Cancelar</button>
												<button type="button" class="btn btn-yellow ml-3" type="submit">
													Compartir publicacion</button>
												</div>
											</form>

										</div>
										<div class="modal-footer">

										</div>
									</div>
								</div>
							</div>

						</div>

						<p>{{publication.text}}
						</p>

						<div class="post-thumb" *ngIf="publication.file != 'null' && (publication.file.includes('jpg') || publication.file.includes('png') || publication.file.includes('jpeg') || publication.file.includes('gif'))">
							<img src="{{ url  + 'get-image-pub/' + publication.file}}" alt="photo">
						</div>

						<div *ngIf="publication.file.includes('mp4') || publication.file.includes('avi') || publication.file.includes('wmv')" class="post-video">
							<div class="video-thumb">
								<img src="assets/img/last-photo2.jpg" alt="photo">
								<a target="_blank" href="{{ url  + 'get-image-pub/' + publication.file}}" class="play-video">
									<svg class="olymp-play-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-play-icon"></use></svg>
								</a>
							</div>
					
							<div class="video-content">
								<a class="h4 title">{{publication.text}}</a>
							</div>
						</div>

						<div class="post-additional-info inline-items">

							<span (click)="likePublication(publication._id)" class="post-add-icon inline-items">
								<img src="assets/svg-icons/iconBO/public_generate_share.svg" class="olymp-heart-icon"
									alt="icono me gusta">
								<span>
									<p>{{publication.likes}}
								</span>
							</span>

							<div class="names-people-likes">
								a {{publication.likes}} persona(s) le gusta esto
							</div>


							<div class="comments-shared">
								<a class="post-add-icon inline-items">
									<img src="assets/svg-icons/iconBO/public_generate_comp.svg" class="olymp-share-icon"
										alt="icono compartir">
									<span>0</span>
								</a>
								<a class="post-add-icon inline-items">
									<img src="assets/svg-icons/iconBO/public_generate_comment.svg"
										class="olymp-speech-balloon-icon" alt="icono comentarios">
									<span>{{ publication.comments?.length }}</span>
								</a>
							</div>


						</div>

						<div class="control-block-button post-control-button">

							<!-- <a href="#" class="btn btn-control">
								<img src="assets/svg-icons/iconBO/start_pu.svg" class="olymp-like-post-icon"
									alt="icono me gusta">
							</a> -->


							<a href="#" class="btn btn-control">
								<img src="assets/svg-icons/iconBO/comment_pu.svg" class="olymp-like-post-icon"
									alt="icono comentar">
							</a>

							<a (click)="sharePublication(publication.text, publication.user)" class="btn btn-control">
								<img src="assets/svg-icons/iconBO/compart_pu.svg" class="olymp-like-post-icon"
									alt="icono compartir">
							</a>

						</div>

					</article>
					<!-- Comments -->

					<ul class="comments-list" *ngFor="let comment of publication.comments">
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img src="{{ url + 'get-image-user/' + comment.commentatorId.image }}" alt="author"
									*ngIf="comment.commentatorId.image">
								<img src="assets/user.png" alt="author" *ngIf="!comment.commentatorId.image">

								<div class="author-date">
									<a class="h6 post__author-name fn"
										href="{{'perfil/' + comment.commentatorId._id}}">{{comment.commentatorId.name}}
										{{comment.commentatorId.surname}}</a>
									<div class="post__date">
										<time class="published" datetime="2004-07-24T18:18">
											{{(comment.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}
										</time>
									</div>
								</div>

								<div class="more"><svg class="olymp-three-dots-icon">
										<use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
										</use>
									</svg>
									<ul class="more-dropdown">
										<li>
											<a href="#myModalComment{{comment._id}}" data-toggle="modal">Eliminar
												Comentario</a>
										</li>
									</ul>
								</div>

								<!-- Modal HTML -->
								<div id="myModalComment{{comment._id}}" class="modal fade">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Seguro que quieres eliminar el comentario?</h4>
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
											</div>
											<div class="modal-body">
												<p>Si la borras no podras recuperarla</p>
												<p>{{comment.comment}}</p>

											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Cancelar</button>
												<button type="button" class="btn btn-danger"
													(click)="deleteComment(publication._id, comment._id)"
													data-dismiss="modal">Borrar
													Comentario</button>
											</div>
										</div>
									</div>
								</div>

							</div>

							<p>{{comment.comment}}</p>

						</li>
					</ul>

					<!-- ... end Comments -->

					<a href="#" class="more-comments">Ver más comentarios <span>+</span></a>


					<!-- Comment Form  -->

					<form [formGroup]="commentForm" class="comment-form inline-items">
						<div class="post__author author vcard inline-items">
							<img src="{{ url + 'get-image-user/' + identity.image }}" alt="author"
								*ngIf="identity.image">
							<img src="assets/user.png" alt="author" *ngIf="!identity.image">

							<div class="form-group with-icon-right ">
								<!-- Textarea Input -->
								<textarea name="comment" class="form-control" formControlName="comment"
									required></textarea>
								<!-- Validation -->
								<span
									*ngIf="!commentForm.controls.comment.valid && commentForm.controls.comment.touched">
									el texto del Comentario es obligatorio
								</span>
							</div>
						</div>

						<!-- Post Button -->
						<button name="button" type="submit" class="btn btn-md-2 btn-primary"
							(click)="postComment(publication._id)" [disabled]="!commentForm.valid">Publicar</button>

						<button
							class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>
					</form>

					<!-- <div class="alert alert-success" *ngIf="status == 'success'">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Comentario enviado correctamente
					</div>

					<div class="alert alert-danger" *ngIf="status == 'error'">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						No se pudo enviar el comentario
					</div> -->

				</div>



			</div>

			<div class="col-lg-12 text-center" *ngIf="publications && publications.length">
				<p>
					<button class="btn btn-secondary" (click)="viewMore()" *ngIf="!noMore">
						Ver mas publicaciones!!
					</button>
				</p>

			</div>

		</div>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<aside class="col col-xl-2 order-xl-1 col-md-5 col-sm-5 col-12">
			<!--	<div class="ui-block">
				
				<div class="widget w-wethear">
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				
					<div class="wethear-now inline-items">
						<div class="temperature-sensor">64°</div>
						<div class="max-min-temperature">
							<span>58°</span>
							<span>76°</span>
						</div>
				
						<svg class="olymp-weather-partly-sunny-icon"><use xlink:href="assets/svg-icons/sprites/icons-weather.svg#olymp-weather-partly-sunny-icon"></use></svg>
					</div>
				
					<div class="wethear-now-description">
						<div class="climate">Partly Sunny</div>
						<span>Real Feel: <span>67°</span></span>
						<span>Chance of Rain: <span>49%</span></span>
					</div>
				
					<ul class="weekly-forecast">
				
						<li>
							<div class="day">sun</div>
							<svg class="olymp-weather-sunny-icon"><use xlink:href="assets/svg-icons/sprites/icons-weather.svg#olymp-weather-sunny-icon"></use></svg>
				
							<div class="temperature-sensor-day">60°</div>
						</li>
				
						<li>
							<div class="day">mon</div>
							<svg class="olymp-weather-partly-sunny-icon"><use xlink:href="assets/svg-icons/sprites/icons-weather.svg#olymp-weather-partly-sunny-icon"></use></svg>
							<div class="temperature-sensor-day">58°</div>
						</li>
				
						<li>
							<div class="day">tue</div>
							<svg class="olymp-weather-cloudy-icon"><use xlink:href="assets/svg-icons/sprites/icons-weather.svg#olymp-weather-cloudy-icon"></use></svg>
				
							<div class="temperature-sensor-day">67°</div>
						</li>
				
						<li>
							<div class="day">wed</div>
							<svg class="olymp-weather-rain-icon"><use xlink:href="assets/svg-icons/sprites/icons-weather.svg#olymp-weather-rain-icon"></use></svg>
				
							<div class="temperature-sensor-day">70°</div>
						</li>
				
						<li>
							<div class="day">thu</div>
							<svg class="olymp-weather-storm-icon"><use xlink:href="assets/svg-icons/sprites/icons-weather.svg#olymp-weather-storm-icon"></use></svg>
				
							<div class="temperature-sensor-day">58°</div>
						</li>
				
						<li>
							<div class="day">fri</div>
							<svg class="olymp-weather-snow-icon"><use xlink:href="assets/svg-icons/sprites/icons-weather.svg#olymp-weather-snow-icon"></use></svg>
				
							<div class="temperature-sensor-day">68°</div>
						</li>
				
						<li>
							<div class="day">sat</div>
				
							<svg class="olymp-weather-wind-icon-header"><use xlink:href="assets/svg-icons/sprites/icons-weather.svg#olymp-weather-wind-icon-header"></use></svg>
				
							<div class="temperature-sensor-day">65°</div>
						</li>
				
					</ul>
				
					<div class="date-and-place">
						<h5 class="date">Saturday, March 26th</h5>
						<div class="place">San Francisco, CA</div>
					</div>
				
				</div>
				
			</div>

			<div class="ui-block">	
				<div class="w-calendar">
					<div class="calendar">
						<header>
							<h6 class="month">May</h6>
						</header>
						<table>
							<thead>
							<tr><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td><td>San</td></tr>
							</thead>
							<tbody>
							<tr>
								<td data-month="12" data-day="1">1</td>
								<td data-month="12" data-day="2">
									2
								</td>
								<td data-month="12" data-day="3">3</td>
								<td data-month="12" data-day="4">4</td>
								<td data-month="12" data-day="5">5</td>
								<td data-month="12" data-day="6">6</td>
								<td data-month="12" data-day="7">7</td>
							</tr>
							<tr>
								<td data-month="12" data-day="8">8</td>
								<td data-month="12" data-day="9">9</td>
								<td data-month="12" data-day="10">10</td>
								<td data-month="12" data-day="11">11</td>
								<td data-month="12" data-day="12">12</td>
								<td data-month="12" data-day="13">13</td>
								<td data-month="12" data-day="14">14</td>
							</tr>
							<tr>
								<td data-month="12" data-day="15">15</td>
								<td data-month="12" data-day="16">16</td>
								<td data-month="12" data-day="17">17</td>
								<td data-month="12" data-day="18">18</td>
								<td data-month="12" data-day="19">19</td>
								<td data-month="12" data-day="20">20</td>
								<td data-month="12" data-day="21">21</td>
							</tr>
							<tr>
								<td data-month="12" data-day="22">22</td>
								<td data-month="12" data-day="23">23</td>
								<td data-month="12" data-day="24">24</td>
								<td data-month="12" data-day="25">25</td>
								<td data-month="12" data-day="26">26</td>
								<td data-month="12" data-day="27">27</td>
								<td data-month="12" data-day="28">28</td>
							</tr>
							<tr>
								<td data-month="12" data-day="29">29</td>
								<td data-month="12" data-day="30">30</td>
								<td data-month="12" data-day="31">31</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Pages You May Like</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
				
				<ul class="widget w-friend-pages-added notification-list friend-requests">
					<li class="inline-items">
						<div class="author-thumb">
							<img src="assets/img/avatar41-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">The Marina Bar</a>
							<span class="chat-message-item">Restaurant / Bar</span>
						</div>
						<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
							<a href="#">
								<svg class="olymp-star-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg"></use></svg>
							</a>
						</span>
				
					</li>
				
					<li class="inline-items">
						<div class="author-thumb">
							<img src="assets/img/avatar42-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Tapronus Rock</a>
							<span class="chat-message-item">Rock Band</span>
						</div>
						<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
							<a href="#">
								<svg class="olymp-star-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg"></use></svg>
							</a>
						</span>
				
					</li>
				
					<li class="inline-items">
						<div class="author-thumb">
							<img src="assets/img/avatar43-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Pixel Digital Design</a>
							<span class="chat-message-item">Company</span>
						</div>
						<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
							<a href="#">
								<svg class="olymp-star-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg"></use></svg>
							</a>
						</span>
					</li>
				
					<li class="inline-items">
						<div class="author-thumb">
							<img src="assets/img/avatar44-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Thompson’s Custom Clothing Boutique</a>
							<span class="chat-message-item">Clothing Store</span>
						</div>
						<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
							<a href="#">
								<svg class="olymp-star-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg"></use></svg>
							</a>
						</span>
				
					</li>
				
					<li class="inline-items">
						<div class="author-thumb">
							<img src="assets/img/avatar45-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Crimson Agency</a>
							<span class="chat-message-item">Company</span>
						</div>
						<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
							<a href="#">
								<svg class="olymp-star-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg"></use></svg>
							</a>
						</span>
					</li>
				
					<li class="inline-items">
						<div class="author-thumb">
							<img src="assets/img/avatar46-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Mannequin Angel</a>
							<span class="chat-message-item">Clothing Store</span>
						</div>
						<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
							<a href="#">
								<svg class="olymp-star-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg"></use></svg>
							</a>
						</span>
					</li>
				</ul>
				
			</div>-->
		</aside>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<aside class="col col-xl-3 order-xl-3 col-lg-4 order-lg-3 col-md-6 col-sm-6 col-12">

			<!-- Eventos -->
			<div class="ui-block">


				<!-- Today Events -->

				<div class="today-events calendar">
					<div class="today-events-thumb">
						<div class="date">
							<div class="day-number">{{currentDate | date:'d'}}</div>
							<div class="day-week">{{currentDate | date:'EEEE'}}</div>
							<div class="month-year">{{currentDate | date:'MMMM'}}, {{currentDate | date:'y'}} </div>
						</div>
					</div>

					<div class="list">
						<!-- <div class="control-block-button">
							<a href="#" class="btn btn-control bg-breez" data-toggle="modal"
								data-target="#create-event">
								<img class="olymp-plus-icon"
									src="../../../assets/svg-icons/iconBO/iconMore.svg" alt="">
							</a>
						</div> -->

						<div class="day-event" id="accordion-1" data-month="12" data-day="2">

							<div *ngFor="let provider of providers" class="card">
								<div class="card-header" id="headingOne-1">

									<div class="event-time">
										<time datetime="2004-07-24T18:18">{{provider.date}}</time>
									</div>

									<h5 class="mb-0 title">
										<a href="#" data-toggle="collapse" data-target="#collapseOne-1"
											aria-expanded="true" aria-controls="collapseOne">
											{{provider.title}}
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</a>
									</h5>
								</div>

								<div id="collapseOne-1" class="collapse" aria-labelledby="headingOne"
									data-parent="#headingOne-1">
									<div class="card-body">
										{{provider.description}}
									</div>
								</div>
							</div>

						</div>



					</div>
				</div>

				<!-- ... end Today Events -->
			</div>

			<!-- Sugerecia amigos -->
			<div class="ui-block">
				<users></users>
				<!-- ... end W-Action -->
			</div>

		</aside>

		<!-- ... end Right Sidebar -->

	</div>
</div>