
<!-- Comments -->

<ul class="comments-list">
	<li class="comment-item">
		<div class="post__author author vcard inline-items">
			<img src="img/avatar2-sm.jpg" alt="author">

			<div class="author-date">
				<a class="h6 post__author-name fn" href="#">Nicholas Grissom</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						28 hace minutos
					</time>
				</div>
			</div>

			<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

		</div>

		<p>Dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>

		<a href="#" class="post-add-icon inline-items">
			<img src="./svg-icons/iconBO/public_generate_share.svg" alt="Icono Me gusta" class="olymp-heart-icon">
			<span>6</span>
		</a>
		<a href="#" class="reply"> Responder </a>
	</li>
	<li class="comment-item">
		<div class="post__author author vcard inline-items">
			<img src="img/avatar19-sm.jpg" alt="author">

			<div class="author-date">
				<a class="h6 post__author-name fn" href="#">Jimmy Elricson</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						2 horas atras
					</time>
				</div>
			</div>

			<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

		</div>

		<p>Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem ipsum
			quia dolor sit amet, consectetur adipisci velit en lorem ipsum duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
		</p>

		<a href="#" class="post-add-icon inline-items">
			<img src="./svg-icons/iconBO/public_generate_share.svg" alt="Icono Me gusta" class="olymp-heart-icon">
			<span>8</span>
		</a>
		<a href="#" class="reply"> Responder </a>
	</li>
</ul>

<!-- ... end Comments -->
