
<!-- Comments -->

<ul class="comments-list">
	<li class="comment-item">
		<div class="post__author author vcard inline-items">
			<img src="img/author-page.jpg" alt="author">

			<div class="author-date">
				<a class="h6 post__author-name fn" href="perfil.html">James Spiegel</a>
				<div class="post__date">
					<time class="published" datetime="2004-07-24T18:18">
						38 hace minutos
					</time>
				</div>
			</div>

			<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

		</div>

		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

		<a href="#" class="post-add-icon inline-items">
			<img src="./svg-icons/iconBO/public_generate_share.svg" alt="Icono Me gusta" class="olymp-heart-icon">
			<span>3</span>
		</a>
		<a href="#" class="reply"> Responder </a>
	</li>
	<li class="comment-item">
		<div class="post__author author vcard inline-items">
			<img src="img/avatar1-sm.jpg" alt="author">

			<div class="author-date">
				<a class="h6 post__author-name fn" href="#">Mathilda Brinker</a>
				<div class="post__date">
					<time class="published" datetime="2004-07-24T18:18">
						1 hace una hora
					</time>
				</div>
			</div>

			<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

		</div>

		<p>Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem ipsum
			quia dolor sit amet, consectetur adipisci velit en lorem ipsum duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
		</p>

		<a href="#" class="post-add-icon inline-items">
			<img src="./svg-icons/iconBO/public_generate_share.svg" alt="Icono Me gusta" class="olymp-heart-icon">
			<span>8</span>
		</a>
		<a href="#" class="reply"> Responder </a>
	</li>
</ul>

<!-- ... end Comments -->
