<form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
    <div class="user-image-for-edit img" *ngIf="user.image">
        <img *ngIf="user.image" src="{{ url +  'get-image-user/' + user.image}}" alt="">
        <img src="assets/user.png" *ngIf="!user.image">
    </div>

    <p>
        <label for="">Sube tu avatar</label>
        <input type="file" plaveholder="Subir Imagen" (change)="fileChangeEvent($event)">
    </p>

    <input type="submit" value="{{title}}" class="btn btn-yellow" [disabled]="!userEditForm.form.valid">
</form>