<!-- Search Result -->

<article class="hentry post searches-item">

	<div class="post__author author vcard inline-items">
		<img src="img/avatar41-sm.jpg" alt="author">

		<div class="author-date">
			<a class="h6 post__author-name fn" href="perfil.html">The Marina Bar</a>
			<div class="country">Restaurant / Bar</div>
		</div>

		<span class="notification-icon">
			<a href="#" class="accept-request fav-pages">
				<span class="icon-add without-text">
					<svg class="olymp-star-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
				</span>
			</a>

			<a href="#" class="accept-request chat-message">
				<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
			</a>
		</span>

		<div class="more">
			<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Editar Post</a>
				</li>
				<li>
					<a href="#">Eliminar Post</a>
				</li>
				<li>
					<a href="#">Desactivar Notificaciones</a>
				</li>
				<li>
					<a href="#"> Seleccionar como destacado </a>
				</li>
			</ul>
		</div>

	</div>

	<p class="user-description">
		<span class="title">Page Intro:</span> We’re a little resto bar that specializes in Seafood. All Saturdays we have Karaoke Night!
		<span class="title">Based in:</span> Miami, Florida
		<span class="title">Contact:</span> reservations@marinarestobar.com
	</p>

	<div class="post-block-photo js-zoom-gallery">
		<a href="img/post-photo4.jpg" class="col col-3-width"><img src="img/post-photo4.jpg" alt="photo"></a>
		<a href="img/post-photo7.jpg" class="col col-3-width"><img src="img/post-photo7.jpg" alt="photo"></a>
		<a href="img/post-photo2.jpg" class="more-photos col-3-width">
			<img src="img/post-photo2.jpg" alt="photo">
			<span class="h2">+988</span>
		</a>
	</div>

	<div class="post-additional-info">

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="img/friend-harmonic11.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic10.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic7.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/friend-harmonic8.jpg" alt="friend">
				</a>
			</li>
			<li>
				<a href="#" class="all-users">+33</a>
			</li>
		</ul>
		<div class="names-people-likes">
			<a href="#">14 Friends</a>
			Added this Page to Favs
		</div>

		<div class="friend-count">
			<a href="#" class="friend-count-item">
				<div class="h6">599</div>
				<div class="title">Fav +</div>
			</a>
			<a href="#" class="friend-count-item">
				<div class="h6">2.8K</div>
				<div class="title">Posts</div>
			</a>
			<a href="#" class="friend-count-item">
				<div class="h6">35</div>
				<div class="title">Videos</div>
			</a>
		</div>

	</div>

</article>
<!-- ... end Search Result -->