<div class="container">
    <div class="row">
        <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-2 order-sm-2 col-sm-12 col-12">
            <div class="alert alert-success" *ngIf="status == 'success'">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Has enviado el mensaje correctamente, miralo en <a [routerLink]="['/mensajes/enviados']"> tus mensajes enviados</a>
            </div>
        
            <div class="alert alert-danger" *ngIf="status == 'error'">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                o se ha podido enviar el mensaje...
            </div>
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Enviar Mensajes</h6>
                    <a href="#" class="more"><svg class="olymp-three-dots-icon">
                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                        </svg></a>
                </div>

                <div class="ui-block-title">
                    <!--Formulario envio mensajes-->
                    <form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
                        
                            <label class="control-label">Para:</label>
                            <!--Listado de seguidores-->
                            <div class="form-group label-floating">
                            <select class="selectpicker form-control" *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver"
                                 required>
                                 <option value="" disabled selected hidden>Elija un usuario:</option>
                                <option *ngFor="let follow of follows" value="{{follow.user._id}}">
                                    {{follow.user.name + ' ' + follow.user.surname}}
                                </option>
                            </select>
                            </div>
                
                        <p>
                            <label class="control-label">Mensaje</label>
                            <textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required></textarea>
                
                            <span *ngIf="!text.valid && text.touched">
                                El mensaje es obligatorio
                            </span>
                        </p>
                
                        <input type="submit" value="{{title}}" class="btn btn-primary btn-lg full-width">
                
                    </form>
                </div>

            </div>

        </div>

        <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-1 order-sm-1 col-sm-12 col-12">
			<div class="ui-block">

				<!-- Your Profile  -->
				
				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Mensajeria</h6>
					</div>
				
					<div class="ui-block-title">
						<a href="/mensajes/enviar"> Enviar mensajes </a>
					</div>
					<div class="ui-block-title">
						<a href="/mensajes/recibidos">Mensajes recibidos</a>
					</div>
					<div class="ui-block-title">
						<a href="/mensajes/enviados"> Mensajes enviados </a>
					</div>
				</div>
				
				<!-- ... end Your Profile  -->

			</div>
		</div>
    </div>
</div>