<div class="container">
	<div class="row">
<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-2 order-sm-2 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Mensajes Enviados</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>

				<div class="ui-block" *ngIf="messages">
						<!-- Notification List Chat Messages -->
						
						<ul *ngFor="let message of messages" class="notification-list chat-message">
							<li>
								<div class="author-thumb">
                                    <img src="{{ url + 'get-image-user/' + message.receiver.image }}" alt="author" *ngIf="message.receiver.image">
                                    <img src="assets/user.png" alt="" *ngIf="!message.receiver.image">
								</div>
								<div class="notification-event">
                                    <a class="h6 notification-friend" [routerLink]="['/perfil', message.receiver._id]">
                                        {{ message.receiver.name + ' ' + message.receiver.surname}}
                                    </a>
									<span class="chat-message-item">{{message.text}}</span>
									<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">{{(message.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</time></span>
								</div>
								<span class="notification-icon">
																<svg class="olymp-chat---messages-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
															</span>
						
								<div class="more">
									<svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								</div>
							</li>
					
						</ul>
						
						<!-- ... end Notification List Chat Messages -->	
				</div>

			</div>

			
			<!-- Pagination -->
			
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
					<li *ngIf="page > 1" class="page-item">
						<a class="page-link" [routerLink]="['/mensajes/enviados', prev_page]">Anterior</a>
					</li>
					<li *ngIf="pages != page" class="page-item">
						<a class="page-link" [routerLink]="['/mensajes/recibidos', next_page]">Siguiente</a>
					</li>
				</ul>
			</nav>
			
			<!-- ... end Pagination -->

		</div>

		<div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-1 order-sm-1 col-sm-12 col-12">
			<div class="ui-block">

				<!-- Your Profile  -->
				
				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Mensajeria</h6>
					</div>
				
					<div class="ui-block-title">
						<a href="/mensajes/enviar"> Enviar mensajes </a>
					</div>
					<div class="ui-block-title">
						<a href="/mensajes/recibidos">Mensajes recibidos</a>
					</div>
					<div class="ui-block-title">
						<a href="/mensajes/enviados"> Mensajes enviados </a>
					</div>
				</div>
				
				<!-- ... end Your Profile  -->

			</div>
		</div>
	</div>
</div>